<!-- begin theme-switcher. DEMO ONLY! -->
<div class="canvas is-{{#if rtl}}left{{else}}right{{/if}} is-fixed bg-white shadow-4dp" id="style-switcher">
  <div class="h1 demo-header shadow-4dp" data-target="#style-switcher" data-toggle="canvas">
    <i class="fa fa-fw fa-cog"></i>
  </div>
  {{> theme-switcher-content}}
</div>
<!-- END: theme-switcher. -->
