<!-- begin .navbar-header-left with image -->
<div class="navbar-header-left b-r">
  <!--begin logo-->
  <a class="logo" href="index.html">
    <span class="logo-xs visible-xs">
      <img src="assets/img/logo_xs.svg" alt="logo-xs">
    </span>
    <span class="logo-lg hidden-xs">
        <img src="assets/img/logo_lg.svg" alt="logo-lg">
    </span>
  </a>
  <!--end logo-->
</div>
<!-- END: .navbar-header-left with image -->
