<!-- begin .navbar-header-left with image -->
<div class="navbar-header-left border-end">
  <!--begin logo-->
  <a class="logo" href="index.html">
<img src="assets/img/chl.svg" height="24" alt="Logo">
    </span>
  </a>
  <!--end logo-->
</div>
<!-- END: .navbar-header-left with image -->
