<div class="box">
  <header>
    <button class="btn btn-default visible-xs m-r-15" data-toggle=canvas data-target=#email-left>
      <i class="fa fa-fw fa-bars"></i>
    </button>
    <h4>Inbox</h4>
    <div class="box-tools">
      <div class="icon-after-input">
        <input class="form-control input-sm" id="atext" placeholder="Search" type="text">
        <div class="icon">
          <i class="fa fa-fw fa-search"></i>
        </div>
      </div>
    </div>
  </header>
  <div class="box-body">
    {{> mail-test}}
  </div>
</div>
