<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <div class="checkbox">
          {{> checkbox checkclass="fa-lg"}}
        </div>
      </th>
      <th colspan="3">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle m-r-5" data-toggle="dropdown" aria-expanded="false">
            Filter <b class="caret"></b>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Read</a></li>
            <li><a href="#">Unread</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" data-loading-text="Loading...">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </th>
      <th colspan="2" class="hidden-xs">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each db.users as |user|}}
      <tr class="unread">
        <td>
          <div class="checkbox m-v-0 text-success">
            {{> checkbox checkclass="fa-lg"}}
          </div>
        </td>
        <td class="hidden-xs"><i class="fa fa-star-o"></i></td>
        <td class="hidden-xs">
          <span data-toggle="tooltip" title="{{user.email}}">
          {{user.name}}
        </span>
        </td>
        <td class="visible-xs">
          {{user.username}}
        </td>
        <td>
          <a href="app-mail-read.html">
            <span class="label label-info m-r-10">Work</span>
            {{#each ../db.posts as |post|}}
              {{#is post.id user.id}}
                {{post.title}}
              {{/is}}
            {{/each}}
          </a>
        </td>
        <td class="hidden-xs"><i class="fa fa-paperclip"></i></td>
        <td class="text-right">
          <span data-momentum="relative" data-time="2016-11-05T12:15:15+03:00" data-toggle="tooltip" title="" data-original-title="2016-11-05T12:15:15+03:00"></span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
