<div class="box navbar-collapse collapse mail-left" id="mail-left">
  <header>
    <div class="box-title">
      <button class="btn btn-block btn-danger btn-rect text-uppercase" type="button" data-toggle="modal" data-target="#modal-mail-compose">
        compose
      </button>
    </div>
    <div class="box-tools">
        <button class="btn btn-default btn-rect visible-xs m-l-15" data-toggle=canvas data-target=#email-left>
          <i class="fa fa-fw fa-bars"></i>
        </button>
    </div>
  </header>
  <div class="box-body">
    <ul class="nav nav-bordered">
      <li class="nav-header">Folder</li>
      <li>
        <a class=active href="app-mail-inbox.html">
          <i class="fa fa-fw fa-envelope"></i> Inbox
          <span class="pull-right"><span class="label label-primary">43</span></span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-fw fa-paper-plane"></i> Sent
          <span class="pull-right">
                <span class="label label-success">4</span>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-fw fa-pencil"></i> Draft
          <span class="pull-right">
                <span class="label label-warning">3</span>
          </span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-fw fa-trash"></i> Trash
          <span class="pull-right">
                <span class="label label-default">13</span>
          </span>
        </a>
      </li>


      <li>
        <a href="#">
          <i class="fa fa-fw fa-trash"></i> Spam
          <span class="pull-right">
                <span class="label label-default">7</span>
          </span>
        </a>
      </li>
      <li class="nav-divider"></li>
      <li class="nav-header">Labels</li>

      <li>
        <a href="#">
              Service
              <span class="pull-right">4</span>
            </a>
      </li>

      <li>
        <a href="#">
              Support
              <span class="pull-right">7</span>
            </a>
      </li>

      <li>
        <a href="#">
              Request
              <span class="pull-right">4</span>
            </a>
      </li>

      <li>
        <div class="icon-after-input">
          <div class="b-a bg-white u-sizeFull p-a-0">
            <input type="text" placeholder="New Label" id="insignia">
          </div>

          <div class="icon">
            <button class="btn btn-xs btn-default">
                  <i class="fa fa-fw fa-plus"></i>
                </button>
          </div>
        </div>
        <!-- /input-group -->
      </li>

    </ul>
  </div>
  <footer class="p-a-15">
    <div class="clearfix">
      <span class="pull-right">1234</span> All Mail
    </div>
  </footer>
</div>
