<div class="box">
  <header class="b-b">
    <button class="btn btn-default visible-xs m-r-15" data-toggle=canvas data-target=#email-left>
      <i class="fa fa-fw fa-bars"></i>
    </button>
    <h4>qui est esse</h4>
    <div class="box-tools">
      <button type="button" class="btn btn-default b-r-0">
        <i class="fa fa-reply"></i>
      </button>
        <button type="button" class="btn btn-default b-r-0">
          <i class="fa fa-print"></i>
        </button>
    </div>
  </header>
  <div class="box-body">
    <div class="media">
      <div class="media-left">
        <img class="media-object img-circle" src="../assets/img/w3.svg" alt="...">
      </div>
      <div class="media-body">
        <span class="pull-right">12:34 AM</span>
        <h4 class="media-heading text-orange">Leanne Graham</h4>
        <h5 class="text-muted">From : Sincere@april.biz</h5>
      </div>
    </div>
    <hr>
    <p class="text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr>
    <h4><i class="fa fa-paperclip"></i> Attachment (3)</h4>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" data-src="../assets/img/p11.svg" role=button>
          <img src="../assets/img/p11.svg" alt="p11">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" data-src="../assets/img/p12.svg" role=button>
          <img src="../assets/img/p12.svg" alt="p12">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" data-src="../assets/img/p13.svg" role=button>
          <img src="../assets/img/p13.svg" alt="p13">
        </div>
      </div>
    </div>
  </div>
</div>
