<header class="canvas is-fixed is-right bg-orange" id="pR">
  <div class="p-v-20 p-h-15">
      <a class="text-white b-a b-white b-w-2 p-v-10 p-h-15 f-6" href="#pR" data-toggle="canvas">
        <i class="fa fa-times"></i>
      </a>
    </div>
</header>
