<header class="canvas is-fixed is-top bg-wet-asphalt p-a-15" id="pT">
  <div class="u-flex u-flexRow u-flexWrap u-flexAlignItemsCenter">
    <div class="text-white u-sizeFill h2 m-a-0">Hello !</div>
    <div class="shadow-2dp">
      <a href="#" class="bg-peter-river p-a-15 text-white">
        <i class="fa fa-fw fa-lg fa-shopping-cart"></i>Purchase
      </a>
      <a href="#pT" data-toggle="canvas" class="text-white p-a-15 bg-wisteria">
        <i class="fa fa-fw fa-lg fa-times"></i>
      </a>
    </div>
  </div>
</header>
