<header class="canvas is-fixed is-top bg-dark p-a-15" id="pT">
  <div class="d-flex flex-row flex-wrap align-items-center">
    <div class="text-white flex-fill h2 m-a-0">Hello !</div>
    <div class="shadow-2dp">
      <a href="#" class="bg-primary p-a-15 text-white">
        <i class="fa fa-fw fa-lg fa-shopping-cart"></i>Purchase
      </a>
      <a href="#pT" data-toggle="canvas" class="text-white p-a-15 bg-primary">
        <i class="fa fa-fw fa-lg fa-times"></i>
      </a>
    </div>
  </div>
</header>
