<header class="canvas is-fixed is-top bg-white p-v-15 shadow-4dp" id="top-search">

  <div class="container-fluid">
        <div class="input-group input-group-lg icon-before-input">
          <input type="text" class="form-control input-lg b-0" placeholder="Search for...">
          <div class="icon z-3">
            <i class="fa fa-fw fa-lg fa-search"></i>
          </div>
          <span class="input-group-btn">
            <button data-target="#top-search" data-toggle="canvas" class="btn btn-danger btn-line b-0">
              <i class="fa fa-fw fa-lg fa-times"></i>
            </button>
          </span>
        </div>
        <!-- /input-group -->
  </div>

</header>
