<header class="canvas is-fixed is-bottom bg-primary" id="pB">


  <div class="clearfix">
    <div class="pull-right p-v-20 p-h-15">
      <a class="text-white border border-white border-2 p-v-10 p-h-15 f-6" href="#pB" data-toggle="canvas">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>


</header>
