<div class="canvas is-fixed canvas-right bg-white shadow-4" id="style-switcher">
  <h1 class="demo-header shadow-4" data-target="#style-switcher" data-toggle="canvas">
    <i class="fa fa-fw fa-cog"></i>
  </h1>
  {{> demo}}
</div>
