<!doctype html>
<html lang="en" {{#if rtl}}dir="rtl"{{/if}}>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Chaldene - {{title}}</title>

  <!-- Bootstrap 5 -->
  <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap{{#if rtl}}.rtl{{/if}}.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/metis-canvas/dist/metis-canvas.min.css">
  <!-- END: Vendor stylesheet files -->

  {{#if pagecss}}
  <!-- Plugin stylesheet files. OPTIONAL -->
  {{#each pagecss}}
  {{css .}}
  {{/each}}
  <!-- END: plugin stylesheet files -->
  {{/if}}

  {{#is title "Calendar"}}
  <!-- Plugin stylesheet files. OPTIONAL -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.1/dist/fullcalendar.print.min.css"
    media="print">
  <!-- END: plugin stylesheet files -->
  {{/is}}


  <!-- Theme main stlesheet files. REQUIRED -->
  <link rel="stylesheet" href="assets/css/chaldene{{#if rtl}}.rtl{{/if}}.css">
  <!-- END: theme main stylesheet files -->

</head>

<body class="app">

    {% body %}

  <span class="fa fa-angle-up" id="totop" data-plugin="totop"></span>

  {{#unless demo}}
  {{> theme-switcher}}
  {{/unless}}

  <!-- Vendor javascript files. REQUIRED -->
  <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
  <script src="https://cdn.jsdelivr.net/npm/metis-canvas"></script>
  <script src="https://cdn.jsdelivr.net/npm/screenfull@5.2.0/dist/screenfull.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/in-view"></script>

  <script src="https://cdn.jsdelivr.net/npm/moment"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment/min/locales.min.js"></script>
  <!-- END: Vendor javascript files -->

  {{#if vendorjs}}
  <!-- Plugin javascript files. OPTIONAL -->
  {{#each vendorjs}}
  {{js .}}
  {{/each}}
  <!-- END: plugin javascript files -->
  {{/if}}


  <script src="assets/js/chaldene.js"></script>

  {{#if pagejs}}
  <!-- Demo javascript files. NOT REQUIRED -->
  {{#each pagejs}}
  {{js .}}
  {{/each}}
  <!-- END: demo javascript files -->
  {{/if}}
</body>

</html>
