<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <!-- Core stylesheet files. REQUIRED -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap{{#if rtl}}.rtl{{/if}}.min.css">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

  <!-- END: core stylesheet files -->
  <!-- Theme main stlesheet files. REQUIRED -->
  <link rel="stylesheet" href="assets/css/chaldene{{#if rtl}}.rtl{{/if}}.css">
  <!-- END: theme main stylesheet files -->

</head>

<body class="d-flex flex-column">

  <div class="d-flex flex-column flex-fill">
    <div class="d-flex flex-column flex-lg-row flex-fill flex-shrink-0">
      {% body %}
    </div>
  </div>
  <!-- Bootstrap -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
