<div id="car-box-red" class="p-a mdc-bg-cyan carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor <strong class="text-uppercase">incididunt</strong> ut labore et dolore magna aliqua.
            </div>
        </div>
        <div class="item">
            <h1>B</h1>
        </div>
        <div class="item">
            <h1>C</h1>
        </div>
    </div>
</div>
