---
title: Locked
category: app
layout: locked
---
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <img class="img-circle" src="../assets/img/m2.{{imgExt}}" alt="John Doe">
    </div>
    <div class="col-sm-4">
      <h4 class="text-white text-left">Locked</h4>
      <div class="p-t-30">
        <div class="input-group input-group-lg">
          <input type="password" class="form-control bg-transparent b-white text-white" placeholder="Password" tabindex="1">
          <span class="input-group-btn">
            <button class="btn btn-default bg-transparent b-white text-white" type="button">
              <i class="fa fa-fw fa-arrow-right"></i>
            </button>
          </span>
        </div>
        <!-- /input-group -->
        <div class="small text-left text-white m-t-25">
          <i class="fa fa-fw fa-clock-o"></i>
          23 seconds ago</div>
      </div>
    </div>
  </div>
</div>
