---
title: 500
category: app
---
<div class="row">
  <div class="center-block col-sm-6 col-sm-push-3">
      <div class="f-1 text-alizarin text-center">
        <div class="u-flex u-flexRow u-flexAlignItemsCenter">
          <div class="f-800">5</div>
          <div class="f-600">0</div>
          <div class="f-300">0</div>
          <span class="h3 text-muted p-l-25">
            <i class="fa fa-fw fa-warning text-alizarin"></i>Something went wrong
          </span>
        </div>
      </div>
      <div class="d-b">
        <p>
          We will work on fixing that right away.
          Meanwhile, you may return to <a href="index.html">dashboard</a> or try using the search form.
        </p>
        <form action="index.html" method="post">
          <div class="input-group">
            <input name="search" class="form-control" placeholder="Search" type="text">

            <div class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-danger btn-rect">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
