---
title: Mail Read
category: app
subcategory: mail
hasColumn: true
pagecss:
- https://cdn.jsdelivr.net/npm/insignia@5.0.0/dist/insignia.min.css
- https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.core.css
- https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.bubble.css
- https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css
vendorjs:
- https://cdn.jsdelivr.net/npm/insignia@5.0.0/dist/insignia.min.js
- https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.min.js
pagejs:
- assets/js/pagejs/app-mail-read.js
---
<!-- BEGIN: .column.is-fixed -->
<div class="column is-fixed bg-white shadow-2dp ps m-r-15" id=email-left>
  {{> mail-left}}
</div>
<!-- END: .column.is-fixed -->

<!-- BEGIN: .column -->
<div class="column bg-white is-flexible shadow-2dp ps">

  <!-- BEGIN: .container-fluid -->
  <div class="container-fluid">
    {{> mail-right-read}}
  </div>
<!-- END: .container-fluid -->
</div>
<!-- END: .column -->

{{> modal-mail-compose}}
