---
title: Register
category: app
layout: login
---
<h4>Register a new membership</h4>
<form class="text-left" role="form" action="index.html">
  <div class="form-group has-feedback">
    <input class="form-control" placeholder="Username" type="text">
    <span class="form-control-feedback">
        <i class="fa fa-fw fa-user"></i>
      </span>
  </div>
  <div class="form-group has-feedback">
    <input class="form-control" placeholder="Email" type="email">
    <span class="form-control-feedback">
        <i class="fa fa-fw fa-envelope"></i>
      </span>
  </div>
  <div class="form-group has-feedback">
    <input class="form-control" placeholder="Password" type="password">
    <span class="form-control-feedback">
        <i class="fa fa-fw fa-key"></i>
      </span>
  </div>
  <div class="form-group has-feedback">
    <input class="form-control" placeholder="Retype password" type="password">
    <span class="form-control-feedback">
        <i class="fa fa-fw fa-key"></i>
      </span>
  </div>
  <div class="checkbox">
    <label>
      <input class="hidden" type="checkbox" name="name" value="">
      <i class="fa fa-lg text-primary"></i>
       I agree to the <a href="javascript:;" data-toggle="modal" data-target="#loginModal">terms</a>
    </label>
  </div>
  <button type="submit" class="btn btn-primary btn-block m-b-15">Register</button>
  <p class="text-right">
    <a href="app-login.html">I already have a membership</a>
  </p>
</form>
</div>
