---
title: Forgot Password
category: app
layout: login
---
<h4>Enter your email address and your password will be reset and emailed to you.</h4>
<form class="text-left" role="form" action="index.html">
  <div class="form-group has-feedback">
    <input class="form-control input-lg" placeholder="Email" type="email">
    <span class="form-control-feedback">
        <i class="fa fa-fw fa-envelope fa-lg"></i>
      </span>
  </div>
  <button type="submit" class="btn btn-warning btn-block btn-rect btn-outline m-v-15">Send new password</button>
</form>
