---
title: Mail Compose
category: app
subcategory: mail
hasColumn: true
pagecss:
- vendor/insignia/insignia.min.css
- vendor/quill/quill.bubble.css
- vendor/quill/quill.snow.css
- vendor/select2/css/select2.min.css
- vendor/dropzone/dropzone.min.css
vendorjs:
- ../assets/vendor/insignia/insignia.min.js
- ../assets/vendor/quill/quill.min.js
- ../assets/vendor/select2/js/select2.full.min.js
- ../assets/vendor/dropzone/dropzone.min.js
pagejs:
- ../assets/js/pagejs/app-mail-compose.js
---
<!-- BEGIN: .column.is-fixed -->
<div class="column is-fixed bg-white shadow-2dp ps m-r-15" id=email-left>
  {{> mail-left}}
</div>
<!-- END: .column.is-fixed -->

<!-- BEGIN: .column -->
<div class="column bg-white is-flexible shadow-2dp ps">

  <!-- BEGIN: .container-fluid -->
  <div class="container-fluid">
    {{> mail-right-compose}}
  </div>
<!-- END: .container-fluid -->
</div>
<!-- END: .column -->

{{> modal-mail-compose}}

