---
title: Mail Read
category: app
subcategory: mail
hasColumn: true
pagecss:
- vendor/lightgallery/css/lightgallery.min.css
- vendor/insignia/insignia.min.css
- vendor/quill/quill.bubble.css
- vendor/quill/quill.snow.css
vendorjs:
- ../assets/vendor/lightgallery/js/lightgallery-all.min.js
- ../assets/vendor/insignia/insignia.min.js
- ../assets/vendor/quill/quill.min.js
pagejs:
- ../assets/js/pagejs/app-mail-read.js
---
<!-- BEGIN: .column.is-fixed -->
<div class="column is-fixed bg-white shadow-2dp ps m-r-15" id=email-left>
  {{> mail-left}}
</div>
<!-- END: .column.is-fixed -->

<!-- BEGIN: .column -->
<div class="column bg-white is-flexible shadow-2dp ps">

  <!-- BEGIN: .container-fluid -->
  <div class="container-fluid">
    {{> mail-right-read}}
  </div>
<!-- END: .container-fluid -->
</div>
<!-- END: .column -->

{{> modal-mail-compose}}
