---
title: Three Column Content 1
category: blank
hasColumn: true
---

<!-- BEGIN: .column.is-fixed -->
<div class="column is-fixed bg-white shadow-2dp ps m-r-15" id=left>

  <div class="box">
    <header class="b-b">
    <div class="box-tools">
      <button class="visible-xs btn btn-default m-r-15" data-toggle="canvas" data-target=#left>
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
      <h4>Fixed Column Left</h4>
    </header>
    <div class="box-body">
      &nbsp;
    </div>
  </div>

</div>
<!-- END: .column.is-fixed -->


<!-- BEGIN: .column -->
<div class="column bg-white is-flexible shadow-2dp ps">

  <div class="box">
    <header class="b-b">
      <h4>Flexible Column</h4>
      <div class="box-tools">
        <button class="visible-xs-inline-block btn btn-default" data-toggle="canvas" data-target=#left>
          <i class="fa fa-fw fa-angle-left"></i>
        </button>
        <button class="visible-xs-inline-block btn btn-default" data-toggle="canvas" data-target=#right>
          <i class="fa fa-fw fa-angle-right"></i>
        </button>
      </div>
    </header>
    <div class="box-body">
      &nbsp;
    </div>
  </div>

</div>
<!-- END: .column -->

<!-- BEGIN: .column.is-fixed -->
<div class="column is-fixed bg-white shadow-2dp ps m-l-15" id=right>

  <div class="box">
    <header class="b-b">
    <div class="box-tools">
      <button class="visible-xs btn btn-default m-r-15" data-toggle="canvas" data-target=#right>
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
      <h4>Fixed Column Right</h4>
    </header>
    <div class="box-body">
      &nbsp;
    </div>
  </div>

</div>
<!-- END: .column.is-fixed -->
