---
title: Inline Chart
category: chart
vendorjs:
- ../assets/vendor/jquery-knob/jquery.knob.min.js
- ../assets/vendor/jquery-sparkline/jquery.sparkline.min.js
pagejs:
- ../assets/js/pagejs/chart-inline.js
---
<div class="row">
  <div class="col-xs-12 h3">
    <div class="box">
      <div class="box-body">
        jQuery Knob
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-3">
    <div class="box">
      <header>
        <h4>Disable display input</h4>
      </header>
      <div class="box-body">
         <input class="knob" data-width="90%" data-displayInput=false
         data-fgColor="#fa5252" value="35">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="box">
      <header>
        <h4>Cursor Mode</h4>
      </header>
      <div class="box-body">
         <input class="knob"
         data-width="90%"
         data-cursor=true
         data-thickness=.3
         data-fgColor="#be4bdb"
         value="35">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="box">
      <header>
        <h4>Display previous value</h4>
      </header>
      <div class="box-body">
         <input class="knob"
         data-width="90%"
         data-displayPrevious=true
         data-fgColor="#40c057"
         data-min="-100"
         value="35">
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="box">
      <header>
        <h4>Readonly</h4>
      </header>
      <div class="box-body">
         <input class="knob"
         readonly=true
         data-width="90%"
         data-fgColor="#fab005"
         value="35">
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 h3">
    <div class="box">
      <div class="box-body">
        jQuery Sparkline
        <hr class="b-s-dashed">
        <div class="row">
          <div class="col-sm-2">
            <div class="sparkline bar_week"></div>
          </div>

          <div class="col-sm-2">
            <div class="sparkline line_day"></div>
          </div>

          <div class="col-sm-2">
            <div class="sparkline pie_week"></div>
          </div>

          <div class="col-sm-2">
            <div class="sparkline stacked_month">2,3,5,4</div>
          </div>

          <div class="col-sm-2">
            <span class="inlinebar">1,4,4,7,5,9,10</span>
          </div>

          <div class="col-sm-2">
            <span class="dynamicbar">Loading..</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
