---
title: Chart.js
category: chart
vendorjs:
- https://cdn.jsdelivr.net/npm/chart.js
pagejs:
- assets/js/pagejs/chart-chartjs.js
---
<!-- BEGIN: .row -->
<div class="row inview">
  <!-- BEGIN: lineChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Line Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="lineChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: lineChart -->

  <!-- BEGIN: barChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Bar Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="barChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: barChart -->
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">
  <!-- BEGIN: radarChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Radar Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="radarChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: radarChart -->

  <!-- BEGIN: polarAreaChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Polar Area Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="polarAreaChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: polarAreaChart -->
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">
  <!-- BEGIN: pieChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Pie Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="pieChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: pieChart -->

  <!-- BEGIN: doughnutChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Doughnut Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="doughnutChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: doughnutChart -->
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">
  <!-- BEGIN: bubbleChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Bubble Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="bubbleChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: bubbleChart -->

  <!-- BEGIN: comboChart -->
  <div class="col-sm-6">
    <div class="box">
      <header class="b-b">
        <h4>Bar & Line Combo Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <canvas id="comboChart" width="200" height="100"></canvas>
      </div>
    </div>
  </div>
  <!-- END: comboChart -->
</div>
<!-- END: .row -->
