---
title: Quick Chart
category: chart
vendorjs:
- https://cdn.jsdelivr.net/npm/chart.js
pagejs:
- ../assets/js/pagejs/chart-quick.js
---
<!-- BEGIN: .row -->
<div class="row inview">

  <!-- BEGIN: Doughnut Chart Default -->
  <div class="col-sm-5">
    <div class="box">
      <header class="b-b">
        <h4>Doughnut Chart Default</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <h5>Chart</h5>
            <hr>
            {{> chart-doughnut }}
          </div>
          <div class="col-xs-6 col-sm-9">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-doughnut }}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Doughnut Chart Default -->

  <!-- BEGIN: Doughnut Chart with Legend -->
  <div class="col-sm-7">
    <div class="box">
      <header class="b-b">
        <h4>Doughnut Chart with Legend</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <h5>Chart</h5>
            <hr>
            {{> chart-doughnut legend=true }}
          </div>
          <div class="col-xs-6 col-sm-8">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-doughnut legend=true}}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Doughnut Chart with Legend -->
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">

  <!-- BEGIN: Doughnut Chart Thin -->
  <div class="col-sm-5">
    <div class="box">
      <header class="b-b">
        <h4>Doughnut Chart Thin</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <h5>Chart</h5>
            <hr>
            {{> chart-doughnut  percentage=80}}
          </div>
          <div class="col-xs-6 col-sm-9">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-doughnut  percentage=80}}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Doughnut Chart Thin -->

  <!-- BEGIN: Doughnut Chart Thin with Legend -->
  <div class="col-sm-7">
    <div class="box">
      <header class="b-b">
        <h4>Doughnut Chart Thin with Legend</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <h5>Chart</h5>
            <hr>
            {{> chart-doughnut legend=true  percentage=80}}
          </div>
          <div class="col-xs-6 col-sm-8">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-doughnut legend=true  percentage=80}}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Doughnut Chart Thin with Legend -->
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">

  <!-- BEGIN: Doughnut Chart Fat -->
  <div class="col-sm-5">
    <div class="box">
      <header class="b-b">
        <h4>Doughnut Chart Fat</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <h5>Chart</h5>
            <hr>
            {{> chart-doughnut  percentage=20}}
          </div>
          <div class="col-xs-6 col-sm-9">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-doughnut  percentage=20}}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Doughnut Chart Fat -->

  <!-- BEGIN: Doughnut Chart Fat with Legend -->
  <div class="col-sm-7">
    <div class="box">
      <header class="b-b">
        <h4>Doughnut Chart Fat with Legend</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <h5>Chart</h5>
            <hr>
            {{> chart-doughnut legend=true  percentage=20}}
          </div>
          <div class="col-xs-6 col-sm-8">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-doughnut legend=true  percentage=20}}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Doughnut Chart Fat with Legend -->
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">

  <!-- BEGIN: Pie Chart -->
  <div class="col-sm-5">
    <div class="box">
      <header class="b-b">
        <h4>Pie Chart</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <h5>Chart</h5>
            <hr>
            {{> chart-pie }}
          </div>
          <div class="col-xs-6 col-sm-9">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-pie }}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Pie Chart -->

  <!-- BEGIN: Pie Chart with Legend -->
  <div class="col-sm-7">
    <div class="box">
      <header class="b-b">
        <h4>Pie Chart with Legend</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <h5>Chart</h5>
            <hr>
            {{> chart-pie legend=true}}
          </div>
          <div class="col-xs-6 col-sm-8">
            <h5>Source</h5>
            <hr>
  {{#markdown}}
    {{> chart-pie legend=true}}
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Doughnut Chart Fat with Legend -->
</div>
<!-- END: .row -->

<!-- BEGIN: line chart -->
<div class="box inview">
  <header class="b-b">
    <h4>Line Chart</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div class="row">
      <div class="col-sm-4">
        <h5>Chart</h5>
        <hr>
        {{> chart-line }}
      </div>
      <div class="col-sm-8">
        <h5>Source</h5>
        <hr>
  {{#markdown}}
    {{> chart-line }}
  {{/markdown}}
      </div>
    </div>
  </div>
</div>
<!-- END: line chart -->

<!-- BEGIN: line chart with legend -->
<div class="box inview">
  <header class="b-b">
    <h4>Line Chart with Legend</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div class="row">
      <div class="col-sm-4">
        <h5>Chart</h5>
        <hr>
        {{> chart-line legend=true}}
      </div>
      <div class="col-sm-8">
        <h5>Source</h5>
        <hr>
  {{#markdown}}
    {{> chart-line legend=true}}
  {{/markdown}}
      </div>
    </div>
  </div>
</div>
<!-- END: line chart with legend -->

<!-- BEGIN: area chart -->
<div class="box inview">
  <header class="b-b">
    <h4>Area Chart</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div class="row">
      <div class="col-sm-4">
        <h5>Chart</h5>
        <hr> {{> chart-area }}
      </div>
      <div class="col-sm-8">
        <h5>Source</h5>
        <hr>
  {{#markdown}}
    {{> chart-area }}
  {{/markdown}}
      </div>
    </div>
  </div>
</div>
<!-- END: area chart -->

<!-- BEGIN: area chart with legend -->
<div class="box inview">
  <header class="b-b">
    <h4>Area Chart with Legend</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div class="row">
      <div class="col-sm-4">
        <h5>Chart</h5>
        <hr> {{> chart-area  legend=true}}
      </div>
      <div class="col-sm-8">
        <h5>Source</h5>
        <hr>
  {{#markdown}}
    {{> chart-area  legend=true}}
  {{/markdown}}
      </div>
    </div>
  </div>
</div>
<!-- END: area chart with legend -->

<!-- BEGIN: statline chart -->
<div class="box inview">
  <header class="b-b">
    <h4>statline</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div class="row">
      <div class="col-sm-4">
        <h5>Chart</h5>
        <hr>
        <div class="bg-turquoise">
          {{> chart-statline}}
        </div>
      </div>
      <div class="col-sm-8">
        <h5>Source</h5>
        <hr>
  {{#markdown}}
    {{> chart-statline}}
  {{/markdown}}
      </div>
    </div>
  </div>
</div>
<!-- END: statline chart -->

<!-- BEGIN: statarea chart -->
<div class="box inview">
  <header class="b-b">
    <h4>statarea</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div class="row">
      <div class="col-sm-4 bg-carot">
        <h5>Chart</h5>
        <hr>
        <div class="bg-carrot">
          {{> chart-statarea}}
        </div>
      </div>
      <div class="col-sm-8">
        <h5>Source</h5>
        <hr>
  {{#markdown}}
    {{> chart-statarea}}
  {{/markdown}}
      </div>
    </div>
  </div>
</div>
<!-- END: statarea chart -->
