---
title: Form Basic
category: forms
pagejs:
- assets/js/pagejs/form-basic.js
---
<div class="box">
  <header class="bg-danger text-white">
    <h4>Form Basic</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <form class="form-horizontal">
      {{> form-text}}
      <hr class="border border-dashed">
      {{> form-password}}
      <hr class="border border-dashed">
      {{> form-textarea}}
      <hr class="border border-dashed">
      {{> form-select}}
      <hr class="border border-dashed">
      {{> form-select-multiple}}
      <hr class="border border-dashed">
      {{> form-spinner}}
      <hr class="border border-dashed">
      {{> form-color}}
      <hr class="border border-dashed">
      {{> form-readonly}}
      <hr class="border border-dashed">
      {{> form-disabled}}
      <hr class="border border-dashed">
      {{> form-textarea-disabled}}
      <hr class="border border-dashed">
      {{> form-checkbox}}
      <hr class="border border-dashed">
      {{> form-radio}}
    </form>
  </div>
</div>
