---
title: Form Advanced
category: forms
pagecss:
- https://cdn.jsdelivr.net/npm/insignia/dist/insignia.min.css
- https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css
- vendor/select2/css/select2.min.css
- vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css
vendorjs:
- https://cdn.jsdelivr.net/npm/flatpickr
- https://cdn.jsdelivr.net/npm/insignia/dist/insignia.min.js
- assets/vendor/select2/js/select2.full.min.js
- https://cdn.jsdelivr.net/npm/autosize
- https://cdn.jsdelivr.net/npm/cleave.js/dist/cleave.min.js
- https://cdn.jsdelivr.net/npm/cleave.js/dist/addons/cleave-phone.us.js
- assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js
pagejs:
- assets/js/pagejs/form-advanced.js
---
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <header>
        <h4>checkbox & radio</h4> {{> box-tools}}
      </header>
      <div class="box-body collapse in b-t">
        <h4>checkbox <small class="text-muted"><em>custom made</em></small></h4>
        <form class="form-inline">
          <!-- BEGIN: custom checkbox -->
          <h5>Size</h5>
          <div class="checkbox">
            {{> checkbox text="default"}}
          </div>
          <div class="checkbox disabled">
            {{> checkbox text="disabled" disabled="disabled"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-lg" checkclass="fa-lg"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-2x" checkclass="fa-2x"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-3x" checkclass="fa-3x"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-4x" checkclass="fa-4x"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-5x" checkclass="fa-5x"}}
          </div>

          <h5>Color</h5>
          <div class="checkbox">
            {{> checkbox text="default" checkclass="text-danger"}}
          </div>
          <div class="checkbox disabled">
            {{> checkbox text="disabled" disabled="disabled" checkclass="text-primary"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-lg" checkclass="fa-lg text-warning"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-2x" checkclass="fa-2x text-primary"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-3x" checkclass="fa-3x text-success"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-4x" checkclass="fa-4x text-primary"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="fa-5x" checkclass="fa-5x text-danger"}}
          </div>

          <h5>Mixins</h5>

          <div class="checkbox text-danger">
            {{> checkbox text="default"}}
          </div>

          <div class="checkbox text-primary">
            {{> checkbox text="fa-lg" checkclass="fa-lg text-success"}}
          </div>

          <div class="checkbox text-white bg-black">
            {{> checkbox text="fa-3x" checkclass="fa-3x text-danger"}}
          </div>

          <div class="checkbox text-info bg-secondary p-a-25">
            {{> checkbox text="fa-5x" checkclass="fa-5x text-dark"}}
          </div>

          <div class="checkbox text-primary bg-warning p-a-15 h3">
            {{> checkbox text="fa-5x" checkclass="fa-5x text-danger" }}
          </div>

          <div class="checkbox text-white bg-primary p-a-15 fs-5">
            {{> checkbox }}
          </div>

          <!-- END: custom checkbox -->
          <hr class="b-dashed">

          <!-- BEGIN: custom radio -->
          <h4>radio <small class="text-muted"><em>custom made</em></small></h4>
          <div class="radio">
            {{> radio text="default"}}
          </div>
          <div class="radio disabled">
            {{> radio text="disabled" disabled="disabled"}}
          </div>
          <div class="radio">
            {{> radio text="fa-lg" checkclass="fa-lg"}}
          </div>
          <div class="radio">
            {{> radio text="fa-2x" checkclass="fa-2x text-info"}}
          </div>
          <div class="radio">
            {{> radio text="fa-3x" checkclass="fa-3x text-primary"}}
          </div>
          <div class="radio">
            {{> radio text="fa-4x" checkclass="fa-4x"}}
          </div>
          <div class="radio">
            {{> radio text="fa-5x" checkclass="text-danger fa-5x"}}
          </div>

          <div class="radio bg-primary p-a-15">
            {{> radio text="fa-2x" checkclass="fa-2x text-white"}}
          </div>

          <!-- END: custom radio -->
          <hr class="b-dashed">

          <!-- BEGIN: custom switch -->
          <h4>switch <small class="text-muted"><em>custom made</em></small></h4>
          <h5>Size</h5>
          <div class="checkbox">
            {{> checkbox text="default" class="switch"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="disabled" class="switch" disabled="disabled"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-lg" checkclass="fa-lg" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-2x" checkclass="fa-2x" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-3x" checkclass="fa-3x" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-4x" checkclass="fa-4x" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-5x" checkclass="fa-5x" class="switch"}}
          </div>

          <hr class="b-s-dotted b-danger">

          <h5>Color</h5>

          <div class="checkbox">
            {{> checkbox text="default" checkclass="text-danger" class="switch"}}
          </div>
          <div class="checkbox">
            {{> checkbox text="disabled" class="switch" disabled="disabled"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-lg" checkclass="fa-lg text-primary" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-2x" checkclass="fa-2x text-warning" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-3x" checkclass="fa-3x text-primary" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-4x" checkclass="fa-4x text-info" class="switch"}}
          </div>

          <div class="checkbox">
            {{> checkbox text="fa-5x" checkclass="fa-5x text-danger" class="switch"}}
          </div>
          <hr class="b-w-5 b-primary">

          <h5>Radio toggle</h5>

          <div class="radio">
            {{> radio text="default" class="switch"}}
          </div>
          <div class="radio disabled">
            {{> radio text="disabled" disabled="disabled" class="switch"}}
          </div>
          <div class="radio">
            {{> radio text="fa-lg" checkclass="fa-lg" class="switch"}}
          </div>
          <div class="radio">
            {{> radio text="fa-2x" checkclass="fa-2x text-info" class="switch"}}
          </div>
          <div class="radio">
            {{> radio text="fa-3x" checkclass="fa-3x text-primary" class="switch"}}
          </div>
          <div class="radio">
            {{> radio text="fa-4x" checkclass="fa-4x" class="switch"}}
          </div>
          <div class="radio">
            {{> radio text="fa-5x" checkclass="text-danger fa-5x" class="switch"}}
          </div>

          <div class="radio bg-primary p-a-15">
            {{> radio text="fa-2x" checkclass="fa-2x text-white" class="switch"}}
          </div>
          <br>
          <div class="radio bg-danger text-light p-a-5">
            <label class="switch">
              <span class="fs-1 text-success">fs-1</span>
                <input class="hidden" type="radio" name="optionsRadios">
                <i class="fa"></i>
              </label>
          </div>

          <div class="radio bg-dark text-light p-a-5">
            {{> radio text="default" class="switch fs-1 fs-100"}}
          </div>
          <!-- END: custom switch -->

        </form>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-6">
    <!-- BEGIN: clave.js -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <header>
            <h3>Cleave.js</h3>
            <div class="box-tools">
              <a href="https://nosir.github.io/cleave.js/" target="_blank"><em>https://nosir.github.io/cleave.js/</em></a>
            </div>
          </header>
          <div class="box-body">
            {{> cleave-phone }}
            <hr class="dashed"> {{> cleave-date1 }}
            <hr class="dashed"> {{> cleave-date2 }}
            <hr class="dashed"> {{> cleave-num }}
            <hr class="dashed"> {{> cleave-ean2 }}
            <hr class="dashed"> {{> cleave-iban }}
            <hr class="dashed"> {{> cleave-price }}
          </div>
        </div>
      </div>
    </div>
    <!-- END: clave.js -->

    <!-- BEGIN: autosize -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box bg-white">
          <div class="box-heading">
            <div class="box-title">
              <h3>Autosize</h3>
            </div>
            <div class="box-tools">
              <a href="http://www.jacklmoore.com/autosize/" target="_blank"><em>http://www.jacklmoore.com/autosize/</em></a>
            </div>
          </div>
          <div class="box-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="textarea1" class="col-sm-4 control-label">Autosize Text Area</label>
                <div class="col-sm-8">
                  <textarea class="form-control" rows="3" placeholder="Type ..." id="autosize"></textarea>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <!-- END: autosize -->
  </div>






  <div class="col-md-6">
    <!-- BEGIN: flatpickr -->
    <div class="row">

      <div class="col-xs-12">
        <div class="box bg-white">
          <div class="box-heading">
            <div class="box-title">
              <h3>flatpickr</h3>
            </div>
            <div class="box-tools">
              <a href="https://chmln.github.io/flatpickr/" target="_blank"><em>https://chmln.github.io/flatpickr/</em></a>
            </div>
          </div>
          <div class="box-body">
            <input class="form-control flatpickr" ddata-date-format="d-m-Y" placeholder="European Format ('d-m-Y')">
            <hr class="dashed">

            <input class="form-control flatpickr" ddata-date-format="m/d/Y" placeholder="American Format ('m/d/Y')">
            <hr class="dashed">

            <input class="form-control flatpickr" ddata-date-format="l, F j, Y" placeholder="Fancy Textual Format ('l, F j, Y')">
            <hr class="dashed">

            <input class="form-control flatpickr" ddata-enable-time="true" placeholder="Pick date and time" readonly="readonly">
            <hr class="dashed">

            <input class="form-control flatpickr" ddata-enable-time="true" data-time_24hr="true" placeholder="24 hour time" readonly="readonly">
            <hr class="dashed">

            <input class="form-control flatpickr" ddata-enable-time="true" data-enable-seconds="true" placeholder="Pick date and time" readonly="readonly">
            <hr class="dashed">



            <div>
              <input class="form-control flatpickr" type="text" ddata-inline="true" placeholder="Pick a date below" readonly="readonly">
            </div>
            <hr class="dashed">

          </div>
        </div>
      </div>
    </div>
    <!-- END: flatpickr -->



  </div>
</div>

<!-- BEGIN: bootstrap-colorpicker -->
<div class="row">
  <div class="col-xs-12">
    <div class="box bg-white">
      <div class="box-heading">
        <div class="box-title">
          <h3>Bootstrap Colorpicker</h3>
        </div>
        <div class="box-tools">
          <a href="https://github.com/itsjavi/bootstrap-colorpicker/" target="_blank"><em>http://mjolnic.com/bootstrap-colorpicker/</em></a>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-sm-3">
            <input id="cp1" type="text" class="color-picker form-control" value="#5367ce" />
          </div>
          <div class="col-sm-3">
            <div class="input-group color-picker">
              <input type="text" value="#00AABB" class="form-control" />
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="dib" id="cp7"></div>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="cp6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: bootstrap-colorpicker -->



<!-- BEGIN: select-2 -->
<div class="row">
  <div class="col-xs-12">
    <div class="box bg-white">
      <div class="box-heading">
        <div class="box-title">
          <h3>Select2</h3>
        </div>
        <div class="box-tools">
          <a href="https://select2.github.io/" target="_blank">https://select2.github.io/</a>
        </div>
      </div>
      <div class="box-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Single select boxes</label>
            {{#if db.users}}
              <div class="col-sm-10">
                <select class="form-control size-full select2">
                    {{#each db.users}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
              </div>
            {{/if}}
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Multiple select boxes</label>
            {{#if db.users}}
              <div class="col-sm-10">
                <select class="form-control size-full select2" multiple="multiple">
                    {{#each db.users}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
              </div>
            {{/if}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END: select-2 -->

<!-- BEGIN: insignia -->
<div class="box">
  <header>
    <h4>insignia</h4>
    <div class="box-tools">
      <a href="https://github.com/bevacqua/insignia"> insignia home</a>
    </div>
  </header>
  <div class="box-body">
      <div class="b-a bg-white w-100">
        <input type="text" id="insignia" value="chaldene admin template">
      </div>
  </div>
</div>

<!-- END: insignia -->
