---
title: Form Basic
category: forms
pagejs:
- ../assets/js/pagejs/form-basic.js
---
<div class="box">
  <header class="bg-danger">
    <h4>Form Basic</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <form class="form-horizontal">
      {{> form-text}}
      <hr class="b-s-dashed">
      {{> form-password}}
      <hr class="b-s-dashed">
      {{> form-textarea}}
      <hr class="b-s-dashed">
      {{> form-select}}
      <hr class="b-s-dashed">
      {{> form-select-multiple}}
      <hr class="b-s-dashed">
      {{> form-spinner}}
      <hr class="b-s-dashed">
      {{> form-color}}
      <hr class="b-s-dashed">
      {{> form-readonly}}
      <hr class="b-s-dashed">
      {{> form-disabled}}
      <hr class="b-s-dashed">
      {{> form-textarea-disabled}}
      <hr class="b-s-dashed">
      {{> form-checkbox}}
      <hr class="b-s-dashed">
      {{> form-radio}}
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <header class="bg-belize-hole text-white">
        <h4>Icon Before Input</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">

        <div class="form-group">
            <label for="itext">Text</label>
            <div class="icon-before-input">
              <input type="text" class="form-control input-sm" id="itext" placeholder="Type ...">
              <div class="icon">
                <i class="fa fa-fw fa-pencil"></i>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="itext2">Text with link</label>
            <div class="icon-before-input">
              <input type="text" class="form-control p-l-80" id="itext2" placeholder="Type ...">
              <div class="icon">
                <a href="http://github.com" target="_blank">github</a>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="itext3">Text with button</label>
            <div class="icon-before-input">
              <input type="text" class="form-control input-sm p-l-80" id="itext3" placeholder="Type ...">
              <div class="icon">
                <button class="btn btn-success btn-lg" type="button" name="button">button</button>
              </div>
            </div>
        </div>

        <hr class="b-s-dashed">

        <div class="form-group">
            <label for="iemail">E-mail</label>
            <div class="icon-before-input">
              <input type="email" class="form-control" id="iemail" placeholder="Type ...">
              <div class="icon">
                <i class="fa fa-fw fa-envelope"></i>
              </div>
            </div>
        </div>



        <hr class="b-s-dashed">

        <div class="form-group">
            <label for="itel">Disabled</label>
            <div class="icon-before-input">
              <input type="text" class="form-control input-lg" id="itel" disabled value="disabled">
              <div class="icon">
                <i class="fa fa-fw fa-warning fa-lg"></i>
              </div>
            </div>
        </div>



        <hr class="b-s-dashed">

        <div class="form-group">
            <label for="iphone">Read Only</label>
            <div class="icon-before-input">
              <textarea class="form-control" rows="3" id="iphone" readonly>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </textarea>
              <div class="icon">
                <i class="fa fa-fw fa-book fa-2x"></i>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <header class="bg-wet-asphalt text-white">
        <h4>Icon After Input</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">

        <div class="form-group">
            <label for="atext">Text</label>
            <div class="icon-after-input">
              <input type="text" class="form-control input-sm" id="atext" placeholder="Type ...">
              <div class="icon">
                <i class="fa fa-fw fa-pencil"></i>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="atext2">Text with link</label>
            <div class="icon-after-input">
              <input type="text" class="form-control p-r-80" id="atext2" placeholder="Type ...">
              <div class="icon">
                <a href="http://github.com" target="_blank">github</a>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="atext3">Text with button</label>
            <div class="icon-after-input">
              <input type="text" class="form-control input-sm p-r-80" id="atext3" placeholder="Type ...">
              <div class="icon">
                <button class="btn btn-info btn-lg btn-rect" type="button" name="button">button</button>
              </div>
            </div>
        </div>

        <hr class="b-s-dashed">

        <div class="form-group">
            <label for="aemail">E-mail</label>
            <div class="icon-after-input">
              <input type="email" class="form-control input-md" id="aemail" placeholder="Type ...">
              <div class="icon">
                <i class="fa fa-fw fa-envelope"></i>
              </div>
            </div>
        </div>

        <hr class="b-s-dashed">

        <div class="form-group">
            <label for="atel">Disabled</label>
            <div class="icon-after-input">
              <input type="text" class="form-control input-lg" id="atel" disabled value="disabled">
              <div class="icon">
                <i class="fa fa-fw fa-warning fa-lg"></i>
              </div>
            </div>
        </div>

        <hr class="b-s-dashed">

        <div class="form-group">
            <label for="aphone">Read Only</label>
            <div class="icon-after-input">
              <textarea class="form-control" rows="3" id="aphone" readonly>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </textarea>
              <div class="icon">
                <i class="fa fa-fw fa-book fa-2x"></i>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="box">
  <header class="box-heading bg-pumpkin text-white">
    <h4>Form inline</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
      {{> form-inline}}
  </div>
</div>
