---
title: Vector Map
category: maps
pagecss:
- https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css
vendorjs:
- https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jquery.vmap.min.js
- https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/examples/js/jquery.vmap.sampledata.js
- https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/maps/jquery.vmap.usa.js
- https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/maps/jquery.vmap.world.js
- https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/maps/jquery.vmap.europe.js
- https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/maps/jquery.vmap.germany.js
pagejs:
- ../assets/js/pagejs/map-vector.js
---

<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h4 class="f-n">World Vector Map</h4>
      </header>
      <div class="box-body">
        <div id="jmap-world" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h4 class="f-n">USA Vector Map</h4>
      </header>
      <div class="box-body">
        <div id="jmap-usa" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h4 class="f-n">Europe Vector Map</h4>
      </header>
      <div class="box-body">
        <div id="jmap-europe" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h4 class="f-n">Germany Vector Map</h4>
      </header>
      <div class="box-body">
        <div id="jmap-germany" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>
