---
title: Datatable
category: tables
pagecss:
- vendor/datatables/css/dataTables.bootstrap.min.css
vendorjs:
- assets/vendor/datatables/js/jquery.dataTables.min.js
- assets/vendor/datatables/js/dataTables.bootstrap.min.js
pagejs:
- assets/js/pagejs/table-datatable.js
---
<div class="box">
  <header>
    <h3>Datatable</h3>
    <div class="box-tools">
      <a href="https://datatables.net/" target="_blank">datatables</a>
    </div>
  </header>
  <div class="box-body">
    {{> table-datatables}}
  </div>
</div>
