---
title: Table Basic
category: tables
---
<!-- BEGIN: .row -->
<div class="row">
    <div class="col-md-6">
        <div class="box shadow-2dp">
          <header>
            <h4>Basic Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-basic }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box shadow-3dp">
          <header>
            <h4>Bordered Table</h4>
              {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-basic modifier="table-bordered" }}
            </div>
        </div>
    </div>

    <div class="clearfix visible-lg"></div>

    <div class="col-md-6">
        <div class="box shadow-4dp">
          <header>
            <h4>Striped Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in" id="box3">
                {{> table-basic modifier="table-striped" }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box shadow-6dp">
          <header>
            <h4>Hovered Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-basic modifier="table-hover" }}
            </div>
        </div>
    </div>


    <div class="clearfix visible-lg"></div>

    <div class="col-md-6">
        <div class="box shadow-8dp">
          <header>
            <h4>Condensed Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-basic modifier="table-condensed" }}
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="box shadow-16dp">
            <header>
              <h4>Responsive Table</h4>
              {{> box-tools}}
            </header>
            <div class="box-body collapse in">
              <div class="table-responsive">
                {{> table-basic modifier="table-condensed" }}
              </div>
            </div>
        </div>
    </div>
<!-- END: .col-md-6 -->
</div>
<!-- END: .row -->
