---
title: Table Sortable
category: tables
pagecss:
- https://cdn.jsdelivr.net/npm/tablesorter@2.31.3/dist/css/theme.bootstrap_4.min.css
vendorjs:
- https://cdn.jsdelivr.net/npm/tablesorter@2.31.3/dist/js/jquery.tablesorter.combined.min.js
pagejs:
- assets/js/pagejs/table-sortable.js
---
<!-- BEGIN: .row -->
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <header class="bg-pomegranate text-white">
        <h4>TableSorter</h4>
        <div class="box-tools">
          <a href="https://github.com/Mottie/tablesorter" target="_blank">https://github.com/Mottie/tablesorter</a>
        </div>
      </header>
    </div>
  </div>
</div>
<!-- row .row -->
<!-- BEGIN: .row -->
<div class="row">
    <div class="col-md-6">
        <div class="box shadow-24dp">
          <header>
            <h4>Basic Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-sorter }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box shadow-16dp">
          <header>
            <h4>Bordered Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-sorter modifier="table-bordered" }}
            </div>
        </div>
    </div>

    <div class="clearfix visible-lg"></div>

    <div class="col-md-6">
        <div class="box shadow-8dp">
          <header>
            <h4>Striped Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-sorter modifier="table-striped" }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box shadow-6dp">
          <header>
            <h4>Hovered Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-sorter modifier="table-hover" }}
            </div>
        </div>
    </div>


    <div class="clearfix visible-lg"></div>

    <div class="col-md-6">
        <div class="box shadow-4dp">
          <header>
            <h4>Condensed Table</h4>
            {{> box-tools}}
          </header>
            <div class="box-body collapse in">
                {{> table-sorter modifier="table-condensed" }}
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="box shadow-3dp">
            <header>
              <h4>Responsive Table</h4>
              {{> box-tools}}
            </header>
            <div class="box-body collapse in">
              <div class="table-responsive">
                {{> table-sorter modifier="table-condensed" }}
              </div>
            </div>
        </div>
    </div>

</div>
<!-- END: .row -->
