---
title: Border
category: utility
---
<div class="box">
  <header>
    <a class="link-primary" href="https://getbootstrap.com/docs/5.1/utilities/borders/" target="_blank">Bootstrap
      borders</a>
  </header>
  <div class="box-body">

    <div class="border border-5 border-solid m-3 p-3">.border-solid</div>
    <div class="border border-5 border-dashed m-3 p-3">.border-dashed</div>
    <div class="border border-5 border-dotted m-3 p-3">.border-dotted</div>
  </div>
</div>
