---
title: Border
category: utility
---
<div class="box">
  <div class="box-body">
    <a class="link-primary" href="https://getbootstrap.com/docs/5.1/utilities/borders/" target="_blank">Bootstrap borders</a>
  </div>
</div>
