---
title: Display
category: utility
---
<div class="box">
  <header>
    <h4>Display</h4>
    <div class="box-tools">
      <a href="https://getbootstrap.com/docs/5.1/utilities/display/" target="_blank">Bootstrap display</a>
    </div>
  </header>
  <div class="box-body">

  </div>
</div>
