---
title: Flexbox
category: utility
---
<div class="box">
  <div class="box-body">
    <a class="link-primary" href="https://getbootstrap.com/docs/5.1/utilities/flex/" target="_blank">Bootstrap flex</a>
  </div>
</div>
