---
title: Overflow
category: utility
---
<div class="box">
  <div class="box-body">
    <a class="link-primary" href="https://getbootstrap.com/docs/5.1/utilities/overflow/" target="_blank">Bootstrap overflow</a>
  </div>
</div>
