---
title: Scrollable
category: utility
---
<div class="box">
  <header class="b-b">
    <h4>Max Width</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">

    <h5>max-width: 200px; <code>max-w-xs scr-x-a</code></h5>
    <div class="max-w-xs scr-x-a">
      <img src="" alt="" data-src="holder.js/400x100">
    </div>
    <hr>

    <h5>max-width: 300px; <code>max-w-sm scr-x-a</code></h5>
    <div class="max-w-sm scr-x-a">
      <img src="" alt="" data-src="holder.js/600x100">
    </div>
    <hr>


    <h5>max-width: 400px; <code>max-w-md scr-x-a</code></h5>
    <div class="max-w-md scr-x-a">
      <img src="" alt="" data-src="holder.js/800x100">
    </div>
    <hr>

    <h5>max-width: 480px; <code>max-w-lg scr-x-a</code></h5>
    <div class="max-w-lg scr-x-a">
      <img src="" alt="" data-src="holder.js/960x100">
    </div>
  </div>
</div>

<div class="box">
  <header class="b-b">
    <h4>Max Height</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">

    <h5>max-height: 150px; <code>max-w-xs scr-y-a</code></h5>
    <div class="max-w-xs scr-y-a">
      <img src="" alt="" data-src="holder.js/100x300">
    </div>
    <hr>

    <h5>max-height: 225px; <code>max-w-sm scr-y-a</code></h5>
    <div class="max-w-sm scr-y-a">
      <img src="" alt="" data-src="holder.js/100x450">
    </div>
    <hr>


    <h5>max-height: 300px; <code>max-w-md scr-x-a</code></h5>
    <div class="max-w-md scr-y-a">
      <img src="" alt="" data-src="holder.js/100x600">
    </div>
    <hr>

    <h5>max-height: 360px; <code>max-w-lg scr-y-a</code></h5>
    <div class="max-w-lg scr-y-a">
      <img src="" alt="" data-src="holder.js/100x720">
    </div>
  </div>
</div>



<div class="box">
  <header class="b-b">
    <h4>Max Width & Height</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">

    <h5> 200x150 <code>max-w-xs max-h-xs scr-a-a</code></h5>
    <div class="max-w-xs max-h-xs scr-a-a">
      <img src="" alt="" data-src="holder.js/400x300">
    </div>
    <hr>

    <h5>300x225 <code>max-w-sm max-h-sm scr-a-a</code></h5>
    <div class="max-w-sm max-h-sm scr-a-a">
      <img src="" alt="" data-src="holder.js/600x450">
    </div>
    <hr>


    <h5>400x300 <code>max-w-md max-h-md scr-a-a</code></h5>
    <div class="max-w-md max-h-md scr-a-a">
      <img src="" alt="" data-src="holder.js/800x600">
    </div>
    <hr>

    <h5>480x360 <code>max-w-lg max-h-lg scr-a-a</code></h5>
    <div class="max-w-lg max-h-lg scr-a-a">
      <img src="" alt="" data-src="holder.js/960x720">
    </div>
  </div>
</div>
