---
title: Shadow
category: utility
---
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <header>
        <h4>Box Shadows</h4>
        <div class="box-tools">
          <a href="https://getbootstrap.com/docs/5.1/utilities/shadows/" target="_blank">Bootstrap Shadows</a>
        </div>
      </header>
      <div class="box-body d-flex flex-row flex-wrap">
        <div class="flex-fill p-3 m-4 shadow-sm">
          .shadow-sm
        </div>
        <div class="flex-fill p-3 m-4 shadow">
          .shadow
        </div>
        <div class="flex-fill p-3 m-4 shadow-lg">
          .shadow-lg
        </div>
      </div>
    </div>
  </div>
</div>
