---
title: Shadow
category: utility
---
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <header>
        <h4>Box Shadows</h4>
        <div class="box-tools">
          <a href="https://github.com/mrmlnc/material-shadows" target="_blank">Material Shadows</a>
        </div>
      </header>
      <div class="box-body u-flex u-flexRow u-flexWrap">
        <div class="u-sizeFillAlt p-a-15 m-a-25 shadow-2dp">
          .shadow-2dp
        </div>
        <div class="u-sizeFillAlt p-a-15 m-a-25 shadow-3dp">
          .shadow-3dp
        </div>
        <div class="u-sizeFillAlt p-a-15 m-a-25 shadow-4dp">
          .shadow-4dp
        </div>
        <div class="u-sizeFillAlt p-a-15 m-a-25 shadow-6dp">
          .shadow-6dp
        </div>
        <div class="u-sizeFillAlt p-a-15 m-a-25 shadow-8dp">
          .shadow-8dp
        </div>
        <div class="u-sizeFillAlt p-a-15 m-a-25 shadow-16dp">
          .shadow-16dp
        </div>
        <div class="u-sizeFillAlt p-a-15 m-a-25 shadow-24dp">
          .shadow-24dp
        </div>
      </div>
    </div>
  </div>
</div>
