---
title: Spacing
category: utility
---

<div class="row">
  <!-- BEGIN: padding -->
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h3>Padding</h3>
      </header>
      <div class="box-body">
        <hr>
        <h4>All</h4>
        <div class="u-flex u-flexRow u-flexAlignItemsCenter">
          <div class="u-sizeFillAlt">
            <h5>
              Multiples of 5, Max:100
            </h5>
              <code>p-a-{5x}</code>
          </div>
          <div class="u-sizeFillAlt">
  {{#markdown}}
      <div class="p-a-15">
        15px padding
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="p-a-0">
        no padding
      </div>
  {{/markdown}}
          </div>
        </div>
<hr>
        <h4>Directional</h4>

        <div class="u-flex u-flexRow u-flexAlignItemsCenter">
          <div class="u-sizeFillAlt">
            <h5>
              Multiples of 5, Max:100
            </h5>
              <code>p-t-{5x}</code><br>
              <code>p-r-{5x}</code><br>
              <code>p-b-{5x}</code><br>
              <code>p-l-{5x}</code><br>
              <code>p-h-{5x}</code><br>
              <code>p-v-{5x}</code><br>
          </div>
          <div class="u-sizeFillAlt">
  {{#markdown}}
      <div class="p-t-0">
        no top padding
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="p-r-30">
        30px right padding
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="p-b-40">
        40px bottom padding
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="p-l-50">
        50px left padding
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="p-h-10">
        10px horizontal (left and right) padding
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="p-v-30">
        35px vertical (top and bottom) padding
      </div>
  {{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: padding -->

  <!-- BEGIN: margin -->
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h3>Margin</h3>
      </header>
      <div class="box-body">
        <hr>
        <h4>All</h4>
        <div class="u-flex u-flexRow u-flexAlignItemsCenter">
          <div class="u-sizeFillAlt">
            <h5>
              Multiples of 5, Max:100
            </h5>
              <code>m-a-{5x}</code>
          </div>
          <div class="u-sizeFillAlt">
  {{#markdown}}
      <div class="m-a-15">
        15px margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-a-0">
        no margin
      </div>
  {{/markdown}}
          </div>
        </div>
<hr>
        <h4>Directional</h4>

        <div class="u-flex u-flexRow u-flexAlignItemsCenter">
          <div class="u-sizeFillAlt">
            <h5>
              Multiples of 5, Max:100
            </h5>
              <code>m-t-{5x}</code><br>
              <code>m-r-{5x}</code><br>
              <code>m-b-{5x}</code><br>
              <code>m-l-{5x}</code><br>
              <code>m-h-{5x}</code><br>
              <code>m-v-{5x}</code>
          </div>
          <div class="u-sizeFillAlt">
  {{#markdown}}
      <div class="m-t-0">
        no top margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-r-30">
        30px right margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-b-40">
        40px bottom margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-l-50">
        50px left margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-h-50">
        50px horizontal (left and right) margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-v-40">
        40px vertical (top and bottom) margin
      </div>
  {{/markdown}}
          </div>
        </div>



<hr>
        <h4>Auto</h4>

        <div class="u-flex u-flexRow u-flexAlignItemsCenter">
          <div class="u-sizeFillAlt">
              <code>m-t-a</code><br>
              <code>m-r-a</code><br>
              <code>m-b-a</code><br>
              <code>m-l-a</code><br>
              <code>m-h-a</code><br>
              <code>m-v-a</code><br>
              <code>m-a-a</code>
          </div>
          <div class="u-sizeFillAlt">
  {{#markdown}}
      <div class="m-t-a">
        auto top margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-r-a">
        auto right margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-b-a">
        auto bottom margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-l-a">
        auto left margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-h-a">
        auto horizontal (left and right) margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-v-a">
        auto vertical (top and bottom) margin
      </div>
  {{/markdown}}

  {{#markdown}}
      <div class="m-a-a">
        auto all directions margin
      </div>
  {{/markdown}}
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- END: margin -->
</div>
