---
title: Spacing
category: utility
---
<div class="box">
  <div class="box-body">
    <a class="link-primary" href="https://getbootstrap.com/docs/5.1/utilities/spacing/" target="_blank">Bootstrap spacing</a>
  </div>
</div>
