---
title: Buttons
category: ui
---
<div class="row">
<div class="col-xs-12">
  <div class="box">
    <header>
      <h4>Buttons <small>inspired by <a href="http://onokumus.github.io/twbuttons/" target="_blank">twbuttons</a></small></h4>
    </header>
    <div class="box-body">
      <h5>Rectangle Button</h5>
      <button class="btn btn-rect btn-default">press me</button>
      <button class="btn btn-rect btn-primary">press me</button>
      <button class="btn btn-rect btn-info">press me</button>
      <button class="btn btn-rect btn-success">press me</button>
      <button class="btn btn-rect btn-warning">press me</button>
      <button class="btn btn-rect btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Flat Button</h5>
      <button class="btn btn-flat btn-default">press me</button>
      <button class="btn btn-flat btn-primary">press me</button>
      <button class="btn btn-flat btn-info">press me</button>
      <button class="btn btn-flat btn-success">press me</button>
      <button class="btn btn-flat btn-warning">press me</button>
      <button class="btn btn-flat btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Pill Button</h5>
      <button class="btn btn-pill btn-default">press me</button>
      <button class="btn btn-pill btn-primary">press me</button>
      <button class="btn btn-pill btn-info">press me</button>
      <button class="btn btn-pill btn-success u-posRelative">press me <span class="waves"></span></button>
      <button class="btn btn-pill btn-warning">press me</button>
      <button class="btn btn-pill btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Line Button</h5>
      <button class="btn btn-line btn-default u-posRelative">press me <span class="waves"></span></button>
      <button class="btn btn-line btn-primary">press me</button>
      <button class="btn btn-line btn-info">press me</button>
      <button class="btn btn-line btn-success">press me</button>
      <button class="btn btn-line btn-warning">press me</button>
      <button class="btn btn-line btn-danger u-posRelative">press me <span class="waves"></span></button>

      <hr class="b-s-dashed">

      <h5>Outline Button</h5>
      <button class="btn btn-outline btn-default">press me</button>
      <button class="btn btn-outline btn-primary">press me</button>
      <button class="btn btn-outline btn-info">press me</button>
      <button class="btn btn-outline btn-success">press me</button>
      <button class="btn btn-outline btn-warning">press me</button>
      <button class="btn btn-outline btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Flat & Pill Button</h5>
      <button class="btn btn-pill btn-pill btn-default">press me</button>
      <button class="btn btn-pill btn-pill btn-primary">press me</button>
      <button class="btn btn-pill btn-pill btn-info">press me</button>
      <button class="btn btn-pill btn-pill btn-success">press me</button>
      <button class="btn btn-pill btn-pill btn-warning">press me</button>
      <button class="btn btn-pill btn-pill btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Circle Button</h5>
      <button class="btn btn-circle btn-default btn-xs">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-primary">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-info u-posRelative btn-sm">
        <i class="fa fa-fw fa-wheelchair"></i> <span class="wavess"></span>
      </button>
      <button class="btn btn-circle btn-success btn-md">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-warning btn-lg u-posRelative">
          <span class="waves"></span>
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-danger btn-xl">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>

      <hr class="b-s-dashed">

      <h5>Line & Rectangle Button</h5>
      <button class="btn btn-line btn-rect btn-default">press me</button>
      <button class="btn btn-line btn-rect btn-primary">press me</button>
      <button class="btn btn-line btn-rect btn-info">press me</button>
      <button class="btn btn-line btn-rect btn-success">press me</button>
      <button class="btn btn-line btn-rect btn-warning">press me</button>
      <button class="btn btn-line btn-rect btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Line & Pill Button</h5>
      <button class="btn btn-pill btn-line btn-default">press me</button>
      <button class="btn btn-pill btn-line btn-primary">press me</button>
      <button class="btn btn-pill btn-line btn-info u-posRelative">press me <span class="waves"></span></button>
      <button class="btn btn-pill btn-line btn-success">press me</button>
      <button class="btn btn-pill btn-line btn-warning">press me</button>
      <button class="btn btn-pill btn-line btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Flat & Pill Button</h5>
      <button class="btn btn-pill btn-pill btn-default">press me</button>
      <button class="btn btn-pill btn-pill btn-primary">press me</button>
      <button class="btn btn-pill btn-pill btn-info">press me</button>
      <button class="btn btn-pill btn-pill btn-success">press me</button>
      <button class="btn btn-pill btn-pill btn-warning">press me</button>
      <button class="btn btn-pill btn-pill btn-danger">press me</button>

      <hr class="b-s-dashed">

      <h5>Line & Circle Button</h5>
      <button class="btn btn-circle btn-line btn-default btn-xs">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-line btn-primary">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-line btn-info u-posRelative btn-sm">
        <i class="fa fa-fw fa-wheelchair"></i> <span class="wavess"></span>
      </button>
      <button class="btn btn-circle btn-line btn-success btn-md">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-line btn-warning btn-lg">
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>
      <button class="btn btn-circle btn-line btn-danger btn-xl u-posRelative">
        <span class="waves"></span>
        <i class="fa fa-fw fa-wheelchair"></i>
      </button>






    </div>
  </div>
</div>
</div>
