---
title: Colors
category: ui
pagecss:
- https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.css
vendorjs:
- https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js
pagejs:
- assets/js/pagejs/ui-color.js
---

<div class="row">
  <div class="col-md-6">
    <div class="box shadow-sm">
      <header>
        <h4>Background Colors</h4>
        <nav class="box-tools">
          <a class="text-silver" href="http://flatuicolors.com/" target="_blank"><em>http://flatuicolors.com/</em></a>
        </nav>
      </header>
      <div class="box-body">
        {{> color-bg }}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box shadow-sm">
      <header class="box-heading">
        <div class="box-title">
          Background Example
          <small>
            (<em>drag the color of your wish on the left here</em>)
          </small>
        </div>
      </header>
      <!-- BEGIN: .box-body -->
      <div class="box-body">
        <div class="d-flex flex-row _app">
          <div class="_app-wrap flex-fill b-a m-a-15 b-silver">
            <div class="_app-heading b-b b-silver p-a-15 dragula">
              <span class="text-muted">.app-heading</span>
            </div>
            <div class="_app-container d-flex flex-row">
              <aside class="_app-side b-r p-a-15 d-flex flex-column b-silver dragula">
                <span class="text-muted">.app-side</span>
              </aside>
              <main class="_app-main flex-fill p-a-15 dragula">
                <span class="text-muted">.app-main</span>
              </main>
            </div>
            <footer class="_app-footer b-t p-a-15 b-silver dragula">
              <span class="text-muted">.app-footer</span>
            </footer>
          </div>
        </div>
      </div>
      <!-- END: .box-body -->
    </div>
    <!-- END: .box -->
  </div>
  <!-- END: .col-sm-6 -->
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <header>
        <h4>Text Color</h4>
        <nav class="box-tools">
          <a class="text-silver" href="http://flatuicolors.com/" target="_blank"><em>http://flatuicolors.com/</em></a>
        </nav>
      </header>
      <div class="box-body">
        {{> color-text }}
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Button Example</h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default">
          bootstrap default
        </button>
        <button type="button" class="btn btn-default bg-clouds text-alizarin b-w-5 b-emerland">
          alizarin
        </button>
        <button type="button" class="btn btn-lg bg-wisteria text-white h3 f-b b-r-5 b-peter-river b-w-3"> wisteria</button>
      </div>
      <div class="panel-footer">
        Panel Footers
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->
