---
title: Font & Text
category: ui
---
<!-- BEGIN: .row -->
<div class="row">
  <!-- BEGIN: .col-sm-9 -->
  <div class="col-sm-9">
    <!-- BEGIN: .box -->
    <div class="box">
      <header>
        <h4>Font Size</h4>
        {{> box-tools}}
      </header>

      <div class="box-body collapse in">
        <div class="f-1">
          96px : <code>.f-1</code>
        </div>
        <div class="f-2">
          88px : <code>.f-2</code>
        </div>
        <div class="f-3">
          72px : <code>.f-3</code>
        </div>
        <div class="f-4">
          56px : <code>.f-4</code>
        </div>
        <div class="f-5">
          40px : <code>.f-5</code>
        </div>

        <hr class="b-s-dashed">

        <div class="h1">
          36px : <code>.h1</code>
        </div>
        <div class="h2">
          30px : <code>.h2</code>
        </div>
        <div class="h3">
          24px : <code>.h3</code>
        </div>
        <div class="h4">
          18px : <code>.h4</code>
        </div>
        <div class="h5">
          14px : <code>.h5</code>
        </div>
        <div class="h6">
          12px : <code>.h6</code>
        </div>
      </div>
    </div>
    <!-- END: .box -->
  </div>
  <!-- END: .col-sm-9 -->

  <!-- BEGIN: .col-sm-3 -->
  <div class="col-sm-3">
    <!-- BEGIN: .box -->
    <div class="box">
      <header>
        <h4>Font Weight</h4>
        {{> box-tools}}
      </header>

      <div class="box-body collapse in">
        <div class="f-n">
          normal : <code>.f-n</code>
        </div>
        <div class="f-b">
          bold : <code>.f-b</code>
        </div>
        <div class="f-300">
          300 : <code>.f-300</code>
        </div>
        <div class="f-400">
          400 : <code>.f-400</code>
        </div>
        <div class="h300">
          600 : <code>.h300</code>
        </div>
        <div class="f-700">
          700 : <code>.f-700</code>
        </div>
        <div class="f-800">
          800 : <code>.f-800</code>
        </div>
      </div>
    </div>
    <!-- END: .box -->
  </div>
  <!-- END: .col-sm-3 -->
</div>
<!-- END: .row -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>Text</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div>
      You can use the mark tag to <mark>highlight</mark> text.
    </div>
    <div>
      <del>This line of text is meant to be treated as deleted text.</del>
    </div>
    <div>
      <s>This line of text is meant to be treated as no longer accurate.</s>
    </div>
    <div>
      <ins>This line of text is meant to be treated as an addition to the document.</ins>
    </div>
    <div>
      <u>This line of text will render as underlined</u>
    </div>
    <div>
      <small>This line of text is meant to be treated as fine print.</small>
    </div>
    <div>
      <strong>rendered as bold text</strong>
    </div>
    <div>
      <em>rendered as italicized text</em>
    </div>
    <p class="text-left">Left aligned text.</p>
    <p class="text-center">Center aligned text.</p>
    <p class="text-right">Right aligned text.</p>
    <p class="text-justify">Justified text.</p>
    <p class="text-nowrap">No wrap text.</p>
    <p class="text-lowercase">Lowercased text.</p>
    <p class="text-uppercase">Uppercased text.</p>
    <p class="text-capitalize">Capitalized text.</p>
    <p>
      <abbr title="attribute">attr</abbr>
    </p>
    <p>
      <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
    </p>
    <p>
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>

      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </p>
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>Blockquote</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    <hr>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
<hr>
<blockquote class="blockquote-reverse">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
  </div>
</div>
<!-- END: .box -->
