---
title: Font Awesome
category: ui
subcategory: icons
vendorjs:
- https://cdn.jsdelivr.net/npm/clipboard
- https://cdn.jsdelivr.net/npm/noty@2.4.1/js/noty/packaged/jquery.noty.packaged.min.js
pagejs:
- assets/js/pagejs/ui-icon-awesome.js
---
<div class="row">
  <div class="col-xs-12">
    <div class="d-flex flex-row flex-wrap">
    {{#each awesome}}
        <div class="flex-fill p-a-15 m-a-5 text-center bg-white border border-secondary inview">
          <button class="btn btn-default" type="button" data-clipboard-text="fa {{.}}">
              <i class="fa fa-fw {{.}}"></i>
          </button>
          <p>
            {{.}}
          </p>
        </div>
    {{/each}}
    </div>
  </div>
</div>
