---
title: Font Awesome
category: ui
subcategory: icons
vendorjs:
- https://cdn.jsdelivr.net/npm/clipboard
- ../assets/vendor/noty/jquery.noty.packaged.min.js
pagejs:
- ../assets/js/pagejs/ui-icon-awesome.js
---
<div class="row">
  <div class="col-xs-12">
    <div class="u-flex u-flexRow u-flexWrap">
    {{#each awesome}}
        <div class="u-sizeFillAlt p-a-15 m-a-5 text-center bg-white b-a b-silver inview">
          <button class="btn btn-default" type="button" data-clipboard-text="fa {{.}}">
              <i class="fa fa-fw {{.}}"></i>
          </button>
          <p>
            {{.}}
          </p>
        </div>
    {{/each}}
    </div>
  </div>
</div>
