---
title: Mega Menu
category: ui
---
<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>Mega Menu</h4>
  </header>
  <div class="box-body p-a-0">
    <ul class="nav navbar-nav nav-mega" data-plugin="navmega">
      <li class="u-posStatic">
        <a href="#">Mega 1</a>
        <div class="nav-sub nav-full-item b-a animated fadeInUp">
          {{> mega1}}
        </div>
      </li>
      <li class="u-posStatic">
        <a href="#" >Mega 2</a>
        <div class="nav-sub nav-full-item bg-wisteria animated fadeInUp">
          lorem 2
        </div>
      </li>

      <li>
        <a href="#" >Normal Menu</a>
          <ul class="nav nav-sub nav-bordered nav-full-item b-a p-a-0 animated fadeInUp">
            {{> mega3}}
          </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>Mega Menu Hoverable</h4>
  </header>
  <div class="box-body p-a-0">
    <ul class="nav navbar-nav nav-mega nav-hoverable" data-plugin="navmega">
      <li class="u-posStatic">
        <a href="#">Mega 1</a>
        <div class="nav-sub nav-full-item b-a animated fadeInUp">
          {{> mega1}}
        </div>
      </li>
      <li class="u-posStatic">
        <a href="#" >Mega 2</a>
        <div class="nav-sub nav-full-item bg-wisteria animated fadeInUp">
          lorem 2
        </div>
      </li>

      <li>
        <a href="#">Normal Menu</a>
          <ul class="nav nav-sub nav-bordered nav-full-item b-a p-a-0 animated fadeInUp">
            {{> mega3}}
          </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>Bootstrap's Dropdown Mega Menu</h4>
    <div class="box-tools">
      <a href="http://getbootstrap.com/javascript/#dropdowns" target="_blank">Bootstrap Document</a>
    </div>
  </header>
  <div class="box-body p-a-0">
    <ul class="nav navbar-nav nav-full">
      <li class="dropdown u-posStatic">
        <a href="#" data-toggle="dropdown">Mega 1</a>
        <div class="dropdown-menu b-a nav-full-item animated fadeInUp">
          {{> mega1}}
        </div>
      </li>
      <li class="dropdown u-posStatic">
        <a href="#" data-toggle="dropdown">Mega 2</a>
        <div class="dropdown-menu nav-full-item bg-belize-hole animated fadeInUp">
          lorem 2
        </div>
      </li>

      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Normal Menu</a>
          <ul class="dropdown-menu animated fadeInUp">
            {{> mega3}}
          </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>metisMenu Mega Menu</h4>
    <div class="box-tools">
      <a href="https://github.com/onokumus/metisMenu" target="_blank">metisMenu Doc</a>
    </div>
  </header>
  <div class="box-body p-a-0">
    <ul class="nav navbar-nav nav-full" data-plugin="metismenu">
      <li class="u-posStatic">
        <a href="#">Mega 1</a>
        <ul class="nav-sub nav-full-item b-a animated fadeInUp">
          {{> mega1}}
        </ul>
      </li>
      <li class="u-posStatic">
        <a href="#" >Mega 2</a>
        <ul class="nav-sub nav-full-item bg-wisteria animated bounceIn">
          lorem 2
        </ul>
      </li>

      <li>
        <a href="#">Normal Menu</a>
        <ul class="nav nav-sub nav-full-item nav-bordered b-a p-a-0 animated flipInX">
          {{> mega3}}
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>metisMenu Mega Menu Hoverable</h4>
    <div class="box-tools">
      <a href="https://github.com/onokumus/metisMenu" target="_blank">metisMenu Doc</a>
    </div>
  </header>
  <div class="box-body p-a-0">
    <ul class="nav nav-hoverable navbar-nav nav-full" data-plugin="metismenu">
      <li class="u-posStatic">
        <a href="#">Mega 1</a>
        <ul class="nav-sub nav-full-item b-a animated fadeInUp">
          {{> mega1}}
        </ul>
      </li>
      <li class="u-posStatic">
        <a href="#" >Mega 2</a>
        <ul class="nav-sub nav-full-item bg-wisteria animated bounceIn">
          lorem 2
        </ul>
      </li>

      <li>
        <a href="#">Normal Menu</a>
        <ul class="nav nav-sub nav-full-item nav-bordered b-a p-a-0 animated flipInX">
          {{> mega3}}
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: .box -->
