---
title: Momentum
category: ui
vendorjs:
- https://cdn.jsdelivr.net/npm/jquery-countdown@2.2.0/dist/jquery.countdown.min.js
pagejs:
- assets/js/pagejs/ui-momentum.js
---
<!-- BEGIN: .row -->
<div class="row inview">
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Default Time <small>english</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Default Time <small>french</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-locale=fr></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Default Time <small>arabic</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-locale=ar></span>
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Date <small>english</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-format="LL"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Date <small>Kazakh</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-format="LL" data-locale=kk></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Date <small>Chinese</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-format="LL" data-locale="zh-cn"></span>
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Date & Time <small>english</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-format="LLLL"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Date & Time <small>Burmese</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-format="LLLL" data-locale=my></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Date & Time <small>Turkish</small></h4>
      </header>
      <div class="box-body">
        <span class="h3" data-momentum="clock" data-format="LLLL" data-locale="tr"></span>
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Custom</h4>
      </header>
      <div class="box-body">
        <div class="h3 text-center text-alizarin" data-momentum="clock" data-format="HH:mm"></div>
        <div class="f-4 text-center text-wisteria" data-momentum="clock" data-format="ss"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Custom</h4>
      </header>
      <div class="box-body">
        <div class="h3 text-center text-emerland" data-momentum="clock" data-format="HH:mm" data-locale="ar"></div>
        <div class="f-4 text-center text-carrot" data-momentum="clock" data-format="MMMM" data-locale="zh-cn"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Custom</h4>
      </header>
      <div class="box-body">
        <div class="text-center h3">
        <span data-momentum="clock" data-locale="fr" data-format="MMMM Do YYYY"></span>
        <br>
        <span class="f-5" data-momentum="clock"></span>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row inview">
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Relative Time <small>english</small></h4>
      </header>
      <div class="box-body">
        <div class="text-center h4">
          <span data-momentum="relative" data-time="2016-09-19T12:15:15+03:00" data-toggle="tooltip" title="" data-original-title="2016-09-19T12:15:15+03:00"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Relative Time <small>Greek</small></h4>
      </header>
      <div class="box-body">
        <div class="text-center h4">
          <span data-momentum="relative" data-locale="el" data-time="2016-09-19T12:15:15+03:00" data-toggle="tooltip" title="" data-original-title="2016-09-19T12:15:15+03:00"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box">
      <header>
        <h4>Relative Time <small>German</small></h4>
      </header>
      <div class="box-body">
        <div class="text-center h4">
          <span data-momentum="relative" data-locale="de" data-time="2016-09-19T12:15:15+03:00" data-toggle="tooltip" title="" data-original-title="2016-09-19T12:15:15+03:00"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>Countdown</h4>
  </header>
  <div class="box-body">
    <div class="text-center h3" id="countdown1"></div>
  </div>
</div>
<!-- END: .box -->
