---
title: Slider
category: ui
pagecss:
- vendor/bootstrap-slider/css/bootstrap-slider.min.css
- vendor/ion-rangeslider/css/ion.rangeSlider.css
- vendor/ion-rangeslider/css/ion.rangeSlider.skinFlat.css
vendorjs:
- assets/vendor/bootstrap-slider/bootstrap-slider.min.js
- assets/vendor/ion-rangeslider/js/ion.rangeSlider.min.js
pagejs:
- assets/js/pagejs/ui-slider.js
---

<div class="row inview">
  <div class="col-xs-12">
    <div class="box">
      <header>
        <h3>Ion.RangeSlider</h3>
        <div class="box-tools">
          <a href="http://ionden.com/a/plugins/ion.rangeSlider/en.html" target="_blank">Plugin Page</a>
        </div>
      </header>
      <div class="box-body">
        <h4>Start without params</h4>
        <input id="range_01" type="text" value="">

        <hr class="border-dashed">

        <h4>Set min value, max value and start point</h4>
        <input id="range_02" type="text" value="">

        <hr class="border-dashed">

        <h4>Set type to double and specify range, also showing grid and adding prefix "$"</h4>
        <input id="range_03" type="text" value="">

        <hr class="border-dashed">

        <h4>Set up range with negative values</h4>
        <input id="range_04" type="text" value="">

        <hr class="border-dashed">

        <h4>Using step 250</h4>
        <input id="range_05" type="text" value="">

        <hr class="border-dashed">

        <h4>Set up range with fractional values, using fractional step</h4>
        <input id="range_06" type="text" value="">

      </div>
    </div>
  </div>
</div>


<div class="row inview">
  <div class="col-xs-12">
    <div class="box">
      <header>
        <h3>Bootstrap-Slider</h3>
        <div class="box-tools">
          <a href="http://seiyria.com/bootstrap-slider/" target="_blank">Plugin Home</a>
        </div>
      </header>
      <div class="box-body">
        <h4>Basic Example</h4>
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>

        <hr class="border-dashed">

        <h4>Range selector</h4>
        Filter by price interval: <b>€ 10</b>
        <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
        <b>€ 1000</b>

        <hr class="border-dashed">

        <h4>Vertical Slider</h4>
        <input id="ex4" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="-3" data-slider-orientation="vertical"/>



      </div>
    </div>
  </div>
</div>
