---
title: Tabs
category: ui
---

<!-- BEGIN: row -->
<div class="row">
  <!-- BEGIN: tab -->
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h3>Tabs</h3>
      </header>
      <div class="box-body">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#z1" data-toggle="tab">Tab One</a>
          </li>
          <li>
            <a href="#z2" data-toggle="tab">Tab Two</a>
          </li>
          <li>
            <a href="#z3" data-toggle="tab">Tab Three</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="z1" class="tab-pane fade in active">Tab One content</div>
          <div id="z2" class="tab-pane fade">Tab Two content</div>
          <div id="z3" class="tab-pane fade">Tab Three content</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: tab center -->

  <!-- BEGIN: tab center -->
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h3 class="text-center">Tabs Center</h3>
      </header>
      <div class="box-body">
        <ul class="nav nav-tabs is-center">
          <li class="active">
            <a href="#a1" data-toggle="tab">Tab One</a>
          </li>
          <li>
            <a href="#a2" data-toggle="tab">Tab Two</a>
          </li>
          <li>
            <a href="#a3" data-toggle="tab">Tab Three</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="a1" class="tab-pane fade in active">Tab One content</div>
          <div id="a2" class="tab-pane fade">Tab Two content</div>
          <div id="a3" class="tab-pane fade">Tab Three content</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: tab center -->


  <!-- BEGIN: tab right -->
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h3 class="text-right">Tabs Right</h3>
      </header>
      <div class="box-body">
        <ul class="nav nav-tabs is-right">
          <li class="active">
            <a href="#b1" data-toggle="tab">Tab One</a>
          </li>
          <li>
            <a href="#b2" data-toggle="tab">Tab Two</a>
          </li>
          <li>
            <a href="#b3" data-toggle="tab">Tab Three</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="b1" class="tab-pane fade in active">Tab One content</div>
          <div id="b2" class="tab-pane fade">Tab Two content</div>
          <div id="b3" class="tab-pane fade">Tab Three content</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: tab right -->
</div>
<!-- END: row -->

<!-- BEGIN: row -->
<div class="row">
  <!-- BEGIN: tab bordered -->
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h3>Tabs Bordered</h3>
      </header>
      <div class="box-body">
        <ul class="nav nav-tabs nav-bordered">
          <li class="active">
            <a href="#e1" data-toggle="tab">Tab One</a>
          </li>
          <li>
            <a href="#e2" data-toggle="tab">Tab Two</a>
          </li>
          <li>
            <a href="#e3" data-toggle="tab">Tab Three</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="e1" class="tab-pane fade in active">Tab One content</div>
          <div id="e2" class="tab-pane fade">Tab Two content</div>
          <div id="e3" class="tab-pane fade">Tab Three content</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: tab bordered  -->


  <!-- BEGIN: tab bordered center -->
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h3 class="text-center">Tabs Bordered Center</h3>
      </header>
      <div class="box-body">
        <ul class="nav nav-tabs nav-bordered is-center">
          <li class="active">
            <a href="#f1" data-toggle="tab">Tab One</a>
          </li>
          <li>
            <a href="#f2" data-toggle="tab">Tab Two</a>
          </li>
          <li>
            <a href="#f3" data-toggle="tab">Tab Three</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="f1" class="tab-pane fade in active">Tab One content</div>
          <div id="f2" class="tab-pane fade">Tab Two content</div>
          <div id="f3" class="tab-pane fade">Tab Three content</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: tab bordered center -->

  <!-- BEGIN: tab bordered right -->
  <div class="col-sm-4">
    <div class="box">
      <header>
        <h3 class="text-right">Tabs Bordered Right</h3>
      </header>
      <div class="box-body">
        <ul class="nav nav-tabs nav-bordered is-right">
          <li class="active">
            <a href="#g1" data-toggle="tab">Tab One</a>
          </li>
          <li>
            <a href="#g2" data-toggle="tab">Tab Two</a>
          </li>
          <li>
            <a href="#g3" data-toggle="tab">Tab Three</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="g1" class="tab-pane fade in active">Tab One content</div>
          <div id="g2" class="tab-pane fade">Tab Two content</div>
          <div id="g3" class="tab-pane fade">Tab Three content</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: tab bordered right  -->
</div>
<!-- END: row -->


<!-- BEGIN: row -->
<div class="row">
  <!-- BEGIN: custom-tab vertical left -->
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h3>Custom Tabs Vertical Left</h3>
      </header>
      <div class="box-body">
        <div class="tab-custom">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#c1" data-toggle="tab">Tab One</a>
            </li>
            <li>
              <a href="#c2" data-toggle="tab">Tab Two</a>
            </li>
            <li>
              <a href="#c3" data-toggle="tab">Tab Three</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="c1" class="tab-pane fade in active">Tab One content</div>
            <div id="c2" class="tab-pane fade">Tab Two content</div>
            <div id="c3" class="tab-pane fade">Tab Three content</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: custom-tab vertical left  -->


  <!-- BEGIN: custom-tab vertical right -->
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h3 class="text-right">Custom Tabs Vertical Right</h3>
      </header>
      <div class="box-body">
        <div class="tab-custom is-right">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#d1" data-toggle="tab">Tab One</a>
            </li>
            <li>
              <a href="#d2" data-toggle="tab">Tab Two</a>
            </li>
            <li>
              <a href="#d3" data-toggle="tab">Tab Three</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="d1" class="tab-pane fade in active">Tab One content</div>
            <div id="d2" class="tab-pane fade">Tab Two content</div>
            <div id="d3" class="tab-pane fade">Tab Three content</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: custom-tab vertical right -->
</div>
<!-- END: row -->


<!-- BEGIN: row -->
<div class="row">

  <!-- BEGIN: custom-tab vertical bordered -->
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h3>Custom Tabs Vertical Bordered</h3>
      </header>
      <div class="box-body">
        <div class="tab-custom">
          <ul class="nav nav-tabs nav-bordered">
            <li class="active">
              <a href="#h1" data-toggle="tab">Tab One</a>
            </li>
            <li>
              <a href="#h2" data-toggle="tab">Tab Two</a>
            </li>
            <li>
              <a href="#h3" data-toggle="tab">Tab Three</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="h1" class="tab-pane fade in active">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div id="h2" class="tab-pane fade">Tab Two content</div>
            <div id="h3" class="tab-pane fade">Tab Three content</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: custom-tab vertical bordered -->
  <!-- BEGIN: custom-tab vertical bordered right -->
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h3 class="text-right">Custom Tabs Vertical Bordered Right</h3>
      </header>
      <div class="box-body">
        <div class="tab-custom is-right">
          <ul class="nav nav-tabs nav-bordered">
            <li class="active">
              <a href="#j1" data-toggle="tab">Tab One</a>
            </li>
            <li>
              <a href="#j2" data-toggle="tab">Tab Two</a>
            </li>
            <li>
              <a href="#j3" data-toggle="tab">Tab Three</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="j1" class="tab-pane fade in active">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div id="j2" class="tab-pane fade">Tab Two content</div>
            <div id="j3" class="tab-pane fade">Tab Three content</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: custom-tab vertical bordered right  -->
</div>
<!-- END: row -->
