---
title: Widgets
category: ui
vendorjs:
- https://cdn.jsdelivr.net/npm/jquery-countdown@2.2.0/dist/jquery.countdown.min.js
pagejs:
- assets/js/pagejs/ui-widgets.js
---
<!-- BEGIN: .box -->
<div class="box">

  <header class="bg-emerland">
    <h4>Only body</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <!-- BEGIN: .row -->
    <div class="row inview">
      <div class="col-md-3">
        <div class="box">
          <div class="box-body">
            box-body
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box b-a">
          <div class="box-body">
            box-body with border
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box b-a b-r-4">
          <div class="box-body">
            box-body with border & radius
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box bg-emerland">
          <div class="box-body">
            box-body background
          </div>
        </div>
      </div>

    </div>
    <!-- END: .row -->
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>With Header</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <!-- BEGIN: .row -->
    <div class="row inview">
      <div class="col-md-3">
        <div class="box">
          <header>
            <h4>Header</h4>
          </header>
          <div class="box-body">
            box-body
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box b-a">
          <header class="b-b">
            <h4>Header</h4>
          </header>
          <div class="box-body">
            box-body with border
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box b-a b-r-4">
          <header class="b-b">
            <h4>Header</h4>
          </header>
          <div class="box-body">
            box-body with border & radius
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box bg-emerland">
          <header class="b-b bg-wisteria">
            <h4>Header</h4>
          </header>
          <div class="box-body">
            box-body background
          </div>
        </div>
      </div>

    </div>
    <!-- END: .row -->
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>With Footer</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <!-- BEGIN: .row -->
    <div class="row inview">
      <div class="col-md-3">
        <div class="box">
          <div class="box-body">
            box-body
          </div>
          <footer>Footer</footer>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box b-a">
          <div class="box-body">
            box-body with border
          </div>
          <footer class="b-t">Footer</footer>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box b-a b-r-4">
          <div class="box-body">
            box-body with border & radius
          </div>
          <footer class="b-t">Footer</footer>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box bg-emerland">
          <div class="box-body">
            box-body background
          </div>
          <footer class="bg-wisteria">Footer</footer>
        </div>
      </div>

    </div>
    <!-- END: .row -->
  </div>
</div>
<!-- END: .box -->

<!-- BEGIN: .box -->
<div class="box">
  <header>
    <h4>Mixins</h4>
    {{> box-tools}}
  </header>
  <div class="box-body collapse in">
    <div class="row inview">

                <div class="col-md-3">
                  <div class="box b-a">
                    <header>
                      <h4 class="f-n">Title</h4>
                      <div class="box-tools">
                        43%
                      </div>
                    </header>
                    <div class="box-body">
                      <div class="text-center f-n h2 m-a-0">
                        123
                      </div>
                    </div>
                    <header class="b-t">
                      <h5 class="text-muted text-uppercase">sub</h5>
                    </header>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="box b-a">
                    <div class="box-body">
                      <div class="text-center f-n h2 m-a-0">
                        123
                      </div>
                    </div>
                    <footer class="b-t">
                      <h3 class="text-muted text-uppercase">
                        sub
                      </h3>
                      <h4>sub sub</h4>
                    </footer>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="box b-a">
                    <header class="b-b b-w-5 b-turquoise">
                      <h4 class="f-n">Title</h4>
                      <div class="box-tools">
                        43%
                      </div>
                    </header>
                    <div class="box-body">
                      <div class="text-center f-n h2 m-a-0">
                        123
                      </div>
                    </div>
                    <header class="b-t b-w-5 b-peter-river">
                      <h5 class="text-muted text-uppercase">sub</h5>
                      <div class="box-tools">
                        <button type="button" class="btn btn-default btn-outline btn-xs">
                          <i class="fa fa-fw fa-chevron-up"></i>
                        </button>
                      </div>
                    </header>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="box b-a b-alizarin">
                    <div class="box-body">
                      <div class="f-5 text-belize-hole overflow-auto">
                        f-5 text-belize-hole
                      </div>
                    </div>
                  </div>
                </div>

    </div>
  </div>
</div>
<!-- END: .box -->

<div class="row inview">
  <div class="col-xs-12">
    <div class="box">
      <header>
        <h4>Examples</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in">
        <div class="row inview">

          <div class="col-md-3">
            <div class="box b-a">
              <div class="box-body">
                <div class="row inview">
                  <div class="col-xs-4 f-3">
                    <i class="fa fa-fw fa-lemon-o"></i>
                  </div>
                  <div class="col-xs-8">
                    <div class="box">
                      <header>
                        <h4>TITLE</h4>
                        <div class="box-tools">
                          <i class="fa fa-fw fa-arrow-up text-success"></i>
                        </div>
                      </header>
                      <div class="box-body p-v-0">
                        <div class="h4 f-b">
                          $123,45
                        </div>
                        <div class="text-silver text-capitalize">
                          sub title
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="box bg-wet-asphalt text-white">
              <div class="box-body">
                <div class="text-center h1">
                  text-center h1
                </div>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="box bg-nephritis text-white">
              <div class="box-body">
                <div class="text-center h2">
                  <span data-momentum="clock" data-format="HH:mm"></span>
                  <br>
                  <span class="f-3" data-momentum="clock" data-format="ss"></span>
                </div>
              </div>
            </div>
          </div>





          <div class="col-md-3">
            <div class="box bg-pomegranate text-white">
              <div class="box-body">
                <div class="text-center h3">
                  <span data-momentum="clock" data-locale="fr" data-format="MMMM Do YYYY"></span>
                  <br>
                  <span class="f-5" data-momentum="clock" ></span>
                </div>
              </div>
            </div>
          </div>





          <div class="col-md-3">
            <div class="box bg-orange text-white">
              <div class="box-body">
                <div class="text-center h3">
                  <span data-momentum="relative" data-locale="de" data-time="2016-09-19T12:15:15+03:00" data-toggle="tooltip" title="2016-09-19T12:15:15+03:00"></span>
                </div>
              </div>
            </div>
          </div>





          <div class="col-md-3">
            <div class="box bg-amethyst text-white">
              <div class="box-body">
                <div id="countdown1">

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <header>
        <h2>Box</h2>
        <div class="box-tools">
          box-tools
        </div>
      </header>
      <div class="box-body">
  {{#markdown }}
    <div class="box">
      <header>
        <h2>Box</h2>
        <div class="box-tools">
          box-tools
        </div>
      </header>
      <div class="box-body">
        content ...
      </div>
    </div>
  {{/markdown}}
      </div>
    </div>

    <div class="box">
      <header>
        <div class="box-tools">
          box-tools
        </div>
          <h2>Box</h2>
      </header>
      <div class="box-body">
  {{#markdown }}
    <div class="box">
      <header>
        <div class="box-tools">
          box-tools
        </div>
          <h2>Box</h2>
      </header>
      <div class="box-body">
        content ...
      </div>
    </div>
  {{/markdown}}
      </div>
    </div>

    <div class="box">
      <div class="box-body">
  {{#markdown}}
    <div class="box">
      <div class="box-body">
        no header
      </div>
    </div>
  {{/markdown}}
      </div>
    </div>

    <div class="box">
      <div class="box-body  p-a-0">
  {{#markdown}}
    <div class="box">
      <div class="box-body p-a-0">
        no header & no padding
      </div>
    </div>
  {{/markdown}}
      </div>
    </div>

    <div class="box b-a">
      <header class="bg-warning">
        <h2>Header 2</h2>
        <div class="box-tools">
          <span class="label label-default">label</span>
        </div>
      </header>
      <div class="box-body">
        box-body
      </div>
      <header class="bg-danger">
        <h3>Header 3</h3>
        <span class="label label-primary">label</span>
      </header>
      <div class="box-body">
        box-body
      </div>
      <header class="bg-success">
        <h4>Header 4</h4>
        <span class="label label-info">label</span>
      </header>
      <div class="box-body">
        box-body
      </div>
      <header class="bg-info">
        <h5>Header 5</h5>
        <span class="label label-success">label</span>
      </header>
      <div class="box-body">
        box-body
      </div>
      <header class="bg-primary">
        <h6>Header 6</h6>
        <span class="label label-danger">label</span>
      </header>
      <div class="box-body">
        box-body
      </div>
    </div>

  </div>


  <div class="col-sm-6">

    <div class="box">
      <header>
        <h4>Collapsible</h4>
        <div class="box-tools">
          <a href="#" data-box="collapse">click</a>
        </div>
      </header>
      <div class="box-body collapse in">
        <p>
          lorem ...
        </p>
      </div>
    </div>

    <div class="box">
      <header>
        <h4>Collapsed</h4>
        <div class="box-tools">
          <a href="#" data-box="collapse">click</a>
        </div>
      </header>
      <div class="box-body collapse">
        <p>
          lorem ...
        </p>
      </div>
    </div>

    <div class="box">
      <header>
        <h4>Closable</h4>
        <div class="box-tools">
          <a href="#" data-box="close">close</a>
        </div>
      </header>
      <div class="box-body">
        <p>
          lorem ...
        </p>
      </div>
    </div>

    <div class="box">
      <header>
        <h4>Full Screen</h4>
        <div class="box-tools">
          <a href="#" data-fullscreen="box">click</a>
        </div>
      </header>
      <div class="box-body">
        <p>
          click <code>esc</code> button for exit fullscreen mode.
        </p>
      </div>
    </div>

    <div class="box">
      <header>
        <h4>Mixin</h4>
        {{> box-tools}}
      </header>
      <div class="box-body collapse in" id="box3">
        <p>
          lorem ...
        </p>
      </div>
    </div>

    <div class="box">
      <header>
      {{> box-tools}}
        <h4 class="text-right">Mixin 2</h4>
      </header>
      <div class="box-body collapse in" id="box3">
        <p>
          lorem ...
        </p>
      </div>
    </div>


    <div class="box bg-emerland text-white">
      <header>
        <h4>Background Color</h4>
      </header>
      <div class="box-body">
        <p>
          lorem ...
        </p>
      </div>
    </div>

    <div class="box">
      <header class="bg-peter-river text-white">
        <h4>Background Color</h4>
      </header>
      <div class="box-body bg-orange text-white">
        <p>
          lorem ...
        </p>
      </div>
    </div>

    <div class="box b-r-5">
      <header class="bg-turquoise text-white">
        <h4>Border Radius</h4>
      </header>
      <div class="box-body bg-alizarin text-white">
        <p>
          lorem ...
        </p>
      </div>
    </div>


    <div class="box b-a">
      <header class="b-b">
        <h4>Border</h4>
        <div class="box-tools b-a">
          <a href="#" class="p-a-5">link</a>
          <a href="#" class="p-a-5">link</a>
        </div>
      </header>
      <div class="box-body">
        <p>
          lorem ...
        </p>
      </div>
    </div>

    <div class="box shadow-24dp">
      <header>
        <h4>Shadow</h4>
        <div class="box-tools">
          <span class="badge">badge</span>
        </div>
      </header>
      <div class="box-body">
        <h4>Available Shadow Class</h4>
        <div class="flex flex-row flex-wrap">
          <div class="m-a-10 p-a-15 shadow-2dp">
            <code>shadow-2dp</code>
          </div>
          <div class="m-a-10 p-a-15 shadow-3dp">
            <code>shadow-3dp</code>
          </div>
          <div class="m-a-10 p-a-15 shadow-4dp">
            <code>shadow-4dp</code>
          </div>
          <div class="m-a-10 p-a-15 shadow-6dp">
            <code>shadow-6dp</code>
          </div>
          <div class="m-a-10 p-a-15 shadow-8dp">
            <code>shadow-8dp</code>
          </div>
          <div class="m-a-10 p-a-15 shadow-16dp">
            <code>shadow-16dp</code>
          </div>
          <div class="m-a-10 p-a-15 shadow-24dp">
            <code>shadow-24dp</code>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
