<div class="app">
  <div class="app-wrap">
    <header class="app-heading">
      APP HEADING
    </header>
    <div class="app-container">
      <aside class="app-side">
        <header class="side-heading">
          SIDE HEADING
        </header>
        <div class="side-content">
          SIDE CONTENT
        </div>
        <footer class="side-footer">
          SIDE FOOTER
        </footer>
      </aside>
      <div class="app-main">
        <header class="main-heading">
          MAIN HEADING
        </header>
        <div class="main-content">
          <div class="container-fluid">
            MAIN CONTENT
          </div>
        </div>
        <footer class="main-footer">
          MAIN FOOTER
        </footer>
      </div>
    </div>
    <footer class="app-footer">
      APP FOOTER
    </footer>
  </div>
</div>
