<nav class="side-nav">
  <ul class="nav nav-bordered nav-stacked metismenu" data-plugin=metismenu>

    <li>
      <a href="#">Introduction <i class="fa arrow"></i></a>
      <ul class="nav">
        <li><a href="#whats-inside">What's Inside?</a></li>
      </ul>
    </li>

    <li class="nav-header">STRUCTURE</li>
    <li>
      <a href="#html-structure">HTML Structure
        <i class="fa arrow"></i>
      </a>
      <ul class="nav">
        <li><a href="#basic-template">Basic Template</a></li>
        <li><a href="#app-wrapper">App Wrapper</a></li>
        <li><a href="#app-container">App Container</a></li>
        <li><a href="#app-main">App Main</a></li>
        <li><a href="#app-side">App Side</a></li>
      </ul>
    </li>
    <li><a href="#boxed-layout">Boxed Layout</a></li>
    <li>
      <a href="#fixed-layout">Fixed Layout
        <i class="fa arrow"></i>
      </a>
      <ul class="nav">
        <li><a href="#page-fixed">Page Fixed</a></li>
        <li><a href="#main-fixed">Main Fixed</a></li>
        <li><a href="#side-fixed">Side Fixed</a></li>
        <li><a href="#navbar-fixed">Navbar Fixed</a></li>
      </ul>
    </li>

    <li>
      <a href="#sidebar-settings">Sidebar Settings
        <i class="fa arrow"></i>
      </a>
      <ul class="nav">
        <li><a href="#sidebar-width">Sidebar Width</a></li>
        <li><a href="#sidebar-functions">Sidebar Functions</a></li>
        <li><a href="#sidebar-hoverable">Sidebar Hoverable</a></li>
      </ul>
    </li>

    <li class="nav-header">COMPONENTS</li>
    <li><a href="#page-fullscreen">FullScreen Page</a></li>
    <li>
      <a href="#">Box
        <i class="fa arrow"></i>
      </a>
      <ul class="nav">
        <li><a href="#box-structure">Box Structure</a></li>
        <li><a href="#box-functions">Box Functions</a></li>
      </ul>
    </li>

    <li class="nav-header">PLUGINS</li>
    <li>
      <a href="#">Plugins
        <i class="fa arrow"></i>
      </a>
      <ul class="nav">
        <li>
          <a href="#momentum">Momentum</a>
          <a href="#charty">Charty</a>
          <a href="#others">Others</a>
        </li>
      </ul>
    </li>
    <li><a href="#credits">Credits</a></li>
  </ul>
</nav>
