<div class="app-container">
  <aside class="app-side">
    ... (not required, must be single)
  </aside>
  <div class="side-visible-line" data-side="collapse">
    <i class="fa fa-caret-left"></i>
    (not required, expand/collapse for app-side)
  </div>
  <div class="app-main">
    ... (required, must be single)
  </div>
</div>
