<aside class="app-side">
  <header class="side-heading">
    ... (not required, can be multiple)
  </header>
  <div class="side-content">
    ... (required, must be single)
  </div>
  <footer class="side-footer">
    ... (not required, can be multiple)
  </footer>
</aside>
