<div class="app">
  <div class="app-wrap">
    <header class="app-heading">
      ... (not required, can be multiple)
    </header>
    <div class="app-container">
      ... (required, must be single)
    </div>
    <footer class="app-footer">
      ... (not required, can be multiple)
    </footer>
  </div>
</div>
