<div class="app-main">
  <header class="main-heading">
    ... (not required, can be multiple)
  </header>
  <main class="main-content">
    ... (required, must be single)
  </main>
  <footer class="main-footer">
    ... (not required, can be multiple)
  </footer>
</div>
