<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>title</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">

  <!-- Elektron -->
  <link rel="stylesheet" href="../assets/css/elektron.min.css">
  
</head>

<body>
<!-- not required for ember.js -->
  <div class="app">
    ...
  </div>

  <!-- jQuery (necessary for Bootstrap's & elektron JavaScript plugins) -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- elektron -->
  <script src="../assets/js/elektron.min.js"></script>
</body>

</html>
