/* ==========================================================================
   Base
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body,
html {
  direction: ltr;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

* {
  outline-width: 0;
}

a {
  color: #343a40;
}

a:focus,
a:hover {
  color: #495057;
  text-decoration: none;
}
