/*  metis-canvas
    ========================================================================= */

.canvas.is-fixed {
  z-index: 1031;
}

/*  fullCalendar
    ========================================================================= */
.fc-state-default {
  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat-x;
  box-shadow: none;
  color: #333333;
  text-shadow: none;
}
.fc-state-default {
  border: 1px solid;
}
.fc-button {
  color: inherit;
  border: 1px solid #e7eaec;
  cursor: pointer;
  display: inline-block;
  height: 1.9em;
  line-height: 1.9em;
  overflow: hidden;
  padding: 0 0.6em;
  position: relative;
  white-space: nowrap;
}
.fc-state-active {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
}
.fc-header-title h2 {
  font-size: 16px;
  font-weight: 600;
  color: inherit;
}
.fc-content .fc-widget-header,
.fc-content .fc-widget-content {
  border-color: #e7eaec;
  font-weight: normal;
}
.fc-border-separate tbody {
  background-color: #f9f9f9;
}
.fc-state-highlight {
  background: #FCF8E3;
}
.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-radius: 2px;
}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
  padding: 4px 6px;
}
.fc-event-time,
.fc-event-title {
  color: #717171;
  padding: 0 1px;
}
.ui-calendar .fc-event-time,
.ui-calendar .fc-event-title {
  color: #fff;
}



[class*="bg-"].fc-event {
  border-color: transparent;
}


#external-events .fc-event {
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Dropzone
   ========================================================================== */
.dropzone {
  border-style: dashed !important;
  border-width: 1px !important;
}



/* jqvmap
   ========================================================================== */
.jqvmap-zoomin, .jqvmap-zoomout {
    border-radius: 0;
    background: #777;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding-top: 0;
}
