<!--begin logo-->
<a class="logo" href="index.html">
  <span class="logo-xs">
    <span class="logo-text">{{#if demo}}A{{else}}E{{/if}}</span>
  </span>
  <span class="logo-lg">
    <span class="logo-text">{{projectName}}</span>
  </span>
</a>
<!--end logo-->
