<header class="main-header">
    <a href="#" class="square sidebar-toggle">
        <span class="fa fa-bars"></span>
    </a>
    <form role="search" class="navbar-form header-search">
        <span class="hide visible-md-inline-block visible-lg-inline-block fa fa-search fs18"></span>
        <div class="form-group">
            <input placeholder="Search..." class="form-control" type="text">
        </div>
    </form>
</header>
