<ul class="nav nav-pills nav-inline nav-full megamenu">
  <li>
    <a href="#">Home</a>
    <div class="nav-full-item">
      <h2>#1</h2>
      <div>div #1</div>
      <p>p #1</p>
    </div>
  </li>
  <li>
    <a href="#">Contact</a>
    <div class="nav-full-item bg-peter-river text-white">
      <h2>#2</h2>
      <p>p #2</p>
    </div>
  </li>
  <li>
    <a href="#">Port</a>
    <div class="nav-full-item">
      <h2>#3</h2>
      <div>div #3</div>
      <p>p #3</p>
    </div>
  </li>
</ul>
