<li>
  <a href="javascript:;">
    <span class="nav-icon">
      <i class="fa fa-fw fa-code"></i>
    </span>
    <span class="nav-title">Multilevel</span>
    <span class="nav-tools{{#if topNav}} visible-xs{{/if}}">
      <i class="fa fa-fw arrow"></i>
    </span>
  </a>
  <ul class="nav nav-sub">
    <li>
      <a href="javascript:;">
        <span class="nav-title">Level 1</span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <span class="nav-title">Level 1</span>
        <span class="nav-tools">
          <i class="fa fa-fw arrow"></i>
        </span>
      </a>
      <ul class="nav nav-sub">
        <li>
          <a href="javascript:;">
            <span class="nav-title">Level 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <span class="nav-title">Level 2</span>
            <span class="nav-tools">
              <i class="fa fa-fw arrow"></i>
            </span>
          </a>
          <ul class="nav nav-sub">
            <li>
              <a href="javascript:;">
                <span class="nav-title">Level 3</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="nav-title">Level 3</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;">
        <span class="nav-title">Level 1</span>
      </a>
    </li>
  </ul>
</li>
