<li>
  <a class="active" href="#">active</a>
  <ul class="nav nav-sub collapse bg-turquoise">
    <li><a class="text-clouds" href="#">item</a></li>
    <li><a class="text-clouds" href="#">item</a></li>
    <li><a class="text-clouds" href="#">item</a></li>
  </ul>
</li>
<li>
  <a href="#">item</a>
  <ul class="nav nav-sub collapse bg-wisteria">
    <li><a class="text-clouds" href="#">item</a></li>
    <li><a class="text-clouds" href="#">item</a></li>
      <li><a class="text-clouds" href="#">item</a></li>
      <li><a class="text-clouds" href="#">item</a></li>
  </ul>
</li>
<li class="nav-header">header</li>
<li class="disabled">
  <a href="#">disabled</a>
</li>
<li class="nav-divider"></li>
<li>
  <a class="disabled" href="#">disabled</a>
</li>
