<!-- BEGIN: nav-content -->

  <ul class="metismenu nav{{#unless topNav}} flex-column{{/unless}}" data-plugin="metismenu">

    {{#unless topNav}}
    <li class="nav-header nav-item">MAIN</li>
    {{/unless}}



    <!-- BEGIN: Dashboard -->
<li class="nav-item{{#unless topNav}}{{#is category "dashboard" }} mm-active {{/is}}{{/unless}}">
      <a href="#" class="nav-link has-arrow{{#is category "dashboard" }} active {{/is}}">
      <span class="nav-icon">
              <i class="fa fa-fw fa-cogs"></i>
            </span>
            <span class="nav-title">Dashboards</span>
      </a>
      <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link{{#is title "Dashboard 1" }} active{{/is}}" href="dashboard1.html">Dashboard 1</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Dashboard 2" }} active{{/is}}" href="dashboard2.html">Dashboard 2</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Dashboard 3" }} active{{/is}}" href="dashboard3.html">Dashboard 3</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Dashboard 4" }} active{{/is}}" href="dashboard-rtl1.html">Dashboard RTL 1</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Dashboard 5" }} active{{/is}}" href="dashboard-rtl2.html">Dashboard RTL 2</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Dashboard 6" }} active{{/is}}" href="dashboard-rtl3.html">Dashboard RTL 3</a></li>
          </ul>
    </li>
    <!-- END: Dashboard -->

    {{#unless topNav}}
    <li class="nav-divider"></li>
    <li class="nav-header">Components</li>
    {{/unless}}

    <!-- BEGIN: chart -->
    <li class="nav-item{{#unless topNav}}{{#is category "chart" }} mm-active {{/is}}{{/unless}}">
      <a href="#" class="nav-link has-arrow{{#is category "chart" }} active {{/is}}">
      <span class="nav-icon">
              <i class="fa fa-fw fa-bar-chart-o"></i>
            </span>
            <span class="nav-title">Chart</span>
            <span class="nav-tools me-3">
              <span class="badge bg-primary">4</span>
            </span>
      </a>

          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link{{#is title "Quick Chart" }} active {{/is}} "  href="chart-quick.html">Quick Chart</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Chart.js" }} active {{/is}}    "  href="chart-chartjs.html">Chart.js</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Morris" }} active {{/is}}      "  href="chart-morris.html">Morris</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Flot" }} active {{/is}}        "  href="chart-flot.html">Flot</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Inline Chart" }} active {{/is}}"  href="chart-inline.html">Inline charts</a></li>
          </ul>
    </li>
    <!-- END: chart -->

    <!-- BEGIN: maps -->
    <li class="nav-item{{#unless topNav}}{{#is category "maps" }} mm-active {{/is}}{{/unless}}">
      <a href="#" class="nav-link has-arrow{{#is category " maps" }} active {{/is}}">
        <span class="nav-icon"><i class="fa fa-fw fa-map"></i></span>
        <span class="nav-title">Maps</span>
      </a>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link{{#is title "Google Maps" }} active {{/is}}" href="map-google.html">Google Maps</a></li>
            <li class="nav-item"><a class="nav-link{{#is title "Vector Map" }} active{{/is}}" href="map-vector.html">Vector Maps</a></li>
          </ul>
    </li>
    <!-- END: maps -->

    <!-- BEGIN: ui -->
    <li class="nav-item{{#unless topNav}}{{#is category "ui" }} mm-active {{/is}}{{/unless}}">
      <a href="#" class="nav-link has-arrow{{#is category " ui" }} active {{/is}}">
        <span class="nav-icon"><i class="fa fa-fw fa-tachometer"></i></span>
        <span class="nav-title">UI</span>
      </a>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link {{#is title "General" }} active {{/is}}" href="ui-general.html">General</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Font & Text" }} active {{/is}}" href="ui-font.html">Font</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Widgets" }} active {{/is}}" href="ui-widgets.html">Widgets</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Momentum" }} active {{/is}}" href="ui-momentum.html">Momentum</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Navs" }} active {{/is}}" href="ui-nav.html">Nav</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Todo" }} active {{/is}}" href="ui-todo.html">Todo</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Mega Menu" }} active {{/is}}" href="ui-mega.html">Mega Menu</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Tabs" }} active {{/is}}" href="ui-tab.html">Tab</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Colors" }} active {{/is}}" href="ui-color.html">Colors</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Buttons" }} active {{/is}}" href="ui-button.html">Buttons</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Canvas" }} active {{/is}}" href="ui-canvas.html">Canvas</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Slider" }} active {{/is}}" href="ui-slider.html">Slider</a></li>
        <li class="nav-item"><a class="nav-link {{#is title "Timeline" }} active {{/is}}" href="ui-timeline.html">Timeline</a></li>
        <!-- BEGIN: icon -->
        <li class="nav-item{{#is subcategory "icons" }}mm-active{{/is}}" >
          <a href="#" class="nav-link has-arrow">
            <span class="nav-title">Icons</span>
          </a>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link{{#is title "Font Awesome" }} active {{/is}}" href="ui-icon-awesome.html">
                <span class="nav-icon"><i class="fa fa-fw fa-font-awesome"></i></span>
                <span class="nav-title">Font Awesome</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{#is title "Glyphicons" }} active {{/is}}" href="ui-icon-glyphicon.html">
                <span class="nav-icon"><i class="glyphicon glyphicon-fire"></i></span>
                <span class="nav-title">Glyphicons</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- END: icon -->
      </ul>
    </li>
    <!-- END: ui -->

    <!-- BEGIN: forms -->
    <li class="nav-item{{#unless topNav}}{{#is category "forms" }} mm-active {{/is}}{{/unless}}">
      <a href="#" class="nav-link has-arrow{{#is category "forms" }} active {{/is}}">
        <span class="nav-icon"><i class="fa fa-fw fa-edit"></i></span>
        <span class="nav-title">Forms</span>
      </a>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link{{#is title "Form Basic" }}     active {{/is}}" href="form-basic.html">Basic</a></li>
        <li class="nav-item"><a class="nav-link{{#is title "Form Advanced" }}  active {{/is}}" href="form-advanced.html">Advanced</a></li>
        <li class="nav-item"><a class="nav-link{{#is title "Form Wizard" }}    active {{/is}}" href="form-wizard.html">Wizard</a></li>
        <li class="nav-item"><a class="nav-link{{#is title "File Upload" }}    active {{/is}}" href="form-upload.html">File Upload</a></li>
        <li class="nav-item"><a class="nav-link{{#is title "Text Editor" }}    active {{/is}}" href="form-editor.html">Text Editor</a></li>
      </ul>
    </li>
    <!-- END: forms -->

    <!-- BEGIN: table -->
    <li class="nav-item{{#unless topNav}}{{#is category "tables" }} mm-active {{/is}}{{/unless}}">
      <a href="#" class="nav-link has-arrow{{#is category " tables" }} active {{/is}}">
        <span class="nav-icon"><i class="fa fa-fw fa-table"></i></span>
        <span class="nav-title">Table</span>
      </a>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link{{#is title "Table Basic" }}    active {{/is}}" href="table-basic.html">Basic</a></li>
        <li class="nav-item"><a class="nav-link{{#is title "Table Sortable" }} active {{/is}}" href="table-sortable.html">Sortable</a></li>
        <li class="nav-item"><a class="nav-link{{#is title "Datatable" }}      active {{/is}}" href="table-datatable.html">Datatables</a></li>
    </ul>
  </li>
  <!-- END: table -->




  <!-- BEGIN: apps -->
  <li class="nav-item{{#unless topNav}}{{#is category "app" }} mm-active {{/is}}{{/unless}}">
      <a href="#" class="nav-link has-arrow{{#is category "app" }} active {{/is}}">
        <span class="nav-icon"><i class="fa fa-fw fa-pagelines"></i></span>
        <span class="nav-title">App</span>
      </a>
        <ul class="nav flex-column">
          <li><a class="nav-link{{#is title "Calendar" }}         active{{/is}}" href="app-calendar.html">Calendar</a></li>
          <li><a class="nav-link{{#is title "Gallery" }}          active{{/is}}" href="app-gallery.html">Gallery</a></li>
          <li><a class="nav-link{{#is title "Login" }}            active{{/is}}" href="app-login.html">Login</a></li>
          <li><a class="nav-link{{#is title "Locked" }}           active{{/is}}" href="app-locked.html">Locked</a></li>
          <li><a class="nav-link{{#is title "Register" }}         active{{/is}}" href="app-register.html">Register</a></li>
          <li><a class="nav-link{{#is title "Forgot Password" }}  active{{/is}}" href="app-forgot.html">Forgot</a></li>
          <li><a class="nav-link{{#is title 404}}                 active{{/is}}" href="app-404.html">404</a></li>
          <li><a class="nav-link{{#is title 500}}                 active{{/is}}" href="app-500.html">500</a></li>

          <!-- BEGIN: mail -->
          <li class="nav-item {{#is subcategory "mail" }} mm-active{{/is}}">
            <a href="#" class="nav-link has-arrow{{#is subcategory "mail" }} active{{/is}}">
              <span class="nav-icon"><i class="fa fa-fw fa-envelope-o"></i></span>
              <span class="nav-title">Mail</span>
            </a>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link{{#is title "Mail Inbox" }}   active {{/is}}" href="app-mail-inbox.html">Inbox</a></li>
              <li class="nav-item"><a class="nav-link{{#is title "Mail Compose" }} active {{/is}}" href="app-mail-compose.html">Compose</a></li>
              <li class="nav-item"><a class="nav-link{{#is title "Mail Read" }}    active {{/is}}" href="app-mail-read.html">Read</a></li>
            </ul>
          </li>
          <!-- END: mail -->
</ul>
</li>
<!-- END: apps -->

{{#unless topNav}}
<li class="nav-divider"></li>
{{/unless}}

<!-- BEGIN: utility -->
<li class="nav-item{{#unless topNav}}{{#is category "utility" }} mm-active {{/is}}{{/unless}}">
  <a href="#" class="nav-link has-arrow{{#is category "utility" }} active {{/is}}">
    <span class="nav-icon"><i class="fa fa-fw fa-wrench"></i></span>
    <span class="nav-title">Utility</span>
  </a>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link{{#is title "Spacing" }}       active {{/is}}" href="u-spacing.html">Spacing</a></li>
    <li class="nav-item"><a class="nav-link{{#is title "Border" }}        active {{/is}}" href="u-border.html">Border</a></li>
    <li class="nav-item"><a class="nav-link{{#is title "Overflow" }}      active {{/is}}" href="u-overflow.html">Overflow</a></li>
    <li class="nav-item"><a class="nav-link{{#is title "Display" }}       active {{/is}}" href="u-display.html">Display</a></li>
    <li class="nav-item"><a class="nav-link{{#is title "Flexbox" }}       active {{/is}}" href="u-flex.html">Flexbox</a></li>
    <li class="nav-item"><a class="nav-link{{#is title "Shadow" }}        active {{/is}}" href="u-shadow.html">Shadow</a></li>
    <li class="nav-item"><a class="nav-link{{#is title "Waves Effeckt" }} active {{/is}}" href="u-waves.html">Waves Effect</a></li>
  </ul>
</li>
<!-- END: utility -->

<li class="nav-item">
  <a href="#" class="nav-link has-arrow">
    <span class="nav-icon">
      <i class="fa fa-fw fa-code"></i>
    </span>
    <span class="nav-title">Multilevel</span>
  </a>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="nav-title">Level 1</span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link has-arrow">
        <span class="nav-title">Level 1</span>
      </a>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-title">Level 2</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link has-arrow">
            <span class="nav-title">Level 2</span>
          </a>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="nav-title">Level 3</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="nav-title">Level 3</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="nav-title">Level 1</span>
      </a>
    </li>
  </ul>
</li>

{{#unless topNav}}
<li class="nav-item nav-divider"></li>
{{/unless}}

<li class="nav-item">
  <a class="nav-link" href="document.html">
    <span class="nav-icon">
      <i class="fa fa-fw fa-book text-danger"></i>
    </span>
    <span class="nav-title">Document</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="dashboard{{#if rtl}}{{else}}-rtl{{/if}}1.html">
    <span class="nav-title">{{#if rtl}}LTR{{else}}RTL{{/if}}</span>
  </a>
</li>
</ul>
<!-- END: nav-content -->
