<!-- begin user-panel -->
<div class="user-panel">
  <div class="user-image">
    <a href="#">
      <img class="img-circle" src="assets/img/m1.svg" alt="John Doe">
    </a>
  </div>
  <div class="user-info">
    <h5>John Doe</h5>
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="text-turquoise small dropdown-toggle bg-transparent" data-toggle="dropdown">
          <i class="fa fa-fw fa-circle">
          </i> Online
        </a>
        <ul class="dropdown-menu animate__animated animate__flipInY pull-right">
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
          <li>
            <a href="#">Mail Box</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">
              <i class="fa fa-fw fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: user-panel -->
