<!-- begin box-tools -->
<div class="box-tools">
  <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
  <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
</div>
<!-- END: box-tools -->
