<div class="input-group">
  <span class="input-group-addon" id="cp1">
    <i class="fa fa-fw fa-phone"></i>
  </span>
  <input type="text" class="cleave-phone form-control" placeholder="Enter US phone number" aria-describedby="cp1">
</div>
