<div class="input-group">
  <span class="input-group-addon" id="cn1">
    123
  </span>
  <input type="text" class="text-right cleave-num form-control" placeholder="Enter Numeral" aria-describedby="cn1">
</div>
