<div class="input-group">
  <span class="input-group-addon" id="cpr1">
    $24,08
  </span>
  <input type="text" class="text-right cleave-cpr1 form-control" placeholder="Enter Numeral" aria-describedby="cpr1">
</div>
