<div class="input-group">
  <span class="input-group-addon" id="ciban">
    German IBAN
  </span>
  <input type="text" class="cleave-iban form-control" placeholder="DE44 5001 0517 5407 3249 31" aria-describedby="ciban">
</div>
