<div class="input-group">
  <span class="input-group-addon" id="cd1">
    <i class="fa fa-fw fa-calendar"></i>
  </span>
  <input type="text" class="cleave-date1 form-control" placeholder="2016/08/20" aria-describedby="cd1">
</div>
