<div class="input-group">
  <span class="input-group-addon" id="cd2">
    <i class="fa fa-fw fa-calendar"></i>
  </span>
  <input type="text" class="cleave-date2 form-control" placeholder="08/20" aria-describedby="cd2">
</div>
