<div class="input-group">
  <span class="input-group-addon" id="cean">
    EAN-2
  </span>
  <input type="text" class="cleave-ean form-control" placeholder="1 123456 123456" aria-describedby="cean">
</div>
