---
import CssVendor from "../components/CssVendor.astro";
import JsVendor from "../components/JsVendor.astro";
import MetaVendor from "../components/MetaVendor.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaVendor />
    <title>Locked</title>

    <CssVendor />

    <style media="screen">
      .app {
        background-image: url("assets/img/bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>

  <body class="bg-light">
    <div class="app">
      <div class="app-locked bg-black-40">
        <div class="text-center animate__animated animate__fadeInLeft py-5">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-sm-offset-2">
                <img
                  class="rounded-circle"
                  src="/chaldene/assets/img/m2.svg"
                  alt="John Doe"
                />
              </div>
              <div class="col-sm-4">
                <h4 class="text-white text-left">Locked</h4>
                <div class="pt-4">
                  <div class="input-group input-group-lg">
                    <input
                      type="password"
                      class="form-control bg-transparent border border-white text-white"
                      placeholder="Password"
                      tabindex="1"
                    />
                    <span class="input-group-btn">
                      <button
                        class="btn btn-default bg-transparent border border-white text-white"
                        type="button"
                      >
                        <i class="fa fa-fw fa-arrow-right"></i>
                      </button>
                    </span>
                  </div>
                  <!-- /input-group -->
                  <div class="small text-start text-white mt-5">
                    <i class="fa fa-fw fa-clock-o"></i>
                    23 seconds ago
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <JsVendor />
  </body>
</html>
