---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Three Column Content 3">
  <!-- begin .columns -->
  <div class="columns bg-secondary py-3">
    <!-- BEGIN: .column -->
    <div class="column bg-white is-flexible shadow-sm ps">
      <div class="box">
        <header class="border-bottom">
          <h4>Flexible Column</h4>
          <div class="ms-auto">
            <button
              class="d-none d-md-inline-block btn btn-primary"
              data-toggle="canvas"
              data-target="#left"
            >
              <i class="fa fa-fw fa-angle-right"></i>
            </button>
            <button
              class="d-none d-md-inline-block btn btn-primary"
              data-toggle="canvas"
              data-target="#right"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>
            </button>
          </div>
        </header>
        <div class="box-body">&nbsp;</div>
      </div>
    </div>
    <!-- END: .column -->

    <!-- BEGIN: .column.is-fixed -->
    <div class="column is-fixed bg-white shadow-sm ps ms-3" id="left">
      <div class="box">
        <header class="border-bottom">
          <div class="ms-auto">
            <button
              class="d-md-none btn btn-primary me-3"
              data-toggle="canvas"
              data-target="#left"
            >
              <i class="fa fa-fw fa-bars"></i>
            </button>
          </div>
          <h4>Fixed Column Left</h4>
        </header>
        <div class="box-body">&nbsp;</div>
      </div>
    </div>
    <!-- END: .column.is-fixed -->

    <!-- BEGIN: .column.is-fixed -->
    <div class="column is-fixed bg-white shadow-sm ps ms-3" id="right">
      <div class="box">
        <header class="border-bottom">
          <div class="ms-auto">
            <button
              class="d-md-none btn btn-primary me-3"
              data-toggle="canvas"
              data-target="#right"
            >
              <i class="fa fa-fw fa-bars"></i>
            </button>
          </div>
          <h4>Fixed Column Right</h4>
        </header>
        <div class="box-body">&nbsp;</div>
      </div>
    </div>
    <!-- END: .column.is-fixed -->
  </div>
  <!-- END: .columns -->
</LayoutFirst>
