---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---
<LayoutFirst title="File Upload">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/min/dropzone.min.css">
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/dropzone.min.js"></script>

  <div class="box shadow-sm border">
    <header class="box-heading">
      <h4 class="box-title text-uppercase">
        dropzone
      </h4>
    </header>
    <header class="box-heading">
      <h6 class="text-muted">For multiple file upload</h6>
    </header>
    <div class="box-body">
      <form class="dropzone" action="#">
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form>
    </div>
  </div>
</LayoutFirst>