---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---
<LayoutFirst title="Form Wizard">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-steps@1.1.0/demo/css/jquery.steps.css">

  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.4/dist/jquery.validate.min.js"></script>
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/jquery-steps@1.1.0/build/jquery.steps.min.js"></script>
  <script slot="scripts" is:inline src="/chaldene/assets/js/pagejs/form-wizard.js"></script>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <header>
          <h4>Basic Wizard <a href="http://www.jquery-steps.com/" target="_blank">
              <i class="fa fa-book"></i>
            </a>
          </h4>
          <!-- begin ms-auto -->
          <div class="ms-auto">
            <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
            <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
          </div>
          <!-- END: ms-auto -->
        </header>
        <div class="box-body collapse in">
          <div id="example-basic">
            <span>First</span>
            <section>
              <div class="text-center text-muted">
                <h2>This is first content</h2>
              </div>
            </section>
            <span>Second</span>
            <section>
              <div class="text-center text-muted">
                <h2>This is second content</h2>
              </div>
            </section>
            <span>Third</span>
            <section>
              <div class="text-center text-muted">
                <h2>This is third content</h2>
              </div>
            </section>

            <span>Fourth</span>
            <section>
              <div class="text-center text-muted">
                <h2>This is fourth content</h2>
                <p class="text-primary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <header>
          <h4>Validation Wizard Form <small>This example show how to use Steps with jQuery Validation plugin.</small> </h4>
          <!-- begin ms-auto -->
          <div class="ms-auto">
            <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
            <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
          </div>
          <!-- END: ms-auto -->
        </header>
        <div class="box-body collapse in">
          <form id="example-form" action="#">
            <div>
              <h3>Account</h3>
              <section>
                <div class="form-group">
                  <label for="userName">User name *</label>
                  <input type="text" class="form-control required" id="userName" placeholder="user name">
                </div>
                <div class="form-group">
                  <label for="password">Password *</label>
                  <input type="password" name="password" class="form-control required" id="password" placeholder="password">
                </div>
                <div class="form-group">
                  <label for="confirm">Confirm Password *</label>
                  <input id="confirm" name="confirm" type="password" class="form-control required" placeholder="password">
                </div>
                <p>(*) Mandatory</p>
              </section>
              <h3>Profile</h3>
              <section>
                <div class="form-group">
                  <label for="name">First name *</label>
                  <input id="name" name="name" type="text" class="required form-control">
                </div>

                <div class="form-group">
                  <label for="surname">Last name *</label>
                  <input id="surname" name="surname" type="text" class="required form-control">
                </div>

                <div class="form-group">
                  <label for="email">Email *</label>
                  <input id="email" name="email" type="email" class="required email form-control">
                </div>

                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea id="address" name="address" rows="3" class="form-control"></textarea>
                </div>

                <p>(*) Mandatory</p>
              </section>
              <h3>Hints</h3>
              <section>
                <ul>
                  <li>Foo</li>
                  <li>Bar</li>
                  <li>Foobar</li>
                </ul>
              </section>
              <h3>Finish</h3>
              <section>
                <div class="checkbox">
                  <label for="acceptTerms">
                    <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
                    I agree with the Terms and Conditions
                  </label>
                </div>
              </section>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</LayoutFirst>
