---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Form Basic">
  <script slot="scripts" is:inline src="/chaldene/assets/js/pagejs/form-basic.js"></script>
  <div class="box">
    <header class="bg-danger">
        <h4>Form Basic</h4>
        <!-- begin ms-auto -->
        <div class="ms-auto">
            <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
            <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
        </div>
        <!-- END: ms-auto -->
    </header>
    <div class="box-body collapse in">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="text1" class="col-sm-2 control-label">Text</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="text1" placeholder="Type ...">
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label for="pass1" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pass1" placeholder="Type ...">
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label for="textarea1" class="col-sm-2 control-label">Text Area</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="textarea1" placeholder="Type ..."></textarea>
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label class="col-sm-2 control-label">Select</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="1">Leanne Graham</option>
                        <option value="2">Ervin Howell</option>
                        <option value="3">Clementine Bauch</option>
                        <option value="4">Patricia Lebsack</option>
                        <option value="5">Chelsey Dietrich</option>
                        <option value="6">Mrs. Dennis Schulist</option>
                        <option value="7">Kurtis Weissnat</option>
                        <option value="8">Nicholas Runolfsdottir V</option>
                        <option value="9">Glenna Reichert</option>
                        <option value="10">Clementina DuBuque</option>
                    </select>
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label class="col-sm-2 control-label">Multiple Select</label>
                <div class="col-sm-10">
                    <select class="form-control" multiple>
                        <option value="1">Leanne Graham</option>
                        <option value="2">Ervin Howell</option>
                        <option value="3">Clementine Bauch</option>
                        <option value="4">Patricia Lebsack</option>
                        <option value="5">Chelsey Dietrich</option>
                        <option value="6">Mrs. Dennis Schulist</option>
                        <option value="7">Kurtis Weissnat</option>
                        <option value="8">Nicholas Runolfsdottir V</option>
                        <option value="9">Glenna Reichert</option>
                        <option value="10">Clementina DuBuque</option>
                    </select>
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label class="control-label col-sm-2">Spinner</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" value="6">
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label for="color1" class="col-sm-4 control-label">Color (browser default)</label>
                <div class="col-sm-8">
                    <input type="color" id="color1">
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label class="control-label col-sm-2">Read only</label>
                <div class="col-sm-10">
                    <input type="text" value="read only" readonly class="form-control">
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label class="control-label col-sm-2">Disabled input</label>

                <div class="col-sm-10">
                    <input type="text" value="disabled" disabled class="form-control">
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label for="textarea2" class="col-sm-2 control-label">Text Area disabled</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="textarea2" placeholder="Type ..." disabled></textarea>
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label class="col-sm-2 control-label">checkbox</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value=""> Option one is this and that&mdash;be sure to include why
                            it's great
                        </label>
                    </div>
                    <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" value="" disabled> Option two is disabled
                        </label>
                    </div>
                </div>
            </div>

            <hr class="dashed">

            <div class="form-group">
                <label class="col-sm-2 control-label">checkbox-inline</label>

                <div class="col-sm-10">
                    <label class="checkbox-inline">
                        <input value="option1" id="inlineCheckbox1" type="checkbox"> a </label>
                    <label class="checkbox-inline">
                        <input value="option2" id="inlineCheckbox2" type="checkbox"> b </label>
                    <label class="checkbox-inline">
                        <input value="option3" id="inlineCheckbox3" type="checkbox"> c </label>
                </div>
            </div>
            <hr class="">
            <div class="form-group">
                <label class="col-sm-2 control-label">radio</label>
                <div class="col-sm-10">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option
                            one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can
                            be something else and selecting it will deselect option one
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                            Option three is disabled
                        </label>
                    </div>
                </div>
            </div>

            <hr class="dashed">

            <div class="form-group">
                <label class="col-sm-2 control-label">radio-inline</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="box">
    <header class="box-heading bg-pumpkin text-white">
        <h4>Form inline</h4>
        <!-- begin ms-auto -->
        <div class="ms-auto">
            <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
            <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
        </div>
        <!-- END: ms-auto -->
    </header>
    <div class="box-body collapse in">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-info">Send invitation</button>
        </form>
    </div>
</div>
</LayoutFirst>
