---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---
<LayoutFirst title="Text Editor">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.core.css">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.bubble.css">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-wysiwyg@2.0.1/css/style.css">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.css">

  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/jquery.hotkeys@0.1.0/jquery.hotkeys.min.js"></script>
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/bootstrap-wysiwyg@2.0.1/js/bootstrap-wysiwyg.min.js"></script>
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.js"></script>
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.min.js"></script>
  <script slot="scripts" is:inline src="/chaldene/assets/js/pagejs/form-editor.js"></script>

                <!-- BEGIN: quill -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <header>
                        <h3>Quill</h3>
                        <div class="ms-auto">
                          <a href="http://quilljs.com/" target="_blank">Quill</a>
                        </div>
                      </header>
                      <div class="box-body">
                        <!-- Create the editor container -->
                        <div id="quill">
                          <p>Hello World!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: quill -->
  
                <!-- BEGIN: summernote -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <header>
                        <h3>Summernote</h3>
                        <div class="ms-auto">
                          <a href="http://summernote.org/" target="_blank">Summernote</a>
                        </div>
                      </header>
                      <div class="box-body">
                        <div id="summernote">Hello Summernote</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: summernote -->
  
                <!-- BEGIN: bootstrap-wysiwyg -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <header>
                        <h3>bootstrap-wysiwyg</h3>
                        <div class="ms-auto">
                          <a href="https://mindmup.github.io/bootstrap-wysiwyg/" target="_blank">bootstrap-wysiwyg</a>
                        </div>
                      </header>
                      <div class="box-body">
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#bootstrap-wysiwyg">
                          <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Font Size">
                              <i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a data-edit="fontSize 5" class="fs-Five">Huge</a></li>
                              <li><a data-edit="fontSize 3" class="fs-Three">Normal</a></li>
                              <li><a data-edit="fontSize 1" class="fs-One">Small</a></li>
                            </ul>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-primary" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn btn-primary" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                            <a class="btn btn-primary" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                            <a class="btn btn-primary" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-primary" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                            <a class="btn btn-primary" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                            <a class="btn btn-primary" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
                            <a class="btn btn-primary" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-primary" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                            <a class="btn btn-primary" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                            <a class="btn btn-primary" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                            <a class="btn btn-primary" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                            <div class="dropdown-menu input-append">
                              <input placeholder="URL" type="text" data-edit="createLink" />
                              <button class="btn" type="button">Add</button>
                            </div>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-primary" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-unlink"></i></a>
                            <span class="btn btn-primary" title="Insert picture (or just drag & drop)" id="pictureBtn"> <i class="fa fa-picture-o"></i>
                              <input class="imgUpload" type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                            </span>
                          </div>
                          <div class="btn-group">
                            <a class="btn btn-primary" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                            <a class="btn btn-primary" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                            <a class="btn btn-primary" data-edit="html" title="Clear Formatting"><i class='glyphicon glyphicon-pencil'></i></a>
                          </div>
                        </div>
                        <div id="bootstrap-wysiwyg" data-placeholder="This is a basic example with a simple toolbar.">
  
                        </div>
                        <div id="editorPreview"></div>
                        <p class="text-end">
                          <a class="btn btn-primary" href="#!" onclick="$('#editorPreview').html($('#bootstrap-wysiwyg').cleanHtml());">Submit</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: bootstrap-wysiwyg -->
</LayoutFirst>
