---
import AppFooter from "../components/Footer/AppFooter.astro";
import Base from "../layouts/Base.astro";
---

<Base title="Home">
  <Fragment slot="body">
    <header class="bg-dark py-5">
      <div class="container">
        <p class="text-center text-white fs-1 fw-bold py-5">
          Chaldene - Bootstrap 3 Based Admin Theme
        </p>
        <p class="text-center lead text-light">
          Chaldene is an HTML5 Bootstrap 3 Based Admin Theme, specifically
          designed for developers and conceived to offer you unlimited resources
          for any project, from a management system, to a backend, a CMS, a CRM.
        </p>
        <p class="text-center p-5 d-flex flex-row justify-content-center gap-3">
          <a
            class="btn btn-warning btn-lg"
            href="https://github.com/onokumus/chaldene/archive/master.zip"
            target="_blank"
          >
            <i class="fa fa-fw fa-download"></i> Download Now
          </a>
          <a class="btn btn-info btn-lg" href="dashboard" target="_blank">
            <i class="fa fa-fw fa-external-link"></i> live preview
          </a>
        </p>
      </div>
    </header>

    <div class="py-5 bg-light">
      <div class="container">
        <div class="fs-2 text-uppercase text-center mt-3 mb-5">
          <span class="border-bottom border-danger border-5 text-dark"
            >3 Layouts</span
          >
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title text-center">Layout 1</h5>
                <h6 class="card-title text-center">(fullwidth toolbar)</h6>
                <a href="dashboard.html">
                  <img
                    class="img-responsive"
                    src="/chaldene/assets/img/lay1.png"
                    alt="first layout"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title text-center">Layout 2</h5>
                <h6 class="card-title text-center">(two column)</h6>
                <a href="dashboard.html">
                  <img
                    class="img-responsive"
                    src="/chaldene/assets/img/lay2.png"
                    alt="second layout"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title text-center">Layout 3</h5>
                <h6 class="card-title text-center">(horizontal menu)</h6>
                <a href="dashboard3.html">
                  <img
                    class="img-responsive"
                    src="/chaldene/assets/img/lay3.png"
                    alt="third layout"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white py-5 border-top">
      <div class="container">
        <div class="fs-2 text-uppercase text-center mt-3 mb-5">
          <span class="border-bottom border-danger border-5 text-dark"
            >feature</span
          >
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-row align-items-center">
              <div class="border p-3 m-3 text-primary">
                <i class="fa fa-fw fa-tv fa-2x"></i>
              </div>
              <div class="flex-fill">
                <h4>Responsive Design</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-row align-items-center">
              <div class="border p-3 m-3 text-primary">
                <i class="fa fa-fw fa-code fa-2x"></i>
              </div>
              <div class="flex-fill">
                <h4>Clean Code</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-row align-items-center">
              <div class="border p-3 m-3 text-primary">
                <i class="fa fa-fw fa-code fa-2x"></i>
              </div>
              <div class="flex-fill">
                <h4>LESS support</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-row align-items-center">
              <div class="border p-3 m-3 text-info">
                <i class="fa fa-fw fa-html5 fa-2x"></i>
              </div>
              <div class="flex-fill">
                <h4>HTML5</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-row align-items-center">
              <div class="border p-3 m-3 text-info">
                <i class="fa fa-fw fa-css3 fa-2x"></i>
              </div>
              <div class="flex-fill">
                <h4>CSS3</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-row align-items-center">
              <div class="border p-3 m-3 text-info">
                <i class="fa fa-fw fa-table fa-2x"></i>
              </div>
              <div class="flex-fill">
                <h4>Many Layouts</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-danger py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-7">
            <img class="img-responsive" src="/chaldene/assets/img/mac.png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <AppFooter />
  </Fragment>
</Base>
