---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Border">
  <div class="row">
    <!-- BEGIN: border direction -->
    <div class="col-md-4">
      <div class="box">
        <header class="b-b">
          <h4>Direction</h4>
        </header>
        <div class="box-body">
          Class : <code>b-[direction]</code>
          <h4>Directions</h4>
          <ul>
            <li class="m-a-25">0 : none <span class="b-0 p-a-10"><code>b-0</code></span></li>
            <li class="m-a-25">a : all <span class="b-a p-a-10"><code>b-a</code></span></li>
            <li class="m-a-25">t : top <span class="b-t p-a-10"><code>b-t</code></span></li>
            <li class="m-a-25">r : right <span class="b-r p-a-10"><code>b-r</code></span></li>
            <li class="m-a-25">b : bottom <span class="b-b p-a-10"><code>b-b</code></span></li>
            <li class="m-a-25">l : left <span class="b-l p-a-10"><code>b-l</code></span></li>
            <li class="m-a-25">h : x-axis (horizontal) <span class="b-h p-a-10"><code>b-h</code></span></li>
            <li class="m-a-25">v : y-axis (vertical) <span class="b-v p-a-10"><code>b-v</code></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: border direction -->

    <!-- BEGIN: border width -->
    <div class="col-md-4">
      <div class="box">
        <header class="b-b">
          <h4>Width</h4>
        </header>
        <div class="box-body">
          Class : <code>b-w-[width]</code>
          <h4>Width</h4>
          <ul>
            <li class="m-a-25">1 : 1px (default) <span class="b-a b-w-1 p-a-10"><code>b-w-1</code></span></li>
            <li class="m-a-25">2 : 2px <span class="b-a b-w-2 p-a-10"><code>b-w-2</code></span></li>
            <li class="m-a-25">3 : 3px <span class="b-a b-w-3 p-a-10"><code>b-w-3</code></span></li>
            <li class="m-a-25">4 : 4px <span class="b-a b-w-4 p-a-10"><code>b-w-4</code></span></li>
            <li class="m-a-25">5 : 5px <span class="b-a b-w-5 p-a-10"><code>b-w-5</code></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: border width -->

    <!-- BEGIN: border style -->
    <div class="col-md-4">
      <div class="box">
        <header class="b-b">
          <h4>Style</h4>
        </header>
        <div class="box-body">
          Class : <code>b-s-[style]</code>
          <h4>Style</h4>
          <ul>
            <li class="m-a-25">solid (default) <span class="b-a b-w-3 b-s-solid p-a-10"><code>b-s-solid</code></span></li>
            <li class="m-a-25">dashed <span class="b-a b-w-3 b-s-dashed p-a-10"><code>b-s-dashed</code></span></li>
            <li class="m-a-25">dotted <span class="b-a b-w-3 b-s-dotted p-a-10"><code>b-s-dotted</code></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: border style -->
  </div>

  <!-- BEGIN: border color -->
  <div class="box">
    <header class="b-b b-w-4 b-s-dashed b-wisteria">
      <h4>Color</h4>
    </header>
    <div class="box-body">
      Class : <code>b-[color]</code>
      <h4>Colors</h4>
      <div class="u-flex u-flexWrap u-flexRow u-flexJustifyBetween">
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3">
          default border color : #e7e7e7
        </div>

        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-turquoise">
          <code>b-turquoise</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-emerland">
          <code>b-emerland</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-peter-river">
          <code>b-peter-river</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-amethyst">
          <code>b-amethyst</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-wet-asphalt">
          <code>b-wet-asphalt</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-green-sea">
          <code>b-green-sea</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-nephritis">
          <code>b-nephritis</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-belize-hole">
          <code>b-belize-hole</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-wisteria">
          <code>b-wisteria</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-midnight-blue">
          <code>b-midnight-blue</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-sun-flower">
          <code>b-sun-flower</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-carrot">
          <code>b-carrot</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-alizarin">
          <code>b-alizarin</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-clouds">
          <code>b-clouds</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-concrete">
          <code>b-concrete</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-orange">
          <code>b-orange</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-pumpkin">
          <code>b-pumpkin</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-pomegranate">
          <code>b-pomegranate</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-silver">
          <code>b-silver</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-asbestos">
          <code>b-asbestos</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-white">
          <code>b-white</code>
        </div>
        <div class="u-sizeFill p-a-15 m-a-15 b-a b-w-3 b-black">
          <code>b-black</code>
        </div>

      </div>
    </div>
  </div>
  <!-- END: border color -->

  <!-- BEGIN: border radius -->
  <div class="box b-r-5">
    <header>
      <h4>Radius</h4>
    </header>
    <div class="box-body">
      <div class="u-flex u-flexWrap u-flexRow u-flexJustifyEnd">
        <div class="m-a-5 p-a-20 b-black b-a b-r-0">
          .b-r-0 (no radius : default)
        </div>
        <div class="u-sizeFill m-a-5 p-a-20 b-black b-a b-r-1">
          .b-r-1 (1px radius)
        </div>
        <div class="u-sizeFill m-a-5 p-a-20 b-black b-a b-r-2">
          .b-r-2 (2px radius)
        </div>
        <div class="u-sizeFill m-a-5 p-a-20 b-black b-a b-r-3">
          .b-r-3 (3px radius)
        </div>
        <div class="u-sizeFill m-a-5 p-a-20 b-black b-a b-r-4">
          .b-r-4 (4px radius)
        </div>
        <div class="u-sizeFill m-a-5 p-a-20 b-black b-a b-r-5">
          .b-r-5 (5px radius)
        </div>
        <div class="u-sizeFill m-a-5 p-a-20 b-black b-a img-circle">
          .img-circle
        </div>
      </div>
    </div>
  </div>
  <!-- END: border radius -->

</LayoutFirst>
