---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Border">
  <div class="row">
    <!-- BEGIN: border direction -->
    <div class="col-md-4">
      <div class="box">
        <header class="border-bottom">
          <h4>Direction</h4>
        </header>
        <div class="box-body">
          Class : <code>b-[direction]</code>
          <h4>Directions</h4>
          <ul>
            <li class="m-a-25">0 : none <span class="border-0 p-2"><code>border-0</code></span></li>
            <li class="m-a-25">a : all <span class="border p-2"><code>border</code></span></li>
            <li class="m-a-25">t : top <span class="b-t p-2"><code>b-t</code></span></li>
            <li class="m-a-25">r : right <span class="border-end p-2"><code>border-end</code></span></li>
            <li class="m-a-25">b : bottom <span class="border-bottom p-2"><code>border-bottom</code></span></li>
            <li class="m-a-25">l : left <span class="border-start p-2"><code>border-start</code></span></li>
            <li class="m-a-25">h : x-axis (horizontal) <span class="b-h p-2"><code>b-h</code></span></li>
            <li class="m-a-25">v : y-axis (vertical) <span class="b-v p-2"><code>b-v</code></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: border direction -->

    <!-- BEGIN: border width -->
    <div class="col-md-4">
      <div class="box">
        <header class="border-bottom">
          <h4>Width</h4>
        </header>
        <div class="box-body">
          Class : <code>b-w-[width]</code>
          <h4>Width</h4>
          <ul>
            <li class="m-a-25">1 : 1px (default) <span class="border b-w-1 p-2"><code>b-w-1</code></span></li>
            <li class="m-a-25">2 : 2px <span class="border b-w-2 p-2"><code>b-w-2</code></span></li>
            <li class="m-a-25">3 : 3px <span class="border b-w-3 p-2"><code>b-w-3</code></span></li>
            <li class="m-a-25">4 : 4px <span class="border b-w-4 p-2"><code>b-w-4</code></span></li>
            <li class="m-a-25">5 : 5px <span class="border b-w-5 p-2"><code>b-w-5</code></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: border width -->

    <!-- BEGIN: border style -->
    <div class="col-md-4">
      <div class="box">
        <header class="border-bottom">
          <h4>Style</h4>
        </header>
        <div class="box-body">
          Class : <code>b-s-[style]</code>
          <h4>Style</h4>
          <ul>
            <li class="m-a-25">solid (default) <span class="border b-w-3 b-s-solid p-2"><code>b-s-solid</code></span></li>
            <li class="m-a-25">dashed <span class="border b-w-3  p-2"><code></code></span></li>
            <li class="m-a-25">dotted <span class="border b-w-3 b-s-dotted p-2"><code>b-s-dotted</code></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: border style -->
  </div>

  <!-- BEGIN: border color -->
  <div class="box">
    <header class="border-bottom b-w-4  b-wisteria">
      <h4>Color</h4>
    </header>
    <div class="box-body">
      Class : <code>b-[color]</code>
      <h4>Colors</h4>
      <div class="d-flex flex-wrap flex-row justify-content-between">
        <div class="flex-fill p-3 m-a-15 border b-w-3">
          default border color : #e7e7e7
        </div>

        <div class="flex-fill p-3 m-a-15 border b-w-3 b-info">
          <code>b-info</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-emerland">
          <code>b-emerland</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-primary">
          <code>b-primary</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-primary">
          <code>b-primary</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-wet-asphalt">
          <code>b-wet-asphalt</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-success">
          <code>b-success</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-nephritis">
          <code>b-nephritis</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 border-bottomelize-hole">
          <code>border-bottomelize-hole</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-wisteria">
          <code>b-wisteria</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-midnight-blue">
          <code>b-midnight-blue</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-sun-flower">
          <code>b-sun-flower</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-carrot">
          <code>b-carrot</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-danger">
          <code>b-danger</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-clouds">
          <code>b-clouds</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-concrete">
          <code>b-concrete</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-warning">
          <code>b-warning</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-pumpkin">
          <code>b-pumpkin</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-pomegranate">
          <code>b-pomegranate</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-silver">
          <code>b-silver</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 bordersbestos">
          <code>bordersbestos</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 b-white">
          <code>b-white</code>
        </div>
        <div class="flex-fill p-3 m-a-15 border b-w-3 border-bottomlack">
          <code>border-bottomlack</code>
        </div>

      </div>
    </div>
  </div>
  <!-- END: border color -->

  <!-- BEGIN: border radius -->
  <div class="box border-end-5">
    <header>
      <h4>Radius</h4>
    </header>
    <div class="box-body">
      <div class="d-flex flex-wrap flex-row justify-content-end">
        <div class="m-a-5 p-3 border-bottomlack border rounded-0">
          .rounded-0 (no radius : default)
        </div>
        <div class="flex-fill m-a-5 p-3 border-bottomlack border border-end-1">
          .border-end-1 (1px radius)
        </div>
        <div class="flex-fill m-a-5 p-3 border-bottomlack border rounded-2">
          .rounded-2 (2px radius)
        </div>
        <div class="flex-fill m-a-5 p-3 border-bottomlack border rounded-3">
          .rounded-3 (3px radius)
        </div>
        <div class="flex-fill m-a-5 p-3 border-bottomlack border border-end-4">
          .border-end-4 (4px radius)
        </div>
        <div class="flex-fill m-a-5 p-3 border-bottomlack border border-end-5">
          .border-end-5 (5px radius)
        </div>
        <div class="flex-fill m-a-5 p-3 border-bottomlack border img-circle">
          .img-circle
        </div>
      </div>
    </div>
  </div>
  <!-- END: border radius -->

</LayoutFirst>
