---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Border">
  <div class="box bg-light">
    <header>
      <h4>Borders</h4>
      <div class="ms-auto">
        <a href="https://getbootstrap.com/docs/5.2/utilities/borders/" target="_blank"
          >Bootstrap Borders</a
        >
      </div>
    </header>
  </div>

</LayoutFirst>
