---
import LayoutFirst from "../layouts/LayoutFirst.astro";
import CssDisplay from "../components/CssDisplay.md";
---

<LayoutFirst title="Dsiplay">
  <div class="box">
    <header>
      <h4>Display</h4>
      <div class="ms-auto">
        <a href="https://github.com/suitcss/utils-display/">suitcss display</a>
      </div>
    </header>
    <div class="box-body">
      <CssDisplay />
    </div>
  </div>
</LayoutFirst>
