---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Dsiplay">
    <div class="box bg-light">
    <header>
      <h4>Display</h4>
      <div class="ms-auto">
        <a href="https://getbootstrap.com/docs/5.2/utilities/display/" target="_blank"
          >Bootstrap Display</a
        >
      </div>
    </header>
  </div>
</LayoutFirst>
