---
import CssOverflow from "../components/CssOverflow.md";
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="CssOverflow">
    <div class="box bg-light">
    <header>
      <h4>CssOverflow</h4>
      <div class="ms-auto">
        <a href="https://getbootstrap.com/docs/5.2/utilities/overflow/" target="_blank"
          >Bootstrap Overflow</a
        >
      </div>
    </header>
  </div>
</LayoutFirst>
