---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---
<LayoutFirst title="Scroll">
  <div class="box">
    <header class="border-bottom">
      <h4>Max Width</h4>
      <!-- begin box-tools -->
      <div class="box-tools">
        <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
        <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
      </div>
      <!-- END: box-tools -->
    </header>
    <div class="box-body collapse in">

      <h5>max-width: 200px; <code>max-w-xs scr-x-a</code></h5>
      <div class="max-w-xs scr-x-a">
        <img src="https://via.placeholder.com/400x100" alt="">
      </div>
      <hr>

      <h5>max-width: 300px; <code>max-w-sm scr-x-a</code></h5>
      <div class="max-w-sm scr-x-a">
        <img src="https://via.placeholder.com/600x100" alt="">
      </div>
      <hr>

      <h5>max-width: 400px; <code>max-w-md scr-x-a</code></h5>
      <div class="max-w-md scr-x-a">
        <img src="https://via.placeholder.com/800x100" alt="">
      </div>
      <hr>

      <h5>max-width: 480px; <code>max-w-lg scr-x-a</code></h5>
      <div class="max-w-lg scr-x-a">
        <img src="https://via.placeholder.com/960x100" alt="">
      </div>
    </div>
  </div>

  <div class="box">
    <header class="border-bottom">
      <h4>Max Height</h4>
      <!-- begin box-tools -->
      <div class="box-tools">
        <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
        <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
      </div>
      <!-- END: box-tools -->
    </header>
    <div class="box-body collapse in">

      <h5>max-height: 150px; <code>max-h-xs scr-y-a</code></h5>
      <div class="max-h-xs scr-y-a">
        <img src="https://via.placeholder.com/100x300" alt="">
      </div>
      <hr>

      <h5>max-height: 225px; <code>max-h-sm scr-y-a</code></h5>
      <div class="max-h-sm scr-y-a">
        <img src="https://via.placeholder.com/100x450" alt="">
      </div>
      <hr>

      <h5>max-height: 300px; <code>max-h-md scr-x-a</code></h5>
      <div class="max-h-md scr-y-a">
        <img src="https://via.placeholder.com/100x600" alt="">
      </div>
      <hr>

      <h5>max-height: 360px; <code>max-h-lg scr-y-a</code></h5>
      <div class="max-h-lg scr-y-a">
        <img src="https://via.placeholder.com/100x750" alt="">
      </div>
    </div>
  </div>

  <div class="box">
    <header class="border-bottom">
      <h4>Max Width & Height</h4>
      <!-- begin box-tools -->
      <div class="box-tools">
        <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
        <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
      </div>
      <!-- END: box-tools -->
    </header>
    <div class="box-body collapse in">

      <h5> 200x150 <code>max-w-xs max-h-xs scr-a-a</code></h5>
      <div class="max-w-xs max-h-xs scr-a-a">
        <img src="https://via.placeholder.com/400x300" alt="">
      </div>
      <hr>

      <h5>300x225 <code>max-w-sm max-h-sm scr-a-a</code></h5>
      <div class="max-w-sm max-h-sm scr-a-a">
        <img src="https://via.placeholder.com/600x450" alt="">
      </div>
      <hr>

      <h5>400x300 <code>max-w-md max-h-md scr-a-a</code></h5>
      <div class="max-w-md max-h-md scr-a-a">
        <img src="https://via.placeholder.com/800x600" alt="">
      </div>
      <hr>

      <h5>480x360 <code>max-w-lg max-h-lg scr-a-a</code></h5>
      <div class="max-w-lg max-h-lg scr-a-a">
        <img src="https://via.placeholder.com/960x720" alt="">
      </div>
    </div>
  </div>
</LayoutFirst>