---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Shadow">
  <div class="box bg-light">
    <header>
      <h4>Box Shadows</h4>
      <div class="ms-auto">
        <a href="https://getbootstrap.com/docs/5.2/utilities/shadows/" target="_blank"
          >Bootstrap Shadows</a
        >
      </div>
    </header>
    <div class="box-body d-flex flex-column gap-3">
      <div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
      <div class="shadow-sm p-3 mb-5 bg-body rounded">Small shadow</div>
      <div class="shadow p-3 mb-5 bg-body rounded">Regular shadow</div>
      <div class="shadow-lg p-3 mb-5 bg-body rounded">Larger shadow</div>
    </div>
  </div>
</LayoutFirst>
