---
import CssSpacing from "../components/CssSpacing.md";
import LayoutFirst from "../layouts/LayoutFirst.astro";
---
<LayoutFirst title="Spacing">
  <div class="box bg-light">
    <header>
      <h4>Spacing</h4>
      <div class="ms-auto">
        <a href="https://getbootstrap.com/docs/5.2/utilities/spacing/" target="_blank"
          >Bootstrap Spacing</a
        >
      </div>
    </header>
  </div>
</LayoutFirst>
