---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Colors">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.css">
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.js"></script>
  <script slot="scripts" is:inline src="/chaldene/assets/js/pagejs/ui-color.js"></script>


  <div class="row">
    <div class="col-md-6">
      <div class="box shadow-sm">
        <header>
          <h4>Background Colors</h4>
          <nav class="ms-auto">
            <a
              class="text-link"
              href="https://getbootstrap.com/docs/5.2/helpers/color-background/"
              target="_blank"
              ><em>https://getbootstrap.com/docs/5.2/helpers/color-background/</em>
            </a>
          </nav>
        </header>
        <div class="box-body">
          <div class="d-flex flex-wrap flex-row justify-content-end dragula">

            <div class="flex-fill draggable handle text-bg-primary p-3">Primary with contrasting color</div>
            <div class="flex-fill draggable handle text-bg-secondary p-3">Secondary with contrasting color</div>
            <div class="flex-fill draggable handle text-bg-success p-3">Success with contrasting color</div>
            <div class="flex-fill draggable handle text-bg-danger p-3">Danger with contrasting color</div>
            <div class="flex-fill draggable handle text-bg-warning p-3">Warning with contrasting color</div>
            <div class="flex-fill draggable handle text-bg-info p-3">Info with contrasting color</div>
            <div class="flex-fill draggable handle text-bg-light p-3">Light with contrasting color</div>
            <div class="flex-fill draggable handle text-bg-dark p-3">Dark with contrasting color</div>


          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box shadow-sm">
        <header class="box-heading">
          <div class="box-title">
            Background Example
            <small>
              (<em>drag the color of your wish on the left here</em>)
            </small>
          </div>
        </header>
        <!-- BEGIN: .box-body -->
        <div class="box-body">
          <div class="d-flex flex-row _app">
            <div class="_app-wrap flex-fill border m-a-15 b-silver">
              <div class="_app-heading border-bottom b-silver p-3 dragula">
                <span class="text-muted">.app-heading</span>
              </div>
              <div class="_app-container d-flex flex-row">
                <aside
                  class="_app-side border-end p-3 d-flex flex-column b-silver dragula"
                >
                  <span class="text-muted">.app-side</span>
                </aside>
                <main class="_app-main flex-fill p-3 dragula">
                  <span class="text-muted">.app-main</span>
                </main>
              </div>
              <footer class="_app-footer b-t p-3 b-silver dragula">
                <span class="text-muted">.app-footer</span>
              </footer>
            </div>
          </div>
        </div>
        <!-- END: .box-body -->
      </div>
      <!-- END: .box -->
    </div>
    <!-- END: .col-sm-6 -->
  </div>
  <!-- END: .row -->

  <!-- BEGIN: .row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <header>
          <h4>Text Color</h4>
          <nav class="ms-auto">
            <a
              class="text-link"
              href="https://getbootstrap.com/docs/5.2/utilities/colors/"
              target="_blank"
              ><em>https://getbootstrap.com/docs/5.2/utilities/colors/</em>
            </a>
          </nav>
        </header>
        <div class="box-body">
          <div class="d-flex flex-wrap flex-row justify-content-between">
            <p class="text-primary">.text-primary</p>
            <p class="text-secondary">.text-secondary</p>
            <p class="text-success">.text-success</p>
            <p class="text-danger">.text-danger</p>
            <p class="text-warning bg-dark">.text-warning</p>
            <p class="text-info bg-dark">.text-info</p>
            <p class="text-light bg-dark">.text-light</p>
            <p class="text-dark">.text-dark</p>
            <p class="text-body">.text-body</p>
            <p class="text-muted">.text-muted</p>
            <p class="text-white bg-dark">.text-white</p>
            <p class="text-black-50">.text-black-50</p>
            <p class="text-white-50 bg-dark">.text-white-50</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: .row -->

</LayoutFirst>
