---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Colors">
  <link slot="styles" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.css">
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.js"></script>
  <script slot="scripts" is:inline src="/chaldene/assets/js/pagejs/ui-color.js"></script>


  <div class="row">
    <div class="col-md-6">
      <div class="box shadow-sm">
        <header>
          <h4>Background Colors</h4>
          <nav class="box-tools">
            <a
              class="text-silver"
              href="http://flatuicolors.com/"
              target="_blank"
              ><em>http://flatuicolors.com/</em>
            </a>
          </nav>
        </header>
        <div class="box-body">
          <div class="d-flex flex-wrap flex-row justify-content-end dragula">
            <div class="flex-fill p-3 bg-info draggable handle">
              .bg-info
            </div>
            <div class="flex-fill p-3 bg-emerland draggable handle">
              .bg-emerland
            </div>
            <div class="flex-fill p-3 bg-primary draggable handle">
              .bg-primary
            </div>
            <div class="flex-fill p-3 bg-primary draggable handle">
              .bg-primary
            </div>
            <div class="flex-fill p-3 bg-secondary draggable handle">
              .bg-secondary
            </div>
            <div class="flex-fill p-3 bg-success draggable handle">
              .bg-success
            </div>
            <div class="flex-fill p-3 bg-nephritis draggable handle">
              .bg-nephritis
            </div>
            <div class="flex-fill p-3 bg-belize-hole draggable handle">
              .bg-belize-hole
            </div>
            <div class="flex-fill p-3 bg-danger draggable handle">
              .bg-danger
            </div>
            <div class="flex-fill p-3 bg-midnight-blue draggable handle">
              .bg-midnight-blue
            </div>
            <div class="flex-fill p-3 bg-sun-flower draggable handle">
              .bg-sun-flower
            </div>
            <div class="flex-fill p-3 bg-warning draggable handle">
              .bg-warning
            </div>
            <div class="flex-fill p-3 bg-danger draggable handle">
              .bg-danger
            </div>
            <div class="flex-fill p-3 bg-secondary draggable handle">
              .bg-secondary
            </div>
            <div class="flex-fill p-3 bg-concrete draggable handle">
              .bg-concrete
            </div>
            <div class="flex-fill p-3 bg-warning draggable handle">
              .bg-warning
            </div>
            <div class="flex-fill p-3 bg-pumpkin draggable handle">
              .bg-pumpkin
            </div>
            <div class="flex-fill p-3 bg-pomegranate draggable handle">
              .bg-pomegranate
            </div>
            <div class="flex-fill p-3 bg-secondary draggable handle">
              .bg-secondary
            </div>
            <div class="flex-fill p-3 bg-asbestos draggable handle">
              .bg-asbestos
            </div>
            <div class="flex-fill p-3 bg-white draggable handle">
              .bg-white
            </div>
            <div class="flex-fill p-3 bg-black draggable handle">
              .bg-black
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box shadow-sm">
        <header class="box-heading">
          <div class="box-title">
            Background Example
            <small>
              (<em>drag the color of your wish on the left here</em>)
            </small>
          </div>
        </header>
        <!-- BEGIN: .box-body -->
        <div class="box-body">
          <div class="d-flex flex-row _app">
            <div class="_app-wrap flex-fill border m-a-15 b-silver">
              <div class="_app-heading border-bottom b-silver p-3 dragula">
                <span class="text-muted">.app-heading</span>
              </div>
              <div class="_app-container d-flex flex-row">
                <aside
                  class="_app-side border-end p-3 d-flex flex-column b-silver dragula"
                >
                  <span class="text-muted">.app-side</span>
                </aside>
                <main class="_app-main flex-fill p-3 dragula">
                  <span class="text-muted">.app-main</span>
                </main>
              </div>
              <footer class="_app-footer b-t p-3 b-silver dragula">
                <span class="text-muted">.app-footer</span>
              </footer>
            </div>
          </div>
        </div>
        <!-- END: .box-body -->
      </div>
      <!-- END: .box -->
    </div>
    <!-- END: .col-sm-6 -->
  </div>
  <!-- END: .row -->

  <!-- BEGIN: .row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <header>
          <h4>Text Color</h4>
          <nav class="box-tools">
            <a
              class="text-silver"
              href="http://flatuicolors.com/"
              target="_blank"
              ><em>http://flatuicolors.com/</em>
            </a>
          </nav>
        </header>
        <div class="box-body">
          <div class="d-flex flex-wrap flex-row justify-content-between">
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-info">info</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-emerland">emerland</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-primary">primary</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-primary">primary</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-wet-asphalt">wet-asphalt</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-success">success</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-nephritis">nephritis</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-belize-hole">belize-hole</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-wisteria">wisteria</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-midnight-blue">midnight-blue</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-sun-flower">sun-flower</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-carrot">carrot</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-danger">danger</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-clouds">clouds</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-concrete">concrete</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-warning">warning</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-pumpkin">pumpkin</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-pomegranate">pomegranate</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-silver">silver</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-asbestos">asbestos</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-white">white</a>
            </div>
            <div class="flex-fill p-3">
              <a href="#" class="fs-1 p-1 text-black">black</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: .row -->

  <!-- BEGIN: .row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Button Example</h3>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-primary">
            bootstrap default
          </button>
          <button
            type="button"
            class="btn btn-primary bg-secondary text-danger b-w-5 b-emerland"
          >
            danger
          </button>
          <button
            type="button"
            class="btn btn-lg bg-danger text-white h3 f-b border-end-5 b-primary b-w-3"
          >
            wisteria</button
          >
        </div>
        <div class="panel-footer">Panel Footers</div>
      </div>
    </div>
  </div>
  <!-- END: .row -->
</LayoutFirst>
