---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Canvas">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <header>
          <h3>Metis Canvas <small>is-fixed</small></h3>
          <div class="ms-auto">
            <a href="https://github.com/metisadmin/metis-canvas" target="_blank"
              >metis-canvas</a
            >
          </div>
        </header>
        <div class="box-body">
          <div class="col-sm-4 col-sm-push-4">
            <div class="btn-group" role="group" aria-label="First group">
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="canvas"
                data-target="#pT"
              >
                <i class="fa fa-fw fa-lg fa-arrow-up"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="canvas"
                data-target="#pR"
              >
                <i class="fa fa-fw fa-lg fa-arrow-right"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="canvas"
                data-target="#pB"
              >
                <i class="fa fa-fw fa-lg fa-arrow-down"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="canvas"
                data-target="#pL"
              >
                <i class="fa fa-fw fa-lg fa-arrow-left"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <h2>Full Page</h2>
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="canvas"
            data-target="#fC"
          >
            <i class="fa fa-fw fa-arrows-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="canvas is-fixed bg-secondary" id="fC">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div
        class="d-flex flex-row flex-wrap"
        style="width: 300px; height:300px"
      >
        <div
          class="d-flex align-items-stretch"
          style="flex: 0 0 50% !important;"
        >
          <div
            class="flex-fill bg-primary d-flex m-a-5 align-items-center justify-content-center"
          >
            <i class="fa fa-cubes f-3"></i>
          </div>
        </div>
        <div
          class="d-flex align-items-stretch"
          style="flex: 0 0 50% !important;"
        >
          <div
            class="flex-fill bg-info d-flex m-a-5 align-items-center justify-content-center"
          >
            <i class="fa fa-diamond f-3"></i>
          </div>
        </div>
        <div
          class="d-flex align-items-stretch"
          style="flex: 0 0 50% !important;"
        >
          <div
            class="flex-fill bg-warning d-flex m-a-5 align-items-center justify-content-center"
          >
            <i class="fa fa-magic f-3"></i>
          </div>
        </div>
        <div
          class="d-flex align-items-stretch"
          style="flex: 0 0 50% !important;"
        >
          <a
            class="flex-fill bg-danger d-flex m-a-5 align-items-center justify-content-center text-white"
            data-toggle="canvas"
            href="#fC"
          >
            <i class="fa fa-gift f-3"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <header class="canvas is-fixed is-top bg-secondary p-3" id="pT">
    <div class="d-flex flex-row flex-wrap align-items-center">
      <div class="text-white flex-fill h2 m-0">Hello !</div>
      <div class="shadow-sm">
        <a href="#" class="bg-primary p-3 text-white">
          <i class="fa fa-fw fa-lg fa-shopping-cart"></i>Purchase
        </a>
        <a
          href="#pT"
          data-toggle="canvas"
          class="text-white p-3 bg-danger"
        >
          <i class="fa fa-fw fa-lg fa-times"></i>
        </a>
      </div>
    </div>
  </header>
  <header class="canvas is-fixed is-left bg-danger" id="pL">
    <div class="clearfix">
      <div class="pull-end py-3 px-3">
        <a
          class="text-white border b-white b-w-2 py-2 px-3 fs-1"
          href="#pL"
          data-toggle="canvas"
        >
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </header>
  <header class="canvas is-fixed is-right bg-warning" id="pR">
    <div class="py-3 px-3">
      <a
        class="text-white border b-white b-w-2 py-2 px-3 fs-1"
        href="#pR"
        data-toggle="canvas"
      >
        <i class="fa fa-times"></i>
      </a>
    </div>
  </header>
  <header class="canvas is-fixed is-bottom bg-primary" id="pB">
    <div class="clearfix">
      <div class="pull-end py-3 px-3">
        <a
          class="text-white border b-white b-w-2 py-2 px-3 fs-1"
          href="#pB"
          data-toggle="canvas"
        >
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Left</h4>
          <div class="ms-auto">
            <span>click to arrow</span>
            <a href="#c1" data-toggle="canvas">
              <i class="fa fa-fw fa-arrow-left"></i>
            </a>
          </div>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-left bg-secondary" id="c1">
            <button
              type="button"
              class="btn btn-danger btn-lg btn-rect"
              data-toggle="canvas"
              data-target="#c1"
            >
              CLOSE
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Right</h4>
          <div class="ms-auto">
            <span>click to arrow</span>
            <a href="#c2" data-toggle="canvas">
              <i class="fa fa-fw fa-arrow-right"></i>
            </a>
          </div>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-right bg-info" id="c2">
            <div class="absolute-center">
              <button
                type="button"
                class="btn btn-success btn-lg"
                data-toggle="canvas"
                data-target="#c2"
              >
                CLOSE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Top</h4>
          <div class="ms-auto">
            <span>click to arrow</span>
            <a href="#c3" data-toggle="canvas">
              <i class="fa fa-fw fa-arrow-up"></i>
            </a>
          </div>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-top bg-secondary p-3" id="c3">
            <button
              type="button"
              class="btn btn-success btn-lg"
              data-toggle="canvas"
              data-target="#c3"
            >
              CLOSE
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Bottom</h4>
          <div class="ms-auto">
            <span>click to arrow</span>
            <a href="#c4" data-toggle="canvas">
              <i class="fa fa-fw fa-arrow-down"></i>
            </a>
          </div>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-bottom bg-warning p-3 text-end" id="c4">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              data-toggle="canvas"
              data-target="#c4"
            >
              CLOSE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Center</h4>
          <div class="ms-auto">
            <span>click to arrow</span>
            <a href="#c5" data-toggle="canvas">
              <i class="fa fa-fw fa-arrow-down"></i>
            </a>
          </div>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div
            class="canvas is-center bg-pomegranate p-3 text-center"
            id="c5"
          >
            <button
              type="button"
              class="btn btn-primary btn-lg"
              data-toggle="canvas"
              data-target="#c5"
            >
              CLOSE
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Full</h4>
          <div class="ms-auto">
            <span>click to arrow</span>
            <a href="#d5" data-toggle="canvas">
              <i class="fa fa-fw fa-arrow-down"></i>
            </a>
          </div>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-full bg-danger" id="d5">
            <div class="position-absolute top-50 start-50 translate-middle">
              <button
                type="button"
                class="btn btn-rect btn-primary btn-lg"
                data-toggle="canvas"
                data-target="#d5"
              >
                CLOSE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Hoverable Top</h4>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div
            class="canvas is-top is-hoverable bg-pomegranate p-3 text-center"
          >
            <button type="button" class="btn btn-primary btn-lg">
              BUTTON
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Hoverable Right</h4>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-right is-hoverable bg-danger">
            <button type="button" class="btn btn-rect btn-primary btn-lg">
              BUTTON
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Hoverable Bottom</h4>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div
            class="canvas is-bottom is-hoverable bg-pomegranate p-3 text-center"
          >
            <button type="button" class="btn btn-primary btn-lg">
              BUTTON
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Hoverable Left</h4>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-left is-hoverable bg-danger">
            <button type="button" class="btn btn-rect btn-primary btn-lg">
              BUTTON
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Hoverable Center</h4>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div
            class="canvas is-center is-hoverable bg-pomegranate p-3 text-center"
          >
            <button type="button" class="btn btn-primary btn-lg">
              BUTTON
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box">
        <header>
          <h4>Hoverable Full</h4>
        </header>
        <div class="box-body canvas-container overflow-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="canvas is-hoverable bg-danger">
            <div class="position-absolute top-50 start-50 translate-middle">
              <button type="button" class="btn btn-rect btn-primary btn-lg">
                BUTTON
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</LayoutFirst>
