---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Font">
  <!-- BEGIN: .row -->
  <div class="row">
    <!-- BEGIN: .col-sm-9 -->
    <div class="col-md-4">
      <!-- BEGIN: .box -->
      <div class="box">
        <header>
          <h4>Font Size</h4>
          <!-- begin ms-auto -->
          <div class="ms-auto">
            <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
            <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
          </div>
          <!-- END: ms-auto -->
        </header>

        <div class="box-body collapse in">
          <p class="fs-1">.fs-1 text</p>
          <p class="fs-2">.fs-2 text</p>
          <p class="fs-3">.fs-3 text</p>
          <p class="fs-4">.fs-4 text</p>
          <p class="fs-5">.fs-5 text</p>
          <p class="fs-6">.fs-6 text</p>
        </div>
      </div>
      <!-- END: .box -->
    </div>
    <!-- END: .col-sm-9 -->

    <!-- BEGIN: .col-sm-3 -->
    <div class="col-md-4">
      <!-- BEGIN: .box -->
      <div class="box">
        <header>
          <h4>Font weight and italics</h4>
          <!-- begin ms-auto -->
          <div class="ms-auto">
            <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
            <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
          </div>
          <!-- END: ms-auto -->
        </header>

        <div class="box-body collapse in">
          <p class="fw-bold">Bold text.</p>
          <p class="fw-bolder">Bolder weight text (relative to the parent element).</p>
          <p class="fw-semibold">Semibold weight text.</p>
          <p class="fw-normal">Normal weight text.</p>
          <p class="fw-light">Light weight text.</p>
          <p class="fw-lighter">Lighter weight text (relative to the parent element).</p>
          <p class="fst-italic">Italic text.</p>
          <p class="fst-normal">Text with normal font style</p>
        </div>
      </div>
      <!-- END: .box -->
    </div>
    <!-- END: .col-sm-3 -->
    <!-- BEGIN: .col-sm-3 -->
    <div class="col-md-4">
      <!-- BEGIN: .box -->
      <div class="box">
        <header>
          <h4>Text decoration</h4>
          <!-- begin ms-auto -->
          <div class="ms-auto">
            <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
            <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
          </div>
          <!-- END: ms-auto -->
        </header>

        <div class="box-body collapse in">
          <p class="text-decoration-underline">This text has a line underneath it.</p>
          <p class="text-decoration-line-through">This text has a line going through it.</p>
          <a href="#" class="text-decoration-none">This link has its text decoration removed</a>
        </div>
      </div>
      <!-- END: .box -->
    </div>
  </div>
  <!-- END: .row -->

<div class="row">
  <div class="col-md-4">
    <div class="box">
      <div class="box-body">
        <h3>Headings</h3>
        <h1>h1. Bootstrap heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>

<hr>
<p class="h1">h1. Bootstrap heading</p>
<p class="h2">h2. Bootstrap heading</p>
<p class="h3">h3. Bootstrap heading</p>
<p class="h4">h4. Bootstrap heading</p>
<p class="h5">h5. Bootstrap heading</p>
<p class="h6">h6. Bootstrap heading</p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4">
    <div class="box">
      <div class="box-body">
        <h3>Lead</h3>
        <p class="lead">
          This is a lead paragraph. It stands out from regular paragraphs.
        </p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4">
    <div class="box">
      <div class="box-body">
        <h3>Inline text elements</h3>
        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined.</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

  <!-- BEGIN: .box -->
  <div class="box">
    <header>
      <h4>Text alignment </h4>
      <!-- begin ms-auto -->
      <div class="ms-auto">
        <a class="fa fa-fw fa-minus" href="#" data-box="collapse"></a>
        <a class="fa fa-fw fa-times" href="#" data-box="close"></a>
      </div>
      <!-- END: ms-auto -->
    </header>
    <div class="box-body collapse in">
      <p class="text-start">Start aligned text on all viewport sizes.</p>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<p class="text-end">End aligned text on all viewport sizes.</p>

<p class="text-sm-start">Start aligned text on viewports sized SM (small) or wider.</p>
<p class="text-md-start">Start aligned text on viewports sized MD (medium) or wider.</p>
<p class="text-lg-start">Start aligned text on viewports sized LG (large) or wider.</p>
    </div>
  </div>
  <!-- END: .box -->


</LayoutFirst>
