---
import LayoutFirst from "../layouts/LayoutFirst.astro";
import icons from '../data/glyphicons.js';

---

<LayoutFirst title="Glyphicons">
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/noty@2.4.1/js/noty/packaged/jquery.noty.packaged.min.js"></script>
  <script slot="scripts" is:inline src="/chaldene/assets/js/pagejs/ui-icon-glyphicon.js"></script>


  <div class="u-flex u-flexRow u-flexWrap">
    {icons.map((item) => (
      <div class="u-sizeFillAlt p-a-15 m-a-5 text-center bg-white b-a b-silver inview">
          <button class="btn btn-default" type="button" data-clipboard-text:list={["glyphicon", item]}>
              <i class:list={["glyphicon", item]}></i>
          </button>
          <p>
            {item}
          </p>
        </div>
    ))}
  </div>

</LayoutFirst>
