---
import LayoutFirst from "../layouts/LayoutFirst.astro";
import icons from '../data/awesome.js';

---

<LayoutFirst title="Font Awesome">
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
  <script slot="scripts" is:inline src="https://cdn.jsdelivr.net/npm/noty@2.4.1/js/noty/packaged/jquery.noty.packaged.min.js"></script>
  <script slot="scripts" is:inline src="/chaldene/assets/js/pagejs/ui-icon-awesome.js"></script>


  <div class="d-flex flex-row flex-wrap">
    {icons.map((item) => (
      <div class="flex-fill p-a-15 m-a-5 text-center bg-white b-a b-silver inview">
          <button class="btn btn-default" type="button" data-clipboard-text:list={["fa", item]}>
              <i class:list={["fa fa-fw", item]}></i>
          </button>
          <p>
            {item}
          </p>
        </div>
    ))}
  </div>

</LayoutFirst>
