---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Mega Menu">
  <!-- BEGIN: .box -->
  <div class="box">
    <header>
      <h4>Mega Menu</h4>
    </header>
    <div class="box-body p-0">
      <ul class="nav navbar-nav nav-mega" data-plugin="navmega">
        <li class="position-static">
          <a href="#">Mega 1</a>
          <div
            class="nav-sub nav-full-item border animate__animated animate__fadeInUp"
          >
            <div class="row">
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p1.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p2.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p3.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p4.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p5.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p6.svg"
                />
              </div>
            </div>
          </div>
        </li>
        <li class="position-static">
          <a href="#">Mega 2</a>
          <div
            class="nav-sub nav-full-item bg-danger animate__animated animate__fadeInUp"
          >
            lorem 2
          </div>
        </li>

        <li>
          <a href="#">Normal Menu</a>
          <ul
            class="nav nav-sub nav-bordered nav-full-item border p-0 animate__animated animate__fadeInUp"
          >
            <li><a href="#"> Action</a></li>
            <li><a href="#"> Another action</a></li>
            <li><a href="#"> Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#"> Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: .box -->

  <!-- BEGIN: .box -->
  <div class="box">
    <header>
      <h4>Mega Menu Hoverable</h4>
    </header>
    <div class="box-body p-0">
      <ul class="nav navbar-nav nav-mega nav-hoverable" data-plugin="navmega">
        <li class="position-static">
          <a href="#">Mega 1</a>
          <div
            class="nav-sub nav-full-item border animate__animated animate__fadeInUp"
          >
            <div class="row">
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p1.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p2.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p3.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p4.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p5.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p6.svg"
                />
              </div>
            </div>
          </div>
        </li>
        <li class="position-static">
          <a href="#">Mega 2</a>
          <div
            class="nav-sub nav-full-item bg-danger animate__animated animate__fadeInUp"
          >
            lorem 2
          </div>
        </li>

        <li>
          <a href="#">Normal Menu</a>
          <ul
            class="nav nav-sub nav-bordered nav-full-item border p-0 animate__animated animate__fadeInUp"
          >
            <li><a href="#"> Action</a></li>
            <li><a href="#"> Another action</a></li>
            <li><a href="#"> Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#"> Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: .box -->

  <!-- BEGIN: .box -->
  <div class="box">
    <header>
      <h4>Bootstrap's Dropdown Mega Menu</h4>
      <div class="box-tools">
        <a href="http://getbootstrap.com/javascript/#dropdowns" target="_blank"
          >Bootstrap Document</a
        >
      </div>
    </header>
    <div class="box-body p-0">
      <ul class="nav navbar-nav nav-full">
        <li class="dropdown position-static">
          <a href="#" data-toggle="dropdown">Mega 1</a>
          <div
            class="dropdown-menu border nav-full-item animate__animated animate__fadeInUp"
          >
            <div class="row">
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p1.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p2.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p3.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p4.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p5.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p6.svg"
                />
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown position-static">
          <a href="#" data-toggle="dropdown">Mega 2</a>
          <div
            class="dropdown-menu nav-full-item bg-belize-hole animate__animated animate__fadeInUp"
          >
            lorem 2
          </div>
        </li>

        <li class="dropdown">
          <a href="#" data-toggle="dropdown">Normal Menu</a>
          <ul class="dropdown-menu animate__animated animate__fadeInUp">
            <li><a href="#"> Action</a></li>
            <li><a href="#"> Another action</a></li>
            <li><a href="#"> Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#"> Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: .box -->

  <!-- BEGIN: .box -->
  <div class="box">
    <header>
      <h4>metisMenu Mega Menu</h4>
      <div class="box-tools">
        <a href="https://github.com/onokumus/metisMenu" target="_blank"
          >metisMenu Doc</a
        >
      </div>
    </header>
    <div class="box-body p-0">
      <ul class="nav navbar-nav nav-full" data-plugin="metismenu">
        <li class="position-static">
          <a href="#">Mega 1</a>
          <ul
            class="nav-sub nav-full-item border animate__animated animate__fadeInUp"
          >
            <div class="row">
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p1.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p2.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p3.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p4.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p5.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p6.svg"
                />
              </div>
            </div>
          </ul>
        </li>
        <li class="position-static">
          <a href="#">Mega 2</a>
          <ul
            class="nav-sub nav-full-item bg-danger animate__animated animate__bounceIn"
          >
            lorem 2
          </ul>
        </li>

        <li>
          <a href="#">Normal Menu</a>
          <ul
            class="nav nav-sub nav-full-item nav-bordered border p-0 animate__animated animate__flipInX"
          >
            <li><a href="#"> Action</a></li>
            <li><a href="#"> Another action</a></li>
            <li><a href="#"> Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#"> Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: .box -->

  <!-- BEGIN: .box -->
  <div class="box">
    <header>
      <h4>metisMenu Mega Menu Hoverable</h4>
      <div class="box-tools">
        <a href="https://github.com/onokumus/metisMenu" target="_blank"
          >metisMenu Doc</a
        >
      </div>
    </header>
    <div class="box-body p-0">
      <ul class="nav nav-hoverable navbar-nav nav-full" data-plugin="metismenu">
        <li class="position-static">
          <a href="#">Mega 1</a>
          <ul
            class="nav-sub nav-full-item border animate__animated animate__fadeInUp"
          >
            <div class="row">
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p1.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p2.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p3.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p4.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p5.svg"
                />
              </div>
              <div class="col-xs-6 col-sm-2">
                <img
                  class="img-responsive"
                  alt="Responsive image"
                  src="/chaldene/assets/img/p6.svg"
                />
              </div>
            </div>
          </ul>
        </li>
        <li class="position-static">
          <a href="#">Mega 2</a>
          <ul
            class="nav-sub nav-full-item bg-danger animate__animated animate__bounceIn"
          >
            lorem 2
          </ul>
        </li>

        <li>
          <a href="#">Normal Menu</a>
          <ul
            class="nav nav-sub nav-full-item nav-bordered border p-0 animate__animated animate__flipInX"
          >
            <li><a href="#"> Action</a></li>
            <li><a href="#"> Another action</a></li>
            <li><a href="#"> Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#"> Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: .box -->
</LayoutFirst>
