---
import LayoutFirst from "../layouts/LayoutFirst.astro";
---

<LayoutFirst title="Timeline">
  <script
    slot="scripts"
    is:inline
    src="/chaldene/assets/js/pagejs/ui-timeline.js"
  ></script>

  <div class="row">
    <div class="col-sm-6">
      <div class="f-3">Timeline</div>
      <ul class="timeline">
        <li class="timeline-item inview">
          <div class="timeline-icon bg-primary">
            <i class="fa fa-fw fa-picture-o"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading">
              <div class="timeline-time">30.08.2016</div>
              <div class="timeline-title">Lorem ipsum dolor</div>
            </header>
            <div class="timeline-content">
              <div class="media bg-white">
                <div class="media-left">
                  <a href="#">
                    <img
                      class="media-object img-responsive"
                      src="/chaldene/assets/img/p4.svg"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="media-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="timeline-item inview">
          <div class="timeline-icon bg-wisteria">
            <i class="fa fa-fw fa-times"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading">
              <div class="timeline-time">30.08.2016</div>
              <div class="timeline-title">Jane left.</div>
            </header>
          </div>
        </li>
        <li class="timeline-item inview">
          <div class="timeline-icon bg-alizarin">
            <i class="fa fa-fw fa-wrench"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading">
              <div class="timeline-time">30.08.2016</div>
              <div class="timeline-title">John posted email</div>
            </header>
            <div class="timeline-content">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Hello</h3>
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="timeline-item inview">
          <div class="timeline-icon bg-silver">
            <i class="fa fa-fw fa-leaf"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading">
              <div class="timeline-time">30.08.2016</div>
              <div class="timeline-title">John posted email</div>
            </header>
            <div class="timeline-content">
              <div class="thumbnail">
                <img src="/chaldene/assets/img/p5.svg" alt="..." />
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>lorem</p>
                  <p>
                    <a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- END: timeline left -->

    <!-- BEGIN: timeline right -->

    <div class="col-sm-6">
      <div class="f-3">Timeline Right</div>
      <ul class="timeline is-right">
        <li class="timeline-item inview">
          <div class="timeline-icon">
            <i class="fa fa-fw fa-search"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading">
              <div class="timeline-time">30.08.2016</div>
              <div class="timeline-title">John shared video</div>
            </header>
            <div class="timeline-content bg-white">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  class="embed-responsive-item"
                  src="https://player.vimeo.com/video/136920442"></iframe>
              </div>
            </div>
          </div>
        </li>
        <li class="timeline-item inview">
          <div class="timeline-icon">
            <i class="fa fa-fw fa-search"></i>
          </div>
          <div class="timeline-info">
            <header>30.08.2016</header>
            <main>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </main>
          </div>
        </li>
      </ul>
    </div>
    <!-- END: timeline right -->
  </div>

  <!-- BEGIN: timeline center -->
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <div class="f-3 text-center">Timeline Center</div>
      <ul class="timeline is-center">
        <li class="timeline-item inview">
          <div class="timeline-icon bg-white text-wisteria">
            <i class="fa fa-fw fa-home"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading">
              <div class="timeline-time">Ancient Greeks</div>
              <div class="timeline-title">ἤλεκτρον</div>
            </header>
            <main class="timeline-content">
              <div>
                <img
                  class="img-responsive"
                  src="/chaldene/assets/img/512px-Sicily_Selinunte_Temple_E_(Hera).JPG"
                  alt="Hera"
                />

                <p class="bg-wisteria text-white p-a-15">
                  The ancient Greeks noticed that amber attracted small objects
                  when rubbed with fur.
                </p>
              </div>
            </main>
          </div>
        </li>
        <li class="timeline-item inview">
          <div class="timeline-icon">
            <i class="fa fa-fw fa-search"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading is-last">
              <div class="timeline-time">1600</div>
              <div class="timeline-title">William Gilbert</div>
            </header>
            <div class="timeline-content">
              <div class="u-flex u-alignItemCenter u-flexRow bg-white p-a-15">
                <div class="u-sizeFillAlt">
                  <img
                    class="img-responsive"
                    src="/chaldene/assets/img/William_Gilbert_45626i.jpg"
                    alt="William Gilbert"
                  />
                </div>
                <div class="u-sizeFillAlt p-l-15">
                  In his 1600 treatise De Magnete, the English scientist William
                  Gilbert coined the New Latin term electricus, to refer to this
                  property of attracting small objects after being rubbed.
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="timeline-item inview">
          <div class="timeline-icon">
            <i class="fa fa-fw fa-search"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading is-last">
              <div class="timeline-time">Early 1700s</div>
              <div class="timeline-title">Frictional Electricity</div>
            </header>
            <div class="timeline-content">
              <p class="p-a-15 bg-pumpkin text-white">
                Francis Hauksbee and French chemist Charles François de Fay
                independently discovered what they believed were two kinds of
                frictional electricity—one generated from rubbing glass, the
                other from rubbing resin.
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-item inview">
          <div class="timeline-icon">
            <i class="fa fa-fw fa-search"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading">
              <div class="timeline-time">Between 1838 and 1851</div>
            </header>
            <div class="timeline-content">
              <p class="p-a-15 bg-white text-wisteria">
                British natural philosopher Richard Laming developed the idea
                that an atom is composed of a core of matter surrounded by
                subatomic particles that had unit electric charges.
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-item inview">
          <div class="timeline-icon">
            <i class="fa fa-fw fa-search"></i>
          </div>
          <div class="timeline-info">
            <header class="timeline-heading is-last">
              <div class="timeline-time">1874</div>
              <div class="timeline-title">
                <em>single definite quantity of electricity</em>
              </div>
            </header>
            <div class="timeline-content">
              <p class="p-a-15">
                After studying the phenomenon of electrolysis in 1874, Irish
                physicist George Johnstone Stoney suggested that there existed a
                "single definite quantity of electricity", the charge of a
                monovalent ion
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-item inview m-b-0 inview">
          <div class="timeline-icon bg-white text-asbestos">
            <a href="https://en.wikipedia.org/wiki/Electron" target="_blank">
              <i class="fa fa-fw fa-wikipedia-w"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: timeline center -->
</LayoutFirst>
