<!-- begin .app-footer -->
<footer class="app-footer p-t-10 text-white">
  <div class="container-fluid">
    <p class="text-center small">
      Copyright {{pkg.name}} v{{pkg.version}} &copy; 2016
    </p>
  </div>
</footer>
<!-- END: .app-footer -->
