<!-- begin content-heading -->
<header class="content-heading">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="content-icon">
        <i class="fa fa-fw fa-home"></i>
      </div>
      <div class="content-title">
        <h3>{{title}}</h3>
        <p>{{pkg.description}}</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="content-tools">
        <span data-momentum="clock"></span>
        {{!-- <input value="2016-08-20" class="flatpickr form-control" data-min-date=today data-max-date='2016-12-31'> --}}
      </div>
    </div>
  </div>
</header>
<!-- END: content-heading -->
