<!-- begin .content-breadcrumb -->
<div class="content-breadcrumb">
  <ol class="breadcrumb">
    <li><a href="index.html">Elk</a></li>
    <li class="active">{{title}}</li>
  </ol>
</div>
<!-- END: .content-breadcrumb -->
