<!-- begin .main-heading -->
<header class="main-heading">
  <div class="p-h-15">
    <button type="button" class="btn btn-default" data-fullscreen="page">
      <i class="fa fa-arrows-alt"></i>
    </button>
  </div>
</header>
<!-- END: .main-heading -->
