<!-- begin side-collapse-visible bar -->
  <div class="side-visible-line hidden-xs" data-side="collapse">
    <i class="fa fa-caret-{{#if rtl}}right{{else}}left{{/if}}"></i>
  </div>
<!-- begin side-collapse-visible bar -->
