<!-- BEGIN: alert -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info alert-dismissible fade in" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
      <h4>Welcome to Chaldene Bootstrap 3 Based Admin Toolkit</h4>
      <p>I hope you like it.</p>
    </div>
  </div>
</div>
<!-- END: alert -->

<!-- begin statarea chart -->
<div class="row">
  <div class="col-xs-6 col-sm-3">
    <div class="box p-0 bg-primary rounded">
      <div class="p-3">
        <span class="text-white">PAGE VIEWS</span>
        <div class="fs-1 text-white">
          <span class="counterup">43</span>
          <span class="h4">4% <i class="fa fa-fw fa-caret-up"></i></span>
        </div>
      </div>
      <hr class="mt-0 mb-1 " />
      <div>
        <canvas
          width="100"
          height="30"
          data-charty="statarea"
          data-label="Line"
          data-labels="['a','b','c','d','e','f','g']"
          data-value="[28,68,41,43,96,45,100]"
          data-border-color="#ffffff"
          data-background-color="rgba(255, 255, 255, 0.1)"></canvas>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="box p-0 bg-success rounded-3">
      <div class="p-3">
        <span class="text-white">DOWNLOADS</span>
        <div class="fs-1 text-white">
          <span class="counterup">896</span>
          <span class="h4">2.3% <i class="fa fa-fw fa-caret-up"></i></span>
        </div>
      </div>
      <hr class="mt-0 mb-1" />
      <div>
        <canvas
          width="100"
          height="30"
          data-charty="statarea"
          data-label="Line"
          data-labels="['a','b','c','d','e','f','g']"
          data-value="[4,34,64,27,96,50,80]"
          data-border-color="#ffffff"
          data-background-color="rgba(255, 255, 255, 0.1)"></canvas>
      </div>
    </div>
  </div>
  <div class="clearfix d-md-none"></div>

  <div class="col-xs-6 col-sm-3">
    <div class="box p-0 bg-danger rounded-3">
      <div class="p-3">
        <span class="text-white">NEW VISITOR</span>
        <div class="fs-1 text-white">
          <span class="counterup">1234</span>
          <span class="h4"
            ><span class="counterup">4.02</span>% <i
              class="fa fa-fw fa-caret-up"></i>
          </span>
        </div>
      </div>
      <hr class="mt-0 mb-1" />
      <div>
        <canvas
          width="100"
          height="30"
          data-charty="statarea"
          data-label="Line"
          data-labels="['a','b','c','d','e','f','g']"
          data-value="[12,38,32,94,36,54,68]"
          data-border-color="#ffffff"
          data-background-color="rgba(255, 255, 255, 0.1)"></canvas>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="box p-0 bg-dark rounded-3">
      <div class="p-3">
        <span class="text-white">RETURN</span>
        <div class="fs-1 text-white">
          <span class="counterup">91</span>
          <span class="h4"
            >2.1% <i class="fa fa-fw fa-caret-down text-danger"></i>
          </span>
        </div>
      </div>
      <hr class="mt-0 mb-1" />
      <div>
        <canvas
          width="100"
          height="30"
          data-charty="statline"
          data-label="Line"
          data-labels="['a','b','c','d','e','f','g']"
          data-value="[43,48,52,58,50,95,100]"
          data-border-color="#fff"></canvas>
      </div>
    </div>
  </div>
</div>
<!-- END: statarea chart -->

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-md-7">
    <!-- begin line chart -->
    <div class="box bg-warning rounded-2">
      <div class="d-flex flex-row">
        <div class="flex-fill d-flex flex-column">
          <div class="flex-fill p-4">
            <div class="fs-1 text-white text-end">
              <sup>$</sup><span class="counterup">1234</span>
              <div class="f-4">Weekly</div>
            </div>
          </div>
          <div class="p-3">
            <div class="progress is-xs m-0 mt-3">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="94"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 43%;"
              >
                <span class="sr-only">43% Complete</span>
              </div>
            </div>

            <div class="progress is-xs m-0 mt-3">
              <div
                class="progress-bar progress-bar-success"
                role="progressbar"
                aria-valuenow="94"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 78%;"
              >
                <span class="sr-only">78% Complete</span>
              </div>
            </div>

            <div class="progress is-xs m-0 mt-3">
              <div
                class="progress-bar progress-bar-info"
                role="progressbar"
                aria-valuenow="94"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 27%;"
              >
                <span class="sr-only">27% Complete</span>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-fill bg-danger p-2">
          <canvas
            width="100"
            height="100"
            data-charty="area"
            data-label="Area"
            data-labels="['Sun', 'Mon', 'Tur', 'Wed', 'Thu', 'Fri', 'Sat']"
            data-value="[10, 30, 20, 43, 57, 87, 43]"
            data-border-color="#fff"
            data-background-color="rgba(255, 255, 255, .5)"
            data-legend="true"
          >
          </canvas>
        </div>
      </div>
    </div>
    <!-- END: line chart -->
  </div>
  <div class="col-md-5">
    <!-- begin usa vector map -->
    <div class="box">
      <div id="jmap-usa" style="height: 400px; width: 100%;"></div>
    </div>
    <!-- END: usa vector map -->
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-sm-7">
    <div class="box shadow">
      <header class="text-bg-info">
        <h4>Last 10 Users</h4>
      </header>
      <div class="box-body">
        <table class="tablesorter table side-nav">
          <thead>
            <tr>
              <th>#</th>
              <th>User</th>
              <th>Name</th>
              <th>E-mail</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Bret</td>
              <td>Leanne Graham</td>
              <td>Sincere@april.biz</td>
              <td>Gwenborough</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Antonette</td>
              <td>Ervin Howell</td>
              <td>Shanna@melissa.tv</td>
              <td>Wisokyburgh</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Samantha</td>
              <td>Clementine Bauch</td>
              <td>Nathan@yesenia.net</td>
              <td>McKenziehaven</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Karianne</td>
              <td>Patricia Lebsack</td>
              <td>Julianne.OConner@kory.org</td>
              <td>South Elvis</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Kamren</td>
              <td>Chelsey Dietrich</td>
              <td>Lucio_Hettinger@annie.ca</td>
              <td>Roscoeview</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Leopoldo_Corkery</td>
              <td>Mrs. Dennis Schulist</td>
              <td>Karley_Dach@jasper.info</td>
              <td>South Christy</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Elwyn.Skiles</td>
              <td>Kurtis Weissnat</td>
              <td>Telly.Hoeger@billy.biz</td>
              <td>Howemouth</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Maxime_Nienow</td>
              <td>Nicholas Runolfsdottir V</td>
              <td>Sherwood@rosamond.me</td>
              <td>Aliyaview</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Delphine</td>
              <td>Glenna Reichert</td>
              <td>Chaim_McDermott@dana.io</td>
              <td>Bartholomebury</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Moriah.Stanton</td>
              <td>Clementina DuBuque</td>
              <td>Rey.Padberg@karina.biz</td>
              <td>Lebsackbury</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="box border">
      <header class="border-bottom">
        <h4>Todo</h4>
      </header>
      <div class="box-body">
        <ul class="todo-list is-order dragula">
          <li class="todo-item draggable handle">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            </a>
            <span class="todo-title">1 - delectus aut autem</span>
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            </a>
            <span class="todo-title"
              >2 - quis ut nam facilis et officia qui</span
            >
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            </a>
            <span class="todo-title">3 - fugiat veniam minus</span>
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle is-done">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-check-square"></i>
            </a>
            <span class="todo-title">4 - et porro tempora</span>
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            </a>
            <span class="todo-title"
              >5 - laboriosam mollitia et enim quasi adipisci quia provident
              illum</span
            >
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            </a>
            <span class="todo-title"
              >6 - qui ullam ratione quibusdam voluptatem quia omnis</span
            >
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            </a>
            <span class="todo-title">7 - illo expedita consequatur quia in</span
            >
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle is-done">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-check-square"></i>
            </a>
            <span class="todo-title">8 - quo adipisci enim quam ut ab</span>
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-square-o"></i>
            </a>
            <span class="todo-title">9 - molestiae perspiciatis ipsa</span>
          </li>
          <!-- /.todo-item -->
          <li class="todo-item draggable handle is-done">
            <a href="#" class="todo-link">
              <i class="fa fa-fw fa-lg fa-check-square"></i>
            </a>
            <span class="todo-title"
              >10 - illo est ratione doloremque quia maiores aut</span
            >
          </li>
          <!-- /.todo-item -->
        </ul>
        <!-- /.todo-list -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- END: .row -->

<!-- BEGIN: .row -->
<div class="row">
  <div class="col-sm-4">
    <div class="box shadow-sm rounded-2">
      <header class="border-bottom">
        <h4>Members</h4>
        <div class="ms-auto">
          <span class="badge bg-success">5</span>
        </div>
      </header>
      <div class="box-body">
        <ul class="members">
          <li class="member">
            <div class="member-media">
              <a class="member-media-link" href="#">
                <img
                  class="member-media-img"
                  src="/chaldene/assets/img/m1.svg"
                  alt="Bret"
                />
                <span class="member-status"></span>
              </a>
            </div>
            <div class="member-info">
              <h4 class="member-name">Leanne Graham</h4>
              <div class="member-skills">
                Multi-layered client-server neural-net
              </div>
            </div>
          </li>
          <!-- /.member -->
          <li class="member">
            <div class="member-media">
              <a class="member-media-link" href="#">
                <img
                  class="member-media-img"
                  src="/chaldene/assets/img/w2.svg"
                  alt="Antonette"
                />
                <span class="member-status is-active"></span>
              </a>
            </div>
            <div class="member-info">
              <h4 class="member-name">Ervin Howell</h4>
              <div class="member-skills">Proactive didactic contingency</div>
            </div>
          </li>
          <!-- /.member -->
          <li class="member">
            <div class="member-media">
              <a class="member-media-link" href="#">
                <img
                  class="member-media-img"
                  src="/chaldene/assets/img/m3.svg"
                  alt="Samantha"
                />
                <span class="member-status"></span>
              </a>
            </div>
            <div class="member-info">
              <h4 class="member-name">Clementine Bauch</h4>
              <div class="member-skills">Face to face bifurcated interface</div>
            </div>
          </li>
          <!-- /.member -->
          <li class="member">
            <div class="member-media">
              <a class="member-media-link" href="#">
                <img
                  class="member-media-img"
                  src="/chaldene/assets/img/w4.svg"
                  alt="Karianne"
                />
                <span class="member-status is-active"></span>
              </a>
            </div>
            <div class="member-info">
              <h4 class="member-name">Patricia Lebsack</h4>
              <div class="member-skills">
                Multi-tiered zero tolerance productivity
              </div>
            </div>
          </li>
          <!-- /.member -->
          <li class="member">
            <div class="member-media">
              <a class="member-media-link" href="#">
                <img
                  class="member-media-img"
                  src="/chaldene/assets/img/m5.svg"
                  alt="Kamren"
                />
                <span class="member-status"></span>
              </a>
            </div>
            <div class="member-info">
              <h4 class="member-name">Chelsey Dietrich</h4>
              <div class="member-skills">
                User-centric fault-tolerant solution
              </div>
            </div>
          </li>
          <!-- /.member -->
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box shadow-sm rounded-2">
      <header class="border-bottom">
        <h4>Tasks</h4>
        <div class="ms-auto">
          <div class="dropdown">
            <a
              class="dropdown-toggle"
              href="#"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="fa fa-fw fa-ellipsis-v text-muted"></span>
            </a>
            <ul
              class="dropdown-menu animate__animated animate__flipInY pull-end"
            >
              <li>
                <a href="#">Add Task</a>
              </li>
              <li>
                <a href="#">Edit Task</a>
              </li>
              <li>
                <a href="#">Delete Task</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <div class="box-body">
        <ul class="tasks">
          <li class="task">
            <div class="task-media bg-danger">
              <i class="fa fa-fw fa-plus"></i>
            </div>
            <div class="task-info">
              <a class="task-info-link" href="#">Mrs. Dennis Schulist</a>
              <span class="task-info-action">added new project</span>
              <a class="task-info-link" href="#">ola.org</a>
              <div class="task-info-time">
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-momentum="relative">July 06, 2022</span>
              </div>
            </div>
          </li>

          <li class="task">
            <div class="task-media bg-success">
              <i class="fa fa-fw fa-minus"></i>
            </div>
            <div class="task-info">
              <a class="task-info-link" href="#">Kurtis Weissnat</a>
              <span class="task-info-action">added new project</span>
              <a class="task-info-link" href="#">elvis.io</a>
              <div class="task-info-time">
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-momentum="relative">July 06, 2022</span>
              </div>
            </div>
          </li>

          <li class="task">
            <div class="task-media bg-danger">
              <i class="fa fa-fw fa-plus"></i>
            </div>
            <div class="task-info">
              <a class="task-info-link" href="#">Nicholas Runolfsdottir V</a>
              <span class="task-info-action">added new project</span>
              <a class="task-info-link" href="#">jacynthe.com</a>
              <div class="task-info-time">
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-momentum="relative">July 06, 2022</span>
              </div>
            </div>
          </li>

          <li class="task">
            <div class="task-media bg-success">
              <i class="fa fa-fw fa-minus"></i>
            </div>
            <div class="task-info">
              <a class="task-info-link" href="#">Glenna Reichert</a>
              <span class="task-info-action">added new project</span>
              <a class="task-info-link" href="#">conrad.com</a>
              <div class="task-info-time">
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-momentum="relative">July 06, 2022</span>
              </div>
            </div>
          </li>

          <li class="task">
            <div class="task-media bg-danger">
              <i class="fa fa-fw fa-plus"></i>
            </div>
            <div class="task-info">
              <a class="task-info-link" href="#">Clementina DuBuque</a>
              <span class="task-info-action">added new project</span>
              <a class="task-info-link" href="#">ambrose.net</a>
              <div class="task-info-time">
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-momentum="relative">July 06, 2022</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="box shadow-sm">
      <header>
        <h4>Visitors <small class="text-muted">by city</small></h4>
      </header>
      <div class="box-body p-0">
        <nav class="list-group m-0">
          <a href="#" class="list-group-item rounded-0">
            Gwenborough
            <span class="pull-end">90%</span>
            <span class="list-group-progress" style="width: 56%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            Wisokyburgh
            <span class="pull-end">91%</span>
            <span class="list-group-progress" style="width: 52%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            McKenziehaven
            <span class="pull-end">10%</span>
            <span class="list-group-progress" style="width: 68%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            South Elvis
            <span class="pull-end">16%</span>
            <span class="list-group-progress" style="width: 33%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            Roscoeview
            <span class="pull-end">85%</span>
            <span class="list-group-progress" style="width: 28%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            South Christy
            <span class="pull-end">23%</span>
            <span class="list-group-progress" style="width: 65%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            Howemouth
            <span class="pull-end">12%</span>
            <span class="list-group-progress" style="width: 37%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            Aliyaview
            <span class="pull-end">12%</span>
            <span class="list-group-progress" style="width: 51%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            Bartholomebury
            <span class="pull-end">14%</span>
            <span class="list-group-progress" style="width: 1%;"></span>
          </a>
          <a href="#" class="list-group-item rounded-0">
            Lebsackbury
            <span class="pull-end">45%</span>
            <span class="list-group-progress" style="width: 8%;"></span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- END: .row -->
