<!-- begin .navbar -->
<nav class="navbar navbar-default navbar-static-top shadow">
  <!-- begin .navbar-header -->
  <div class="navbar-header">
    <!-- begin .navbar-header-left with image -->
    <div class="navbar-header-left border-end">
      <!--begin logo-->
      <a class="logo" href="index.html">
        <span class="logo-xs d-md-none">
          <img src="/chaldene/assets/img/logo_xs.svg" alt="logo-xs" />
        </span>
        <span class="logo-lg d-none d-md-inline">
          <img src="/chaldene/assets/img/logo_lg.svg" alt="logo-lg" />
        </span>
      </a>
      <!--end logo-->
    </div>
    <!-- END: .navbar-header-left with image -->
    <nav class="nav navbar-header-nav">
      <a class="d-md-none border-end" href="#" data-side="collapse">
        <i class="fa fa-fw fa-bars"></i>
      </a>

      <a class="d-none d-md-inline border-end" href="#" data-side="mini">
        <i class="fa fa-fw fa-bars"></i>
      </a>

      <form class="navbar-form d-none d-md-inline border-end">
        <div class="icon-after-input">
          <input type="text" class="form-control" placeholder="Search" />
          <div class="icon">
            <a href="#">
              <i class="fa fa-fw fa-search"></i>
            </a>
          </div>
        </div>
      </form>
    </nav>

    <ul class="nav navbar-header-nav ms-auto">
      <li class="d-md-none border-start">
        <a href="#top-search" data-toggle="canvas">
          <i class="fa fa-fw fa-search"></i>
        </a>
      </li>
      <li class="dropdown border-start">
        <a
          class="dropdown-toggle"
          href="#"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="fa fa-fw fa-envelope-o position-relative"></span>

          <span class="badge bg-primary border-warning"
            >8
            <span class="waves"></span>
          </span>
        </a>
        <ul
          class="dropdown-menu animate__animated animate__fadeInDown w-sm pull-end"
        >
          <li class="border-bottom">
            <div class="media">
              <div class="media-left">
                <a class="profile-pic" href="#">
                  <img
                    class="media-object"
                    src="/chaldene/assets/img/w2.svg"
                    alt="..."
                  />
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <small class="pull-end">12 hours ago</small><b
                    >Leanne Graham</b>
                </h5>
                started following <strong>Ervin Howell</strong>
                <p class="text-muted">3 days ago at 7:12 pm - 10.12.2016</p>
              </div>
            </div>
          </li>
          <li class="border-bottom">
            <div class="media">
              <div class="media-left">
                <a class="profile-pic" href="#">
                  <img
                    class="media-object"
                    src="/chaldene/assets/img/m2.svg"
                    alt="..."
                  />
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <small class="pull-end">12 hours ago</small><b
                    >Leanne Graham</b>
                </h5>
                started following <strong>Ervin Howell</strong>
                <p class="text-muted">3 days ago at 7:12 pm - 10.12.2016</p>
              </div>
            </div>
          </li>
          <li>
            <a
              class="text-center d-block text-muted"
              href="app-mail-inbox.html"
            >
              <i class="fa fa-envelope"></i> Read All Messages
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown border-start">
        <a
          class="dropdown-toggle"
          href="#"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-fw fa-bell"></i>
          <span class="point bg-warning border-primary">
            <span class="waves"></span>
          </span>
        </a>
        <ul
          class="dropdown-menu pull-end w-sm animate__animated animate__fadeInUp"
        >
          <li class="p-3">
            <a href="app-mail-inbox.html">
              <div class="clearfix">
                <span class="pull-end text-muted small">4 minutes ago</span>
                <i class="fa fa-envelope fa-fw"></i>
                <small>12 messages</small>
              </div>
            </a>
          </li>
          <li class="p-3">
            <a href="app-mail-inbox.html">
              <div class="clearfix">
                <span class="pull-end text-muted small">3 minutes ago</span>
                <i class="fa fa-twitter fa-fw"></i>
                <small>4 follower</small>
              </div>
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="text-end">
            <a class="text-success" href="#"> See all notification</a>
          </li>
        </ul>
      </li>

      <li class="dropdown border-start">
        <a
          class="dropdown-toggle profile-pic"
          href="#"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="img-circle"
            src="/chaldene/assets/img/w1.svg"
            alt="Jane Doe"
          />
          <b class="d-none d-md-inline">Jane Doe</b>
        </a>
        <ul class="dropdown-menu animate__animated animate__flipInY pull-end">
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
          <li>
            <a href="#">Mail Box</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#">
              <i class="fa fa-fw fa-sign-out"></i>
              Logout
            </a>
          </li>
        </ul>
      </li>
      <!-- begin mega-menu -->
      <li class="dropdown position-static border-start d-none d-md-inline-block">
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Mega
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu nav-full-item">
          <li>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4">
                  <h1 class="text-muted">Heading 1</h1>
                  <h2 class="text-primary">Heading 2</h2>
                  <h3 class="text-warning">Heading 3</h3>
                  <h4 class="text-danger">Heading 4</h4>
                  <h5 class="text-success">Heading 5</h5>
                  <h6 class="text-info">Heading 6</h6>
                </div>
                <div class="col-sm-4">
                  <p>Default paragraph</p>
                  <p class="lead">lead paragraph</p>
                  <p class="text-muted">Muted paragraph</p>
                  <p class="text-warning">warning paragraph</p>
                  <p class="text-primary">primary paragraph</p>
                  <p class="text-info">info paragraph</p>
                  <p class="text-success">success paragraph</p>
                  <p class="text-danger">danger paragraph</p>
                </div>
                <div class="col-sm-4">
                  <img
                    class="img-responsive"
                    src="/chaldene/assets/img/p1.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <!-- END: mega-menu -->
    </ul>
  </div>
  <!-- END: .navbar-header -->
</nav>
<!-- END: .navbar -->
