---
import SideFooter from "./Footer/SideFooter.astro";

---

<!-- begin .app-side -->
<aside class="app-side">
    <!-- begin .side-content -->
    <div class="side-content flex-fill mb-auto">
      <!-- begin user-panel -->
      <div class="user-panel d-flex flex-row p-3">
        <div class="user-image">
          <a href="#">
            <img class="rounded-circle h-auto" height="40" width="40" src="/chaldene/assets/img/m1.svg" alt="John Doe">
          </a>
        </div>
        <div class="user-info d-flex flex-column flex-fill ps-3">
          <h5 class="m-0 mb-3 fw-normal">John Doe</h5>
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="text-info small dropdown-toggle bg-transparent p-0" data-toggle="dropdown">
                <i class="fa fa-fw fa-circle">
                </i> Online
              </a>
              <ul class="dropdown-menu animate__animated animate__flipInY pull-end">
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <a href="#">Contacts</a>
                </li>
                <li>
                  <a href="#">Mail Box</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">
                    <i class="fa fa-fw fa-sign-out"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- END: user-panel -->
      <!-- begin .side-nav -->
      <nav class="side-nav">
        <!-- BEGIN: nav-content -->
        <ul class="metismenu nav nav-stacked" data-plugin="metismenu">

          <li class="nav-header">MAIN</li>

          <!-- BEGIN: DASHBOARDS -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon"><i class="fa fa-fw fa-cogs"></i></span>
              <span class="nav-title">Dashboards</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li><a href="dashboard.html">Layout 1</a></li>
              <li><a href="dashboard2.html">Layout 2</a></li>
              <li><a href="dashboard3.html">Layout 3</a></li>
            </ul>
          </li>
          <!-- END: DASHBOARDS -->

          <li class="nav-divider"></li>
          <li class="nav-header">Components</li>

          <!-- BEGIN: chart -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon">
                <i class="fa fa-fw fa-bar-chart-o"></i>
              </span>
              <span class="nav-title">Chart</span>
              <span class="nav-tools">
                <span class="badge bg-primary">4</span>
              </span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li><a href="chart-quick.html">Quick Chart</a></li>
              <li><a href="chart-chartjs.html">Chart.js</a></li>
              <li><a href="chart-morris.html">Morris</a></li>
              <li><a href="chart-flot.html">Flot</a></li>
              <li><a href="chart-inline.html">Inline charts</a></li>
            </ul>
          </li>
          <!-- END: chart -->

          <!-- BEGIN: maps -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon"><i class="fa fa-fw fa-map"></i></span>
              <span class="nav-title">Maps</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li><a href="map-google.html">Google Maps</a></li>
              <li><a href="map-vector.html">Vector Maps</a></li>
            </ul>
          </li>
          <!-- END: maps -->

          <!-- BEGIN: ui -->
          <li>
            <a href="#" class="has-arrow">

              <span class="nav-icon"><i class="fa fa-fw fa-tachometer"></i></span>
              <span class="nav-title">UI</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li><a href="ui-general.html">General</a></li>
              <li><a href="ui-font.html">Font</a></li>
              <li><a href="ui-widgets.html">Widgets</a></li>
              <li><a href="ui-momentum.html">Momentum</a></li>
              <li><a href="ui-nav.html">Nav</a></li>
              <li><a href="ui-todo.html">Todo</a></li>
              <li><a href="ui-mega.html">Mega Menu</a></li>
              <li><a href="ui-tab.html">Tab</a></li>
              <li><a href="ui-color.html">Colors</a></li>
              <li><a href="ui-button.html">Buttons</a></li>
              <li><a href="ui-canvas.html">Canvas</a></li>
              <li><a href="ui-slider.html">Slider</a></li>
              <li><a href="ui-timeline.html">Timeline</a></li>

              <!-- BEGIN: icon -->
              <li>
                <a href="#" class="has-arrow">
                  <span class="nav-title">Icons</span>
                </a>
                <ul class="nav nav-sub nav-stacked">
                  <li>
                    <a href="ui-icon-awesome.html">
                      <span class="nav-icon"><i class="fa fa-fw fa-font-awesome"></i></span>
                      <span class="nav-title">Font Awesome</span>
                    </a>
                  </li>
                  <li>
                    <a href="ui-icon-glyphicon.html">
                      <span class="nav-icon"><i class="glyphicon glyphicon-fire"></i></span>
                      <span class="nav-title">Glyphicons</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- END: icon -->
            </ul>
          </li>
          <!-- END: ui -->

          <!-- BEGIN: forms -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon"><i class="fa fa-fw fa-edit"></i></span>
              <span class="nav-title">Forms</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li><a href="form-basic.html">Basic</a></li>
              <li><a href="form-advanced.html">Advanced</a></li>
              <li><a href="form-wizard.html">Wizard</a></li>
              <li><a href="form-upload.html">File Upload</a></li>
              <li><a href="form-editor.html">Text Editor</a></li>
            </ul>
          </li>
          <!-- END: forms -->

          <!-- BEGIN: table -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon"><i class="fa fa-fw fa-table"></i></span>
              <span class="nav-title">Table</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li>
                <a href="table-basic.html">Basic
                </a>
              </li>
              <li>
                <a href="table-sortable.html">Sortable</a>
              </li>
              <li>
                <a href="table-datatable.html">Datatables</a>
              </li>
            </ul>
          </li>
          <!-- END: table -->

          <!-- BEGIN: apps -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon"><i class="fa fa-fw fa-pagelines"></i></span>
              <span class="nav-title">App</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li>
                <a href="app-calendar.html">Calendar
                </a>
              </li>
              <li>
                <a href="app-login.html">Login</a>
              </li>
              <li>
                <a href="app-locked.html">Locked</a>
              </li>
              <li>
                <a href="app-register.html">Register</a>
              </li>
              <li>
                <a href="app-forgot.html">Forgot</a>
              </li>
              <li>
                <a href="app-404.html">404</a>
              </li>
              <li>
                <a href="app-500.html">500</a>
              </li>

              <!-- BEGIN: mail -->
              <li>
                <a href="#" class="has-arrow">
                  <span class="nav-icon"><i class="fa fa-fw fa-envelope-o"></i></span>
                  <span class="nav-title">Mail</span>
                </a>
                <ul class="nav nav-sub nav-stacked">
                  <li>
                    <a href="app-mail-inbox.html">Inbox</a>
                  </li>
                  <li>
                    <a href="app-mail-compose.html">Compose</a>
                  </li>
                  <li>
                    <a href="app-mail-read.html">Read</a>
                  </li>
                </ul>
              </li>
              <!-- END: mail -->
            </ul>
          </li>
          <!-- BEGIN: apps -->

          <!-- BEGIN: blank pages -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon"><i class="fa fa-fw fa-square-o"></i></span>
              <span class="nav-title">Blank Pages</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li>
                <a href="blank-one-col.html">One Column Content
                </a>
              </li>
              <li>
                <a href="blank-two-col-1.html">Two Column Content 1</a>
              </li>
              <li>
                <a href="blank-two-col-2.html">Two Column Content 2</a>
              </li>
              <li>
                <a href="blank-three-col-1.html">Three Column Content
                  1</a>
              </li>
              <li>
                <a href="blank-three-col-2.html">Three Column Content
                  2</a>
              </li>
              <li>
                <a href="blank-three-col-3.html">Three Column Content
                  3</a>
              </li>
              <li>
                <a href="blank-four-col.html">Four Column Content</a>
              </li>
            </ul>
          </li>
          <!-- END: blank pages -->

          <li class="nav-divider"></li>

          <!-- BEGIN: utility -->
          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon"><i class="fa fa-fw fa-wrench"></i></span>
              <span class="nav-title">Utility</span>
            </a>
            <ul class="nav nav-sub nav-stacked">
              <li>
                <a href="u-spacing.html">Spacing
                </a>
              </li>
              <li>
                <a href="u-border.html">Border</a>
              </li>
              <li>
                <a href="u-overflow.html">Overflow</a>
              </li>
              <li>
                <a href="u-display.html">Display</a>
              </li>
              <li>
                <a href="u-flex.html">Flexbox</a>
              </li>
              <li>
                <a href="u-shadow.html">Shadow</a>
              </li>
              <li>
                <a href="u-waves.html">Waves Effect</a>
              </li>
            </ul>
          </li>
          <!-- BEGIN: utility -->

          <li>
            <a href="#" class="has-arrow">
              <span class="nav-icon">
                <i class="fa fa-fw fa-code"></i>
              </span>
              <span class="nav-title">Multilevel</span>
            </a>
            <ul class="nav nav-sub">
              <li>
                <a href="#">
                  <span class="nav-title">Level 1</span>
                </a>
              </li>
              <li>
                <a href="#" class="has-arrow">
                  <span class="nav-title">Level 1</span>
                </a>
                <ul class="nav nav-sub">
                  <li>
                    <a href="#">
                      <span class="nav-title">Level 2</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="has-arrow">
                      <span class="nav-title">Level 2</span>
                    </a>
                    <ul class="nav nav-sub">
                      <li>
                        <a href="#">
                          <span class="nav-title">Level 3</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="nav-title">Level 3</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <span class="nav-title">Level 1</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-divider"></li>

          <li>
            <a href="document.html">
              <span class="nav-icon">
                <i class="fa fa-fw fa-book text-danger"></i>
              </span>
              <span class="nav-title">Document</span>
            </a>
          </li>
        </ul>
        <!-- END: nav-content -->
      </nav>
      <!-- END: .side-nav -->
    </div>
    <!-- END: .side-content -->
    <SideFooter />
  </aside>
  <!-- END: .app-side -->