<!-- begin .side-heading -->
<header class="side-heading">
  <div class="clearfix visible-xs b-b b-wet-asphalt m-b-10">
    <a class="b-a b-wet-asphalt visible-xs p-a-10 m-a-10 pull-right text-clouds" href="#" data-side="collapse">
      <i class="fa fa-fw fa-bars"></i>
    </a>
  </div>
  <!--begin logo-->
  <a class="logo" href="index.html">
    <span class="logo-xs">
      <span class="logo-text">{{#if demo}}A{{else}}E{{/if}}</span>
    </span>
    <span class="logo-lg">
      <span class="logo-text">{{projectName}}</span>
    </span>
  </a>
  <!--end logo-->
</header>
<!-- END: .side-heading -->
