<!-- begin .side-heading -->
<header class="side-heading">
  <div class="clearfix visible-xs border-bottom border-dark mb-2">
    <a class="border border-dark visible-xs p-a-10 m-a-10 pull-right text-light" href="#" data-side="collapse">
      <i class="fa fa-fw fa-bars"></i>
    </a>
  </div>
  <!--begin logo-->
  <a class="logo">
    <span class="logo-xs">
      <img src="assets/img/logo_xs.{{#if demo}}svg{{else}}png{{/if}}" alt="logo-xs">
    </span>
    <span class="logo-lg">
        <img src="assets/img/logo_lg.{{#if demo}}svg{{else}}png{{/if}}" alt="logo-lg">
    </span>
  </a>
  <!--end logo-->
</header>
<!-- END: .side-heading -->
