<!-- begin .side-heading -->
<header class="side-heading">
  <div class="clearfix visible-xs b-b b-wet-asphalt m-b-10">
    <a class="b-a b-wet-asphalt visible-xs p-a-10 m-a-10 pull-right text-clouds" href="#" data-side="collapse">
      <i class="fa fa-fw fa-bars"></i>
    </a>
  </div>
  <!--begin logo-->
  <a class="logo">
    <span class="logo-xs">
      <img src="../assets/img/logo_xs.{{#if demo}}svg{{else}}png{{/if}}" alt="logo-xs">
    </span>
    <span class="logo-lg">
        <img src="../assets/img/logo_lg.{{#if demo}}svg{{else}}png{{/if}}" alt="logo-lg">
    </span>
  </a>
  <!--end logo-->
</header>
<!-- END: .side-heading -->
