<!-- begin statarea chart -->
<div class="row">
  <div class="col-xs-6 col-sm-3">
    <div class="box p-a-0 bg-peter-river b-r-3">
      <div class="p-a-15">
        <span class="text-white">PAGE VIEWS</span>
        <div class="f-5 text-white">
          <span class="counterup">43</span>
          <span class="h4">4% <i class="fa fa-fw fa-caret-up"></i></span>
        </div>
      </div>
      <hr class="m-t-0 m-b-5 b-s-dashed">
      <div>
        {{> chart-statarea }}
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="box p-a-0 bg-nephritis b-r-3">
      <div class="p-a-15">
        <span class="text-white">DOWNLOADS</span>
        <div class="f-5 text-white">
          <span class="counterup">896</span>
          <span class="h4">2.3% <i class="fa fa-fw fa-caret-up"></i></span>
        </div>
      </div>
      <hr class="m-t-0 m-b-5">
      <div>
        {{> chart-statarea2 }}
      </div>
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-6 col-sm-3">
    <div class="box p-a-0 bg-wisteria b-r-3">
      <div class="p-a-15">
        <span class="text-white">NEW VISITOR</span>
        <div class="f-5 text-white">
          <span class="counterup">1234</span>
          <span class="h4"><span class="counterup">4.02</span>% <i class="fa fa-fw fa-caret-up"></i></span>
        </div>
      </div>
      <hr class="m-t-0 m-b-5">
      <div>
        {{> chart-statarea3 }}
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="box p-a-0 bg-concrete b-r-3">
      <div class="p-a-15">
        <span class="text-white">RETURN</span>
        <div class="f-5 text-white">
          <span class="counterup">91</span>
          <span class="h4">2.1% <i class="fa fa-fw fa-caret-down text-alizarin"></i></span>
        </div>
      </div>
      <hr class="m-t-0 m-b-5">
      <div>
        {{> chart-statline}}
      </div>
    </div>
  </div>
</div>
<!-- END: statarea chart -->
