<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="password">
  </div>
  <div class="form-group">
    <label>
      <input class="hidden" type="checkbox">
      <i class="fa fa-lg text-primary"></i>
      <span class="text-muted">Remember Me</span>
    </label>
  </div>
  <div class="clearfix">
    <button class="btn btn-info pull-right" type="button" name="button">Sign in</button>
  </div>
</form>
