{{#if color}}
<div class="u-flex u-flexWrap u-flexRow u-flexJustifyEnd">
  {{#each color}}
    <div class="u-sizeFill p-a-5 m-a-5 bg-white bg-hover-{{.}} b-a b-{{.}}">
      .bg-hover-{{.}}
    </div>
  {{/each}}
  </div>
{{/if}}
