{{#if color}}
<div class="d-flex flex-wrap flex-row justify-content-end dragula">
  {{#each color}}
    <div class="flex-fill p-a-20 bg-{{.}} draggable handle">
      .bg-{{.}}
    </div>
  {{/each}}
  </div>
{{/if}}
