{{#if color}}
<div class="d-flex flex-wrap flex-row justify-content-end">
  {{#each color}}
    <div class="flex-fill p-a-5 m-a-5 bg-white bg-hover-{{.}} b-a b-{{.}}">
      .bg-hover-{{.}}
    </div>
  {{/each}}
  </div>
{{/if}}
