<div class="d-flex flex-wrap flex-row justify-content-end dragula">
  <div class="flex-fill p-4 bg-primary text-white draggable handle">
    .bg-primary
  </div>
  <div class="flex-fill p-4 bg-secondary text-white draggable handle">
    .bg-secondary
  </div>
  <div class="flex-fill p-4 bg-success text-white draggable handle">
    .bg-success
  </div>
  <div class="flex-fill p-4 bg-danger text-white draggable handle">
    .bg-danger
  </div>
  <div class="flex-fill p-4 bg-warning text-dark draggable handle">
    .bg-warning
  </div>
  <div class="flex-fill p-4 bg-info text-dark draggable handle">
    .bg-info
  </div>
  <div class="flex-fill p-4 bg-light text-dark draggable handle">
    .bg-light
  </div>
  <div class="flex-fill p-4 bg-dark text-white draggable handle">
    .bg-dark
  </div>
  <div class="flex-fill p-4 bg-body text-dark draggable handle">
    .bg-body
  </div>
  <div class="flex-fill p-4 bg-white text-dark draggable handle">
    .bg-white
  </div>
  <div class="flex-fill p-4 bg-transparent text-dark draggable handle">
    .bg-transparent
  </div>
</div>
