{{#if color}}
<div class="u-flex u-flexWrap u-flexRow u-flexJustifyEnd dragula">
  {{#each color}}
    <div class="u-sizeFillAlt p-a-20 bg-{{.}} draggable handle">
      .bg-{{.}}
    </div>
  {{/each}}
  </div>
{{/if}}
