{{#if color}}
<div class="d-flex flex-wrap flex-row justify-content-between">
  {{#each color}}
    <div class="flex-fill p-a-15">
      <a href="#" class="f-6 p-a-5 text-{{.}}">{{.}}</a>
    </div>
  {{/each}}
  </div>
{{/if}}
