<div id="example-basic">
  <span>First</span>
  <section>
    <div class="text-center text-muted">
      <h2>This is first content</h2>
    </div>
  </section>
  <span>Second</span>
  <section>
    <div class="text-center text-muted">
      <h2>This is second content</h2>
    </div>
  </section>
  <span>Third</span>
  <section>
    <div class="text-center text-muted">
      <h2>This is third content</h2>
    </div>
  </section>

  <span>Fourth</span>
  <section>
    <div class="text-center text-muted">
      <h2>This is fourth content</h2>
      <p class="text-primary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>
</div>
