<div class="form-group">
    <label class="control-label col-sm-2">Disabled input</label>

    <div class="col-sm-10">
        <input type="text" value="disabled" disabled class="form-control">
    </div>
</div>
