<div class="form-group">
    <label for="textarea2" class="col-sm-2 control-label">Text Area disabled</label>
    <div class="col-sm-10">
       <textarea class="form-control" rows="3" id="textarea2" placeholder="Type ..." disabled></textarea>
   </div>
</div>
