<div class="form-group">
    <label for="textarea1" class="col-sm-2 control-label">Text Area</label>
    <div class="col-sm-10">
       <textarea class="form-control" rows="3" id="textarea1" placeholder="Type ..."></textarea>
   </div>
</div>
