<div class="form-group">
    <label for="pass1" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
       <input type="password" class="form-control" id="pass1" placeholder="Type ...">
   </div>
</div>
