<div class="form-group">
    <label for="text1" class="col-sm-2 control-label">Text</label>
    <div class="col-sm-10">      
       <input type="text" class="form-control" id="text1" placeholder="Type ...">
   </div>
</div>
