<div class="form-group">
    <label class="control-label col-sm-2">Read only</label>
    <div class="col-sm-10">
        <input type="text" value="read only" readonly class="form-control">
    </div>
</div>
