<div class="form-group">
  <label  class="col-sm-2 control-label">checkbox</label>
  <div class="col-sm-10">
    <div class="checkbox">
      <label>
        <input type="checkbox" value=""> Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div>
    <div class="checkbox disabled">
      <label>
        <input type="checkbox" value="" disabled> Option two is disabled
      </label>
    </div>
  </div>
</div>

<hr class="dashed">

<div class="form-group">
  <label class="col-sm-2 control-label">checkbox-inline</label>

  <div class="col-sm-10">
    <label class="checkbox-inline">
      <input value="option1" id="inlineCheckbox1" type="checkbox"> a </label>
    <label class="checkbox-inline">
      <input value="option2" id="inlineCheckbox2" type="checkbox"> b </label>
    <label class="checkbox-inline">
      <input value="option3" id="inlineCheckbox3" type="checkbox"> c </label>
  </div>
</div>
